<div class="row">
  <div class="col-xs-12">
    sort
    | <button {{action "toggleSort" "metric"}}>metric</button>
    | <button {{action "toggleSort" "dataset"}}>dataset</button>
    | <button {{action "toggleSort" "change"}}>change</button>
    | <button {{action "toggleSort" "score"}}>score</button>
  </div>
</div>

  <div class="rootcause-metric__wrapper">
    {{models-table
      data=metricsTableData
      columns=metricsTableColumns
      showColumnsDropdown=false
      showGlobalFilter=false}}
  </div>