<section class="te-page__top te-search-results">
  <div class="container">
    <div class="te-search-results__header">
      <div class="te-search-results__title-group">
        <div class="te-search-results__title">
          <span title={{alertData.functionName}}>
            {{alertData.functionName}}
          </span>
          <div class="te-search-results__tag {{if alertData.isActive "te-search-results__tag--active"}}">
            {{if alertData.isActive "Active" "Inactive"}}
          </div>
        </div>
      </div>
        <div class="te-search-results__cta">
          {{#link-to "manage.alerts.edit" alertData.id tagName="button" type="button" class="te-button te-button--sub"}}Edit{{/link-to}}
          <button {{action "onClickAlertSubscribe"}} class="te-button te-button--main">Subscribe</button>
        </div>
    </div>
    <ul class="te-search-results__list te-search-results__list--details-block row">
      <div class="col-xs-12 col-sm-5">
        <li class="te-search-results__row">
          {{!-- Todo: Dry this out --}}
          <div class="te-search-results__option te-search-results__option--solo">Metric</div>
          <div class="te-search-results__value-solo" title={{alertData.metric}}>{{alertData.metric}}</div>
        </li>
        <li class="te-search-results__row">
          <div class="te-search-results__option te-search-results__option--solo">Dataset</div>
          <div class="te-search-results__value-solo" title={{alertData.collection}}>
            <span class="{{unless alertData.collection 'te-search-results__prop--missing' 'te-search-results__prop'}}">
              {{if alertData.collection alertData.collection 'N/A'}}
            </span>
          </div>
        </li>
        <li class="te-search-results__row">
          <div class="te-search-results__option te-search-results__option--solo">Filtered by</div>
          <div class="te-search-results__value-solo" title={{alertData.filters}}>
            <span class="{{unless alertData.filters 'te-search-results__prop--missing' 'te-search-results__prop'}}">
              {{if alertData.filters alertData.filters 'N/A'}}
            </span>
          </div>
        </li>
        <li class="te-search-results__row">
          <div class="te-search-results__option te-search-results__option--solo">Breakdown by</div>
          <div class="te-search-results__value-solo" title={{alertData.exploreDimensions}}>
            <span class="{{unless alertData.exploreDimensions 'te-search-results__prop--missing' 'te-search-results__prop'}}">
              {{if alertData.exploreDimensions alertData.exploreDimensions 'N/A'}}
            </span>
          </div>
        </li>
      </div>
      <div class="col-xs-12 col-sm-7">
        <li class="te-search-results__row">
          <div class="te-search-results__option te-search-results__option--solo">Owner</div>
          <div class="te-search-results__value-solo" title={{alertData.createdBy}}>
            <span class="{{unless alertData.createdBy 'te-search-results__prop--missing' 'te-search-results__prop'}}">
              {{if alertData.createdBy alertData.createdBy 'N/A'}}
            </span>
          </div>
        </li>
        <li class="te-search-results__row">
          <div class="te-search-results__option te-search-results__option--solo">Application</div>
          <div class="te-search-results__value-solo" title={{alertData.application}}>
            <span class="{{unless alertData.application 'te-search-results__prop--missing' 'te-search-results__prop'}}">
              {{if alertData.application alertData.application 'N/A'}}
            </span>
          </div>
        </li>
        <li class="te-search-results__row">
          <div class="te-search-results__option te-search-results__option--solo">Anomaly Pattern</div>
          <div class="te-search-results__value-solo" title={{alertData.pattern}}>{{alertData.pattern}}</div>
        </li>
        <li class="te-search-results__row">
          <div class="te-search-results__option te-search-results__option--solo">Mailing List</div>
          <div class="te-search-results__value-solo" title={{alertData.group}}>
            <span class="{{unless alertData.group 'te-search-results__prop--missing' 'te-search-results__prop'}}">
              {{if alertData.group alertData.group 'N/A'}}
            </span>
          </div>
        </li>
      </div>
    </ul>
  </div>
</section>

<section class="te-page__bottom">
  <div class="container">
    {{#if (not isReplayPending)}}
      {{!-- {{#if filteredAnomalies}} --}}
        <div class="te-pill-selectors">
          {{!-- Date range selector --}}
          <div class="te-pill-selectors__label">Showing</div>
          <ul class="te-alert-page-hzlist">
            {{#each timeRangeOptions as |range|}}
              <li class="te-alert-page-hzlist__item {{if range.isActive "te-alert-page-hzlist__item--active"}}" {{action "onRangeOptionClick" range}}>
                {{range.name}}
                {{#if (eq range.name "Custom")}}
                  : {{date-range-picker
                    class="te-pill-selectors__range-picker"
                    timePicker=false
                    timePicker24Hour=true
                    timePickerIncrement=timePickerIncrement
                    maxDate=maxTime
                    start=viewRegionStart
                    end=viewRegionEnd
                    ranges=predefinedRanges
                    showCustomRangeLabel=false
                    format=uiDateFormat
                    serverFormat="YYYY-MM-DD HH:mm"
                    applyAction=(action "onRangeSelection")
                  }}
                {{/if}}

              </li>
            {{/each}}
          </ul>
        </div>

        <div class="te-horizontal-cards te-content-block">
          <h4 class="te-alert-page__subtitle">Alert Performance</h4>
          <a class="te-pill-selectors__side-link" href="#">Customize sensitivity</a>
          <div class="te-horizontal-cards__container">
            {{!-- Alert anomaly stats cards --}}
            {{#each anomalyStats as |card|}}
              <ul class="te-horizontal-cards__card">
                <li class="te-horizontal-cards__card-title">{{card.title}}</li>
                <li class="te-horizontal-cards__card-value">{{card.value}}
                  <div class="te-horizontal-cards__card-tooltip">
                    <span>
                      <i class="glyphicon glyphicon-question-sign"></i>
                      {{#tooltip-on-element class="te-tooltip"}}{{card.text}}{{/tooltip-on-element}}
                    </span>
                  </div>
                </li>
                <li class="te-horizontal-cards__card-text">
                  {{#if card.projected}}
                    Projected: <strong>{{card.projected}}</strong>
                  {{/if}}
                </li>
              </ul>
            {{/each}}
          </div>
        </div>

        <div class="te-content-block">
          <h4>Anomalies over time ({{filteredAnomalies.length}})</h4>
          <a class="te-pill-selectors__side-link te-pill-selectors__side-link--high" href="#">Report missing anomaly</a>

          <div class="te-pill-selectors">
            {{!-- Dimension selector --}}
            <div class="te-pill-selectors__range-picker col-md-3">
              {{#power-select
                triggerId="select-dimension"
                triggerClass="te-form__select"
                options=dimensionOptions
                searchEnabled=false
                selected=selectedDimension
                onchange=(action "onSelectDimension")
                as |dimension|
              }}
                {{dimension}}
              {{/power-select}}
            </div>
            {{!-- Resolution selector --}}
            <div class="te-pill-selectors__range-picker col-md-3">
              {{#power-select
                triggerId="select-resolution"
                triggerClass="te-form__select"
                options=resolutionOptions
                searchEnabled=false
                selected=selectedResolution
                onchange=(action "onSelectResolution")
                as |resolution|
              }}
                {{resolution}}
              {{/power-select}}
            </div>
          </div>

          {{!-- Alert anomaly graph --}}
          <div class="te-graph-container col-xs-12">
            <div class="te-graph-alert {{if (not isGraphReady) 'te-graph-alert--pending'}}">
              {{#if isMetricDataLoading}}
                <div class="spinner-wrapper--self-serve">{{ember-spinner}}</div>
              {{/if}}
              {{#if isGraphReady}}
                {{anomaly-graph
                  primaryMetric=metricData
                  isLoading=loading
                  showSubchart=true
                  showLegend=false
                  legendText=legendText
                  enableZoom=true
                  componentId='create-alert'
                  showGraphLegend=false
                  height=400
                }}
              {{else}}
                 <div class="te-graph-alert__content">
                  <div class="glyphicon glyphicon-equalizer}} te-graph-alert__icon"></div>
                  <p class="te-graph-alert__pre-text">Loading graph...</p>
                </div>
              {{/if}}
            </div>
          </div>

          {{#if filteredAnomalies}}
            {{!-- Baseline type selector --}}
            <div class="te-pill-selectors">
              <div class="te-pill-selectors__label">Baseline</div>
              <ul class="te-alert-page-hzlist">
                {{#each baselineOptions as |baseline|}}
                  <li class="te-alert-page-hzlist__item {{if baseline.isActive "te-alert-page-hzlist__item--active"}}" {{action "onBaselineOptionClick" baseline}}>
                    {{baseline.name}}
                  </li>
                {{/each}}
              </ul>
            </div>

          {{else}}
            No anomalies to show.
          {{/if}}

            {{!-- Alert anomaly table --}}
            <table class="te-anomaly-table">
              {{#if filteredAnomalies}}
              <thead>
                <tr class="te-anomaly-table__row te-anomaly-table__head">
                   <th class="te-anomaly-table__cell-head">
                    <a class="te-anomaly-table__cell-link" {{action "toggleSortDirection" "start"}}>
                      Start/Duration (PDT)
                      <i class="te-anomaly-table__glyph glyphicon {{if sortColumnStartUp "glyphicon-menu-up" "glyphicon-menu-down"}}"></i>
                    </a>
                   </th>
                   <th class="te-anomaly-table__cell-head">Dimensions</th>
                   <th class="te-anomaly-table__cell-head">
                    <a class="te-anomaly-table__cell-link" {{action "toggleSortDirection" "score"}}>
                      Severity Score
                      <i class="te-anomaly-table__glyph glyphicon {{if sortColumnScoreUp "glyphicon-menu-up" "glyphicon-menu-down"}}"></i>
                    </a>
                   </th>
                   <th class="te-anomaly-table__cell-head">
                    <a class="te-anomaly-table__cell-link" {{action "toggleSortDirection" "change"}}>
                      Current/WoW
                      <i class="te-anomaly-table__glyph glyphicon {{if sortColumnChangeUp "glyphicon-menu-up" "glyphicon-menu-down"}}"></i>
                    </a>
                   </th>
                   <th class="te-anomaly-table__cell-head">
                    <a class="te-anomaly-table__cell-link" {{action "toggleSortDirection" "resolution"}}>
                      Resolution
                      <i class="te-anomaly-table__glyph glyphicon {{if sortColumnResolutionUp "glyphicon-menu-up" "glyphicon-menu-down"}}"></i>
                    </a>
                 </th>
                </tr>
              </thead>
              {{else}}
                No anomalies to show.
              {{/if}}
              <tbody>
                {{#each paginatedFilteredAnomalies as |anomaly|}}
                  <tr class="te-anomaly-table__row">
                     <td class="te-anomaly-table__cell">
                      <ul class="te-anomaly-table__list">
                        <li class="te-anomaly-table__list--stronger">{{anomaly.startDateStr}}</li>
                        <li class="te-anomaly-table__list--lighter">{{anomaly.durationStr}}</li>
                      </ul>
                     </td>
                     <td class="te-anomaly-table__cell">
                      <ul class="te-anomaly-table__list">
                       {{#each anomaly.dimensionList as |dimension|}}
                          <li class="te-anomaly-table__list--smaller">
                            {{dimension.dimensionKey}}: {{dimension.dimensionVal}}
                          </li>
                       {{else}}
                          -
                       {{/each}}
                      </ul>
                     </td>
                     <td class="te-anomaly-table__cell">{{anomaly.severityScore}}</td>
                     <td class="te-anomaly-table__cell">
                      <ul class="te-anomaly-table__list">
                        <li>{{anomaly.shownCurrent}} / {{anomaly.shownBaseline}}</li>
                        <li class="te-anomaly-table__list--warning">({{anomaly.shownChangeRate}}%)</li>
                      </ul>
                     </td>
                     <td class="te-anomaly-table__cell">
                        {{#if anomaly.showResponseSaved}}
                          <i class="te-anomaly-table__glyph--status glyphicon glyphicon-ok-circle"></i>
                        {{/if}}

                        {{#if anomaly.showResponseFailed}}
                          <i class="te-anomaly-table__glyph--status glyphicon glyphicon-remove-circle"></i>
                        {{/if}}

                        {{#power-select
                          triggerId=anomaly.anomalyId
                          triggerClass="te-anomaly-table__select"
                          options=responseOptions
                          searchEnabled=false
                          selected=anomaly.anomalyFeedback
                          onchange=(action "onChangeAnomalyResponse" anomaly)
                          as |response|
                        }}
                          {{response}}
                        {{/power-select}}

                        <a target="_blank" class="te-anomaly-table__link" href="/thirdeye#anomalies?anomaliesSearchMode=id&pageNumber=1&anomalyIds={{anomaly.anomalyId}}">investigate</a>
                     </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>

            {{!--pagination--}}
            {{#if (gt pagesNum 1)}}
              <nav class="text-center" aria-label="Page navigation">
                <ul class="pagination">
                  <li class={{if (eq currentPage 1) 'active disabled'}} >
                    <a href="#" {{action "onPaginationClick" 1}} aria-label="First">
                      <span aria-hidden="true">First</span>
                    </a>
                  </li>
                  <li class={{if (eq currentPage 1) 'active disabled'}}>
                    <a href="#" {{action "onPaginationClick" "previous"}} aria-label="Previous">
                      <span aria-hidden="true">Previous</span>
                    </a>
                  </li>
                  {{#each viewPages as |page|}}
                    <li class={{if (eq page currentPage) 'active'}}><a href="#" {{action "onPaginationClick" page}}>{{page}}</a></li>
                  {{/each}}
                  <li class={{if (eq currentPage pagesNum) 'disabled'}} >
                    <a href="#" {{action "onPaginationClick" "next"}} aria-label="Next">
                      <span aria-hidden="true">Next</span>
                    </a>
                  </li>
                  <li class={{if (eq currentPage pagesNum) 'disabled'}} >
                    <a href="#" {{action "onPaginationClick" pagesNum}} aria-label="Last">
                      <span aria-hidden="true">Last</span>
                    </a>
                  </li>
                </ul>
              </nav>
            {{/if}}

        </div>

    {{else}}
      <div class="te-alert-page-pending">
        <img src="assets/images/te-alert-pending.png" class="te-alert-page-pending__image" alt="alertData.Setup is Processing">
        <h2 class="te-alert-page-pending__title">Setting up your alert</h2>
        <div class="te-alert-page-pending__loader"></div>
        <p class="te-alert-page-pending__text">
          This may take up to a few minutes <br/>
          We will send you an email when it's done!
        </p>
      </div>
    {{/if}}
  </div>
</section>
