<div class="col-xs-12">
  <hr/>
</div>

<div class="col-xs-12">
  <legend class="te-form__section-title">Notification Settings</legend>
</div>

{{!-- Field: App Name --}}
<div class="col-xs-12">
  <label for="anomaly-form-app-name" class="control-label te-label te-label--taller required">Alert belongs to</label>
  <span>
    <i class="glyphicon glyphicon-question-sign"></i>
    {{#tooltip-on-element}}Changing the application team will load the team's subscription groups below{{/tooltip-on-element}}
  </span>
   {{#power-select
      options=allApplicationNames
      selected=selectedApplication
      searchField="application"
      onchange=(action "onSelectAppName")
      loadingMessage="Waiting for the server...."
      placeholder="Pick a related application, product or team"
      searchPlaceholder="Type to filter..."
      triggerId="anomaly-form-app-name"
      triggerClass="te-form__select"
      disabled=(not generalFieldsEnabled)
      as |app|
    }}
      {{app.application}}
    {{/power-select}}

    {{!-- Loader for submit button --}}
    {{#if isProcessingForm}}
      <div class="spinner-wrapper--self-serve">{{ember-spinner}}</div>
    {{/if}}
</div>

{{!-- Field: Select Existing Subscription Group --}}
<div class="col-sm-6">
  <label for="Sub-group" class="control-label te-label te-label--taller">Add this alert to an existing <span class="stronger">{{selectedApplication.application}}</span> subscription group</label>
  {{#power-select
    options=filteredSubGroups
    selected=selectedSubGroup
    searchField="name"
    onchange=(action "onSelectSubGroup")
    disabled=(not generalFieldsEnabled)
    searchField="name"
    loadingMessage="Waiting for the server...."
    placeholder="Select an existing alert subscription group"
    searchPlaceholder="Type to filter..."
    triggerId="Sub-group"
    triggerClass="te-form__select"
    as |group|
  }}
    {{group.name}}
  {{/power-select}}
</div>
{{!--  Fields for new alert group creation --}}
<div class="col-sm-6">
  <label for="Sub-group-new-name" class="control-label te-label te-label--taller"><strong>Or</strong> create new subscription group</label>
  <span>
    <i class="glyphicon glyphicon-question-sign"></i>
    {{#tooltip-on-element}}Before creating a new group, please check if you can simply add recipients to an existing one.{{/tooltip-on-element}}
  </span>
  {{#if isGroupNameDuplicate}}
    <div class="te-form__alert--warning alert-warning">Warning: <strong>{{newSubGroupName}}</strong> already exists. Please try another name.</div>
  {{/if}}
  {{input
    type="text"
    id="Sub-group-new-name"
    class="form-control te-input"
    placeholder="New Group Name"
    value=newSubGroupName
    key-up="validateNewGroupName"
    focus-out="validateNewGroupName"
    disabled=(not generalFieldsEnabled)
  }}
</div>

{{!-- Alert Group Metadata --}}
{{#if selectedSubGroup}}
  {{self-serve-config-group-table
    title=selectedSubGroupSubtitle
    data=selectedGroupFunctions
  }}
{{/if}}

{{!-- Field: new alert group recipient emails --}}
<div class="col-xs-12 te-form__section-Sub">
  <label for="Sub-group" class="control-label te-label te-label--taller">
    Recipients in subscription group <span class="stronger">{{selectedSubGroup.name}}</span>:
    <div class="te-form__sub-label"><span class="te-form__sub-label--strong">To: {{if selectedGroupToRecipients selectedGroupToRecipients "No recipients yet"}}</span></div>
    {{#if selectedGroupCcRecipients}}
      <div class="te-form__sub-label"><span class="te-form__sub-label--strong">Cc: {{selectedGroupCcRecipients}}</span></div>
    {{/if}}
  </label>
  {{#if isDuplicateEmail}}
    <div class="te-form__alert--warning alert-warning">Warning: <strong>{{duplicateEmails}}</strong> is already included in this group.</div>
  {{/if}}
  {{#if isEmptyEmail}}
    <div class="te-form__alert--warning alert-warning">Warning: Please provide a notification email for this group!</div>
  {{/if}}
  {{#if isEmailError}}
    <div class="te-form__alert--warning alert-warning">Warning: Please check formatting of these LinkedIn email addresses</div>
  {{/if}}
  {{input
    type="email"
    id="Sub-group-add-recipients"
    class="form-control te-input"
    focus-out="validateAlertEmail"
    key-up="validateAlertEmail"
    placeholder="Add the email addresses separated by commas. You can edit this or add cc and bcc fields later from the edit notification settings."
    autocomplete=false
    value=subscriptionGroupNewRecipient
    disabled=(not generalFieldsEnabled)
    required=true
  }}
</div>
