<div class="container">
  <div class="row">
    <h2 class="te-title">Summary</h2>
    <div class="card-container">
      <div class="card-container__body">
        <section class="rca-summary">
          <div class="row">
            <div class="col-xs-4">
              <label class="te-label" for="select-view-region">Display Period:
                <span>
                  <i class="glyphicon glyphicon-question-sign"></i>
                  {{#tooltip-on-element class="te-tooltip"}}
                    This is the whole period that you'd like to view. This sets the boundaries for your subchart.
                  {{/tooltip-on-element}}
                </span>
              </label>
              {{date-range-picker
                class="te-range-picker"
                timePicker=showTimePicker
                timePicker24Hour=true
                timePickerIncrement=timePickerIncrement
                maxDate=maxTime
                start=viewRegionStart
                end=viewRegionEnd
                ranges=predefinedRanges
                showCustomRangeLabel=false
                format=uiDateFormat
                serverFormat="YYYY-MM-DD HH:mm"
              }}
            </div>
            <div class="col-xs-4">
              <label class="te-label" for="select-granularity">Granularity: </label>
              {{#power-select
                selected=uiGranularity
                options=granularities
                triggerId="select-granularity"
                onchange=(action "onGranularityChange")
                searchEnabled=false
                as |granularity|
              }}
                {{granularity}}
              {{/power-select}}
            </div>
            <div class="col-xs-4">
              <label class="te-label" for="select-mode">Compare Mode: </label>
              {{#power-select
                selected=compareMode
                options=compareModeOptions
                triggerId="select-mode"
                searchEnabled=false
                onchange=(action "onModeChange")
                as |mode|
              }}
                {{mode}}
              {{/power-select}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <label class="te-label" for="select-anomaly-region">Investigation Period:
                <span>
                  <i class="glyphicon glyphicon-question-sign"></i>
                  {{#tooltip-on-element class="te-tooltip"}}
                    Typically, this is your anomaly region. It's highlighted in orange in the graph below.
                  {{/tooltip-on-element}}
                </span>
              </label>
              {{date-range-picker
                class="te-range-picker"
                timePicker=showTimePicker
                timePicker24Hour=true
                timePickerIncrement=timePickerIncrement
                minDate=minDate
                maxDate=maxDate
                start=anomalyRegionStart
                end=anomalyRegionEnd
                ranges=predefinedRanges
                showCustomRangeLabel=false
                format=uiDateFormat
                serverFormat="YYYY-MM-DD HH:mm"
              }}
            </div>
            <div class="form-group col-xs-8">
              <label class="te-label" for="select-filters">Filters: </label>
              {{filter-select
                options=metricFilters
                selected=filters
                triggerId="select-filter"
              }}
            </div>
          </div>

          <main class="card-container">
            {{#containers/primary-metric-container as |summary actions|}}
              {{#if (or summary.loading (not summary.loaded))}}
                <div class="spinner-wrapper">
                  {{ember-spinner}}
                </div>
              {{/if}}

              {{#if summary.loaded}}
                {{anomaly-graph
                  classNames='anomaly-graph--no-border'
                  primaryMetric=summary.primaryMetric
                  showLegend=true
                  showSubchart=true
                  showGraphLegend=false
                  showEvents=true
                  showMetrics=true
                  showDimensions=true
                  onSelection=(action actions.onDeselect)
                  onRegionBrush=(action "onRegionBrush")
                  relatedMetrics=summary.selectedMetrics
                  selectedMetrics=summary.selectedMetrics
                  dimensions=summary.selectedDimensions
                  selectedDimensions=summary.selectedDimensions
                  events=summary.selectedEvents
                  onSubchartChange=(action "setDateParams")
                  analysisStart=analysisStart
                  analysisEnd=analysisEnd
                  subchartStart=subchartStart
                  subchartEnd=subchartEnd
                }}
              {{/if}}
            {{/containers/primary-metric-container}}
          </main>
        </section>
      </div>
    </div>

    <h2 class="te-title">Root Cause Analysis</h2>
    <div id="root-cause-analysis" class="card-container">
      <div class="contribution-table__header">
        <div class="contribution-table__subnav">
          {{#link-to "rca.details.events" class="thirdeye-link thirdeye-link--nav" activeClass="thirdeye-link--active"}}
            Events Correlation
          {{/link-to}}
        </div>
        <div class="contribution-table__subnav">
          {{#link-to "rca.details.dimensions" class="thirdeye-link thirdeye-link--nav" activeClass="thirdeye-link--active"}}
            Dimensions Analysis
          {{/link-to}}
        </div>
        <div class="contribution-table__subnav">
          {{#link-to "rca.details.metrics" class="thirdeye-link thirdeye-link--nav" activeClass="thirdeye-link--active"}}
            Metrics Correlation
          {{/link-to}}
        </div>
      </div>
      {{outlet}}
    </div>
  </div>
</div>