{{#each statsTransformed as |card|}}
  <ul class={{if oneCardOnly "te-horizontal-cards__single-card" "te-horizontal-cards__card"}}>
    <li class="te-horizontal-cards__card-title">
      <label for="select-dimension" class="control-label te-label">
        {{card.title}}
        <span>
          <i class="glyphicon glyphicon-question-sign"></i>
            {{#tooltip-on-element class="te-tooltip"}}
              {{card.description}}
            {{/tooltip-on-element}}
        </span>
      </label>
    </li>
    <li class="te-horizontal-cards__card-value">
      {{#if (eq card.title 'Anomalies')}}
        {{#if areTwoSetsOfAnomalies}}
          <!-- Two different anomaly counts -->
          <div class="te-horizontal-cards__val-group">
            <div class="te-horizontal-cards__card-subt">{{#if isEditMode}}Current{{else}}Old{{/if}}</div>
            <li class="te-horizontal-cards__card-number">
              {{card.old}}
            </li>
          </div>
          <div class="te-horizontal-cards__val-group__margin-left">
            <div class="te-horizontal-cards__card-subt">New</div>
            <li class="te-horizontal-cards__card-number">
              {{card.new}}
            </li>
          </div>
        {{else}}
          <!-- Only one anomaly count -->
          <li class="te-horizontal-cards__card-number">
            {{card.value}}{{#if (eq card.unit 'percent')}}%{{/if}}
          </li>
        {{/if}}
      {{else}}
        <!-- Not Anomalies -->
        <li class="te-horizontal-cards__card-number">
          {{card.value}}{{#if (eq card.unit 'percent')}}%{{/if}}
        </li>
      {{/if}}
    </li>
  </ul>
{{/each}}
 