<section class="card-container__body">
  {{#containers/metrics-container as |metricList|}}
    {{#containers/primary-metric-container as |summary actions|}}

        <div class="rca-header row">
          <div class="col-xs-9">
            <h3 class="te-sub-title te-sub-title--flush">Metrics Correlation</h3> 
            <span>(Investigation Period: {{moment-format metricList.regionStart dateFormat}} -
          {{moment-format metricList.regionEnd dateFormat}})</span>
          </div>
          <div class="rca-actions col-xs-3">
            {{#if metricList.loaded}}
              {{#x-toggle 
                value=splitView 
                classNames="te-toggle pull-right"
                theme='ios'
                showLabels=true
                name="splitViewToggle"
                onToggle=(action (mut splitView))
                as |toggle|}}
                  {{#toggle.label splitView=(not splitView)}}
                    <span class="te-label">{{if splitView 'Combine View' 'Split View'}}</span>
                  {{/toggle.label}}
                  {{toggle.switch theme='ios' onLabel='diff on' offLabel='diff off'}}
              {{/x-toggle}}
            {{/if}}
          </div>
        </div>
        <div class="rca-body">
          {{#if metricList.failed}}
            Oops, something went wrong...

          {{else if (or metricList.loading (not summary.loaded))}}
            <section>
              <div class="spinner-wrapper spinner-wrapper__border">
                {{ember-spinner}}
              </div>
            </section>

          {{else if metricList.loaded}}
            {{#if splitView}}
              {{anomaly-graph
                componentId='correlated-metrics'
                primaryMetric=summary.primaryMetric 
                showGraphLegend=false
                showLegend=false
                showMetrics=true
                showTitle=true
                enableZoom=true
                minDate=displayStart
                maxDate=displayEnd
                analysisStart=metricList.regionStart
                analysisEnd=metricList.regionEnd
                onSubchartChange=(action "onDateChange")
              }}
              {{#each summary.selectedMetrics as |metric index|}}
                {{anomaly-graph
                  componentId=(concat 'correlated-metrics-' index)
                  primaryMetric=metric
                  showLegend=false
                  enableZoom=true
                  showMetrics=true
                  showTitle=true
                  minDate=displayStart
                  maxDate=displayEnd
                  analysisStart=metricList.regionStart
                  analysisEnd=metricList.regionEnd
                  onSelection=(action actions.onMetricSelection)
                  onSubchartChange=(action "onDateChange")
                  showGraphLegend=false}}
                  
              {{/each}}
            {{else}}
              {{anomaly-graph
                componentId='correlated-metrics'
                primaryMetric=summary.primaryMetric
                relatedMetrics=metricList.relatedMetrics
                selectedMetrics=summary.selectedMetrics
                showGraphLegend=false
                showLegend=true
                showMetrics=true
                showSubchart=true
                analysisStart=metricList.regionStart
                analysisEnd=metricList.regionEnd
                minDate=displayStart
                maxDate=displayEnd
                onSelection=(action actions.onMetricSelection)
                onSubchartChange=(action "onDateChange")
              }}
            {{/if}}
          {{/if}}

            <div class="contribution-table">
              <div class="contribution-table__header">
                <div class="contribution-table__subnav">
                  <a class="thirdeye-link thirdeye-link--nav {{if (eq selectedTab "change") "thirdeye-link--active"}}" href="#" {{action "onTabChange" "change"}}>% Change</a>
                </div>
                <div class="contribution-table__subnav">
                  <a class="thirdeye-link thirdeye-link--nav {{if (eq selectedTab "number") "thirdeye-link--active"}}"  href="#" {{action "onTabChange" "number"}}>Raw Numbers</a>
                </div>
              </div>
              <div class="contribution-table__body">
                {{#if (or metricList.loading (not summary.loaded))}}
                  <div class="spinner-wrapper spinner-wrapper">
                    {{ember-spinner}}
                  </div>
                {{else}}
                  {{#if loading}}
                    <div class="spinner-wrapper spinner-wrapper--absolute">
                      {{ember-spinner}}
                    </div>
                  {{/if}}
                  {{contribution-table
                    title="Primary Metric"
                    dates=summary.primaryMetric.timeBucketsCurrent
                    granularity=summary.granularity
                    primaryMetric=summary.primaryMetric
                    start=analysisStart
                    end=analysisEnd
                    relatedMetrics=metricList.relatedMetrics
                    showDetails=(eq selectedTab "number")
                    stopLoading=(action "onRendering")
                  }}
                {{/if}}
              </div>
            </div>

        </div>
    {{/containers/primary-metric-container}}
  {{/containers/metrics-container}}
</section>
