<div class="container dashboard-container">
  <header>
    {{range-pill-selectors
      title="Showing"
      uiDateFormat=pill.uiDateFormat
      activeRangeEnd=pill.activeRangeEnd
      activeRangeStart=pill.activeRangeStart
      timeRangeOptions=pill.timeRangeOptions
      timePickerIncrement=pill.timePickerIncrement
      predefinedRanges=pill.predefinedRanges
      selectAction=(action "onRangeSelection")
    }}
  </header>

  <article class="dashboard-container__body">
    <section class="dashboard-container__application-header">
      <h2 class="dashboard-container__title">Application:<span>{{appName}}</span></h2>
      <div class="dashboard-container__application-header-dropdown">
        {{#power-select
          options=model.applications
          selected=appNameSelected
          placeholder="Please pick an application"
          onchange=(action "selectApplication")
          as |app|}}
          {{app.application}}
        {{/power-select}}
      </div>
    </section>

  {{#if (gt anomaliesCount 0)}}
    <section>
      {{stats-cards stats=stats}}
    </section>

    <section>
      {{#each-in model.anomalyMapping as |metric humanizedEntityList|}}
        <h4 class="dashboard-container__title">Metric:
          <span>{{metric}} ({{humanizedEntityList.length}} {{if (gt humanizedEntityList.length 1) "anomalies" "anomaly"}})</span>
        </h4>
          {{models-table
            data=humanizedEntityList
            columns=columns
            customClasses=classes
            showColumnsDropdown=false
            showGlobalFilter=false
            filteringIgnoreCase=true
            multipleExpand=true
            pageSize=5
            showComponentFooter=true
          }}
          {{!-- TODO: leave to decide if after poc we need it - lohuynh
          {{#if (gt humanizedEntityList.length 5)}}
            <a href="{{get (get model.redirectLink metric) alert}}" class="dashboard-container__redirect-link">
              See More
            </a>
          {{/if}} --}}
      {{/each-in}}
    </section>
  {{else}}
    <section class="card-container card-container--md card-container--flush-top">
      {{rootcause-placeholder
        message="No anomalies found."
        iconClass="glyphicon glyphicon-equalizer"}}
    </section>
  {{/if}}
  </article>
</div>
