<div class="container dashboard-container">
  <header>
    {{range-pill-selectors
      title="Showing"
      uiDateFormat=pill.uiDateFormat
      activeRangeEnd=pill.activeRangeEnd
      activeRangeStart=pill.activeRangeStart
      timeRangeOptions=pill.timeRangeOptions
      timePickerIncrement=pill.timePickerIncrement
      predefinedRanges=pill.predefinedRanges
      selectAction=(action "onRangeSelection")
    }}
  </header>

  <article class="dashboard-container__body">
    <section class="dashboard-container__application-header">
      <h2 class="dashboard-container__title">Application:<span>{{appName}}</span></h2>
      <div class="dashboard-container__application-header-dropdown">
        {{#power-select
          options=model.applications
          selected=appNameSelected
          placeholder="Please pick an application"
          onchange=(action "selectApplication")
          as |app|}}
          {{app.application}}
        {{/power-select}}
      </div>
    </section>

  {{#if (gt anomaliesCount 0)}}
    <section>
      {{stats-cards stats=stats}}
    </section>

    <section>
      <div class="dashboard-container__application-filter-by">
        <strong>Filter by</strong>
        {{#power-select
          triggerId="dash-filter-by"
          triggerClass="te-anomaly-table__select te-anomaly-table__select--margin-left"
          options=anomalyResponseNames
          searchEnabled=false
          placeholder="All Resolutions"
          selected=feedbackType
          onchange=(action "onFilterBy" feedbackType)
          as |feedbackType|
        }}
          {{feedbackType}}
        {{/power-select}}
      </div>

      {{#each-in filteredAnomalyMapping as |metric humanizedEntityList|}}
        <h4 class="dashboard-container__title">Metric:
          <span>{{metric}} ({{humanizedEntityList.length}} {{if (gt humanizedEntityList.length 1) "anomalies" "anomaly"}})</span>
        </h4>

          {{!-- {{#bs-accordion as |accordion|}}
            {{#accordion.item
              title=anomalyList.length
              class="te-form__custom-label"
            }} --}}
              {{models-table
                data=humanizedEntityList
                columns=columns
                customClasses=classes
                showColumnsDropdown=false
                showGlobalFilter=false
                filteringIgnoreCase=true
                multipleExpand=true
                pageSize=5
                showComponentFooter=true
              }}
            {{!-- {{/accordion.item}}
          {{/bs-accordion}} --}}

          {{!-- TODO: leave to decide if after poc we need it - lohuynh
          {{#if (gt humanizedEntityList.length 5)}}
            <a href="{{get (get model.redirectLink metric) alert}}" class="dashboard-container__redirect-link">
              See More
            </a>
          {{/if}} --}}
      {{else}}
        {{partial 'partials/home'}}
      {{/each-in}}
    </section>
  {{else}}
    {{partial 'partials/home'}}
  {{/if}}
  </article>
</div>
