<fieldset class="te-form__section te-form__section--first row">
  <div class="col-xs-12">
    <legend class="te-form__section-title">{{alertTitle}}</legend>
    <label for="select-metric" class="control-label te-label te-label--taller required">Can't find your metric?
      <a class="thirdeye-link-secondary" target="_blank">Import from InGraphs</a>
    </label>
    <div class="pull-right">
      {{bs-button
        defaultText="Reset"
        type="outline-primary"
        buttonType="reset"
        onClick=(action "resetYAML" "anomaly")
        class="te-button te-button--link"
      }}
      {{bs-button
        defaultText="View Documentation"
        type="outline-primary"
        buttonType="modal"
        onClick=(action "triggerDocModal" "Anomaly")
        class="te-button te-button--cancel"
      }}
    </div>
    {{ember-ace
      lines=35
      value=currentYamlValues
      suggestCompletions=(action 'yamlSuggestions')
      enableLiveAutocompletion=true
      update=(action "onYMLSelectorAction")
      mode="ace/mode/yaml"
    }}
  </div>

  <div class="col-xs-12">
    <hr/>
  </div>
  {{!-- TOD: save for Alert settings --}}
  {{#if showSettings}}
    <div class="col-xs-12">
      <legend class="te-form__section-title">{{alertSettingsTitle}}</legend>
    </div>
    <div class="col-xs-4">
      <label class="te-label te-label--small">Add this alert to a subscription group</label>
      {{!--  subscription group --}}
      {{#power-select
        options=subscriptionGroupNames
        placeholder="Create a subscription group"
        selected=groupName
        searchField="name"
        onchange=(action 'onYAMLGroupSelectionAction')
        as |groupName|
      }}
        {{groupName.name}} ({{groupName.id}})
      {{/power-select}}
    </div>
    <div class="col-xs-12">
      <legend class="te-form__section-title">Configure new subscription group</legend>
    </div>
    <div class="col-xs-12">
      <label for="select-metric" class="control-label te-label te-label--taller required">Can't find your team? Contact
        <a class="thirdeye-link-secondary" target="_blank" href="mailto:ask_thirdeye@linkedin.com">ask_thirdeye@linkedin.com</a>
      </label>
      <div class="pull-right">
        {{bs-button
          defaultText="Reset"
          type="outline-primary"
          buttonType="reset"
          onClick=(action "resetYAML" "notification")
          class="te-button te-button--link"
        }}
        {{bs-button
          defaultText="View Documentation"
          type="outline-primary"
          buttonType="modal"
          onClick=(action "triggerDocModal" "Notification")
          class="te-button te-button--cancel"
        }}
      </div>
    </div>
    <div class="col-xs-12">
      {{!-- notification settings editor --}}
      {{ember-ace
        lines=20
        value=currentYamlSettings
        update=(action "onYMLSettingsSelectorAction")
        mode="ace/mode/yaml"
      }}
    </div>
  {{/if}}
  <div class="col-xs-12">
    {{#if isErrorMsg}}
      <div class="yaml-editor-msg">
        <p class="yaml-editor-msg__icon"><i class="yaml-editor-msg__icon--error glyphicon glyphicon-remove-circle"></i>Error in the yaml file</p>
        <p>Message: {{errorMsg}}</p>
      </div>
    {{/if}}
  </div>
</fieldset>

<fieldset class="te-form__section-submit">
  {{#if isEditMode}}
    {{bs-button
      defaultText="Cancel"
      type="outline-primary"
      buttonType="cancel"
      onClick=(action "cancelAlertYamlAction")
      class="te-button te-button--cancel"
    }}
    {{bs-button
      defaultText="Save changes"
      type="primary"
      buttonType="submit"
      disabled=disableYamlSave
      onClick=(action "saveAlertYamlAction")
      class="te-button te-button--submit"
    }}
  {{else}}
    {{bs-button
      defaultText="Create alert"
      type="primary"
      buttonType="submit"
      disabled=disableYamlSave
      onClick=(action "saveAlertYamlAction")
      class="te-button te-button--submit"
    }}
  {{/if}}
</fieldset>

{{modals/yaml-documentation
  showAnomalyModal=showAnomalyModal
  showNotificationModal=showNotificationModal
  YAMLField=YAMLField
}}
