<main class="alert-create card-container card-container--padded te-form">
  <fieldset class="te-form__section row">
    <div class="col-xs-12">
      <legend class="te-form__section-title">Alert Details</legend>
    </div>

    {{!-- Field: Alert Name --}}
    <div class="form-group col-xs-10">
      <label for="anomaly-form-function-name" class="control-label te-label required">
        Alert Name
        <div class="te-form__sub-label">(Please follow this naming convention: <span class="te-form__sub-label--strong">productName_metricName_dimensionName_other</span>)</div>
      </label>
      {{#if isAlertNameDuplicate}}
        <div class="te-form__alert--warning alert-warning">Warning: <strong>{{alertFunctionName}}</strong> already exists. Please try another name.</div>
      {{/if}}
      {{input
        type="text"
        id="anomaly-form-function-name"
        class="form-control te-input te-input--read-only"
        placeholder="Add a descriptive alert name"
        value=alertFunctionName
        key-up=(action "validateAlertName" alertFunctionName)
      }}
    </div>

    {{!-- Field: Active --}}
    <div class="form-group col-xs-2">
      <label for="select-status" class="control-label te-label required">
        Status
        <div class="te-form__sub-label">Toggles detection on/off</div>
      </label>
      {{#x-toggle
        value=isActive
        classNames="te-toggle te-toggle--form te-toggle--left"
        theme='ios'
        showLabels=true
        name="activeToggle"
        onToggle=(action (mut isActive))
      as |toggle|}}
        {{#toggle.label value=isActive}}
          <span class="te-label te-label--flush">{{if isActive 'Active' 'Inactive'}}</span>
        {{/toggle.label}}
        {{toggle.switch theme='ios' onLabel='diff on' offLabel='diff off'}}
      {{/x-toggle}}
    </div>
  </fieldset>

  <fieldset class="te-form__section row">
    <div class="col-xs-12">
      <legend class="te-form__section-title">Notification Settings</legend>
    </div>

    {{!-- Button: Edit --}}
    <div class="form-group col-xs-12">
      Alerts can be part of multiple different subscription groups. Each group will send out the alert once according to schedule.
      <div>
        <button {{action "onShowManageGroupsModal"}}>Edit Notification Settings</button>
      </div>
    </div>
  </fieldset>

  <fieldset class="te-form__section-submit">
    {{bs-button
      type="outline-primary"
      buttonType="Cancel"
      defaultText="Cancel"
      onClick=(action "onCancel")
      class="te-button te-button--cancel"
    }}

    {{bs-button
      defaultText="Save"
      type="primary"
      onClick=(action "onSubmit")
      buttonType="submit"
      disabled=isSubmitDisabled
      class="te-button te-button--submit"
    }}

  </fieldset>
</main>

{{modals/manage-groups-modal
  showManageGroupsModal=showManageGroupsModal
  preselectedFunctionId=alertId
}}
