{{#if (set-has loadingFrameworks "metricRelated")}}
  <div class="spinner-wrapper spinner-wrapper--card">
    {{ember-spinner}}
  </div>
{{/if}}

{{#if isLoadingMetricData}}
  <div class="row">
    <div class="col-xs-12 rootcause-metric__spinner-text">
      Loading additional metric data ({{metricsPendingCount}})
      {{ember-spinner scale=0.5}}
    </div>
  </div>
{{/if}}

<div class="pull-right">
  <a {{action "onEntityMappingClick"}} class="thirdeye-link thirdeye-link--settings">
    + add related metrics
  </a>
  <span class="te-tooltip-wrapper">
    <i class="glyphicon glyphicon-question-sign">
      {{#tooltip-on-element class="te-tooltip"}}
        Can't find your metric? Click here to add a new metric mapping.
      {{/tooltip-on-element}}
    </i>
  </span>
</div>
{{rootcause-metrics
  context=context
  entities=entities
  aggregates=aggregates
  scores=scores
  selectedUrns=selectedUrns
  isLoading=(or isLoadingAggregates isLoadingScores)
  onSelection=(action "onSelection")
}}
