<div class="rootcause-legend__wrapper">
  {{#if hasMetrics}}
    <ul class="rootcause-legend__list" onMouseLeave={{action "_onMouseLeave"}}>
      {{#each-in metrics as |urn label|}}
        <li class="rootcause-legend__item" onMouseEnter={{action "_onMouseEnter" urn}}>
          <div class="rootcause-legend__label-group {{if (set-has invisibleUrns urn) 'rootcause-legend__label-group--inactive'}}">
            <div class="rootcause-legend__indicator" {{action "toggleVisibility" urn}}>
              <span class="entity-indicator entity-indicator--{{get-safe colors urn}} entity-indicator--square {{if (set-has invisibleUrns urn) 'entity-indicator--inactive'}}">
                {{tooltip-on-element text="Toggle view"}}
              </span>
            </div>
            <span class="rootcause-legend__label rootcause-legend__metric">
              <a {{action "onSelect" urn}}>
                {{label}}
                {{#if (get-safe isExclusionWarning urn)}}
                  {{partial 'partials/rootcause/exclusion-warning'}}
                {{/if}}
              </a>
            </span>
          </div>
          <a class="rootcause-legend__remove-icon" {{action "removeUrn" urn}}>
            <i class="glyphicon glyphicon-remove">
              {{tooltip-on-element text='Remove metric'}}
            </i>
          </a>
        </li>
      {{/each-in}}
    </ul>
  {{/if}}

  {{#if hasEvents}}
    {{#each-in events as |type eventList|}}
      <ul class="rootcause-legend__list" onMouseLeave={{action "_onMouseLeave"}}>
        {{#each-in eventList as |urn label|}}
          <li class="rootcause-legend__item" onMouseEnter={{action "_onMouseEnter" urn}}>
            <div class="rootcause-legend__label-group {{if (set-has invisibleUrns urn) 'rootcause-legend__label-group--inactive'}}" {{action
              "toggleVisibility" urn}}>
              <div class="rootcause-legend__indicator rootcause-legend__indicator--flush">
                <span class="entity-indicator entity-indicator--{{get-safe colors urn}} {{if (set-has invisibleUrns urn) 'entity-indicator--inactive'}}">
                  {{tooltip-on-element text="Toggle view"}}
                </span>
              </div>
              <span class="rootcause-legend__label">{{label}}</span>
            </div>
            <a class="rootcause-legend__remove-icon" {{action "removeUrn" urn}}>
              <i class="glyphicon glyphicon-remove">
                {{tooltip-on-element text='Remove event'}}
              </i>
            </a>
          </li>
        {{/each-in}}
      </ul>
    {{/each-in}}
  {{/if}}
</div>

