{{!--  TODO: needs to figure out if there is a cleaner way vs inline styles - lohuynh --}}
<style>
  .container {
    margin-right: auto !important;
    margin-left: auto !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    width: 1170px !important;
  }
  .share-dashboard-container {
    margin-top: 24px !important;
  }
  .share-dashboard-container__body {
    background-color: #FFF !important;
    margin-top: 24px !important;
    margin-bottom: 24px !important;
    padding: 0 15px 15px 15px !important;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
  }
  .share-dashboard-container__preview-container {
    background-color: #EDF0F3 !important;
    margin-top: 10px !important;
  }
  .share-dashboard-container__preview-container-body {
    height: 100% !important;
    background-color: #EDF0F3 !important;
  }
  .dimensions {
    list-style: none !important;
    margin-bottom: 0 !important;
    max-width: 180px !important;
    padding: 0 0 0 0 !important;
  }
  .email_body {
    margin: 0 auto !important;
    border: 1px solid !important;
    border-color: #F5F5F5 !important;
    background-color: #FFF !important;
    max-width: 700px !important;
    font-family: 'Source Sans Pro', sans-serif !important;
  }
</style>
<div class="container share-dashboard-container">
  <header>
    {{#link-to "home" (query-params appName=model.appName feedbackType=model.feedbackType duration=model.duration startDate=model.startDate endDate=model.endDate) class="te-anomaly-table__link"}}
      Back to Dashboard
    {{/link-to}}
  </header>
  <div class="share-dashboard-container__body">
    <div class="share-dashboard-container__share-header">
      <h2 style="color: rgba(0,0,0,0.9);font-size: 24px;">Share dashboard summary</h2>
    </div>
    <div class="share-dashboard-container__share-configure">
      <h4 style="color: rgba(0,0,0,0.9);font-size: 18px;font-weight: bold;">Configure summary</h4>
      <div>
        <div style="margin-left: 15px;display: inline-block;">
          <p><input type="checkbox" {{action 'toggleSelection' "dashboard_summary" on="change"}}> Add dashboard-level comments</p>
          {{#if showDashboardSummary}}
            <p>
              <textarea {{action 'updateComment' "dashboard_summary" on="change"}} value="{{dashboard_summary_comment}}" placeholder="Comment for dashboard summary" name="dashboard_summary" id="dashboard_summary" style="border: none;border-bottom: 1px solid grey;margin-left: 15px;width: 800px;">
              </textarea>
            </p>
          {{/if}}
        </div>
      </div>
      <div>
        <p>
          {{#x-tree
            chosenId=selectedNode
            checkable=true
            expandDepth=0
            model=tree as |node|}}
              {{node.name}}
              {{#if node.isComment}}
                <input type="text" {{action 'updateComment' node.id on="change"}} value="{{node.comment}}" placeholder="Customize metrics/alerts" name="{{node.name}}" id="{{node.id}}" style="border: none;border-bottom: 1px solid grey;margin-left: 30px;width: 800px;">
              {{/if}}
          {{/x-tree}}
        </p>
      </div>
      <!-- Customize email template -->
      <div>
        <div style="margin-left: 15px;display: inline-block;">
          <p><input type="checkbox" {{action 'toggleSelection' "customize_email" on="change"}}> Customize email template</p>
          <p style="margin-left: 15px;">
            {{#if showCustomizeEmailTemplate}}
              {{!-- <select onchange={{action (mut field.value) value="target.value"}} class={{field.className}}> --}}
              Compare current with
              <select id="customizeEmail1" onchange={{action "onCustomizeEmail1" value="target.value"}}>
              {{#each options as |option|}}
                <option value={{option.value}}>{{option.label}}</option>
              {{/each}}
              </select>
              and
              <select id="customizeEmail2" onchange={{action "onCustomizeEmail2" value="target.value"}}>
              {{#each options_two as |option|}}
                <option value={{option.value}}>{{option.label}}</option>
              {{/each}}
              </select>
            {{/if}}
          </p>
        </div>
      </div>
    </div>
    <div class="share-dashboard-container__share-body">
      <h4 style="color: rgba(0,0,0,0.9);font-size: 18px;">Preview dashboard summary</h4>
      <div style="color: rgba(0,0,0,0.6);font-size: 14px; display: flex;justify-content: space-between;">
        <span>Click the copy button to copy to clipboard to paste in email or any word processor.</span>
        <span>
          <a href="" style="margin-right: 15px;font-weight: normal;font-size: 16px;line-height: 20px;">
            <span style="color: #0073B1;" {{action 'createPDF'}}>Download PDF</span>
          </a>
          <a href="" style="display: inline-block;padding: 5px;border-radius: 2px;text-decoration: none;border: 1px solid #0073B1;font-weight: normal;margin: 0 1px;font-size: 17px;line-height: 20px;">
            <span style="color: #0073B1;" {{action "copy"}}>Copy</span>
            {{#if showCopyTooltip}}
              {{#tooltip-on-element isShown=showCopyTooltip}}
                  Shared summary copied!
              {{/tooltip-on-element}}
            {{/if}}
          </a>
          <a href="" style="display: inline-block;padding: 5px;border-radius: 2px;text-decoration: none;border: 1px solid #0073B1;font-weight: normal;margin: 0 1px;font-size: 17px;line-height: 20px;">
            <span style="color: #0073B1;" {{action "getShareLink"}}>Get share link</span>
            {{#if showSharedTooltip}}
              {{#tooltip-on-element isShown=showSharedTooltip}}
                  Your share link copied!
              {{/tooltip-on-element}}
            {{/if}}
          </a>
        </span>
      </div>
    </div>
    <div class="share-dashboard-container__preview-container">
      <div class="share-dashboard-container__preview-container-body">
        <!-- EMAIL TEMPLATE -->
        <div class="email_body">
          <div>
            <h2 style="margin: 0 !important;padding: 15px !important;background-color: #F6F8FA !important;letter-spacing: 5px !important;font-size: 19px !important;">
              <img src="https://thirdeye.corp.linkedin.com/app/assets/images/in-logo/in-logo-58_58-aa418792c3ce1f4dfa28fc22b424e240.png" alt="share logo" class="share-dashboard-container__logo" style="margin-right: 10px;width: 34px;height: 34px;">THIRDEYE
            </h2>
          </div>
          <div style="color: #FFF;">
            <div style="padding: 20px; background-color: #0073b1;text-align: left;">
              <h3 style="line-height: 20px;margin-bottom: 25x;">Application:<span  style="padding-left:10px;">{{appNameDisplay}}</span></h3>
              <h4 style="line-height: 20px;">{{anomaliesFilteredCount}} anomalies were detected from {{startDateDisplay}} to {{endDateDisplay}}</h4>
              {{#if dashboard_summary_comment}}
                <div id="div_dashboard_summary">
                  <h5>Summary</h5>
                  <p id="dashboardId_dashboard_summary">{{markdown-to-html dashboard_summary_comment}}</p>
                </div>
              {{/if}}
              {{#if shareUrl}}
                <p>
                  <a href="{{shareUrl}}" target="_blank" style="display: inline-block;padding: 5px;border-radius: 2px;color: #FFF;text-decoration: none;border: 1px solid #FFF;font-weight: normal;margin: 0 1px;font-size: 17px;line-height: 20px;">
                    <span style="color: #FFF;">View all in ThirdEye</span>
                  </a>
                </p>
              {{/if}}
            </div>
            <div class="email-preview__body" style="color: #262626;">
              {{#if shareConfig}}
                <!-- Custom header summary table -->
                {{share-custom-template
                  appName=appNameDisplay
                  start=start
                  end=end
                  config=shareConfig
                }}
                <hr/>
              {{/if}}

              <!-- Metric level -->
              {{#each-in filteredAnomalyMapping as |metric metricList|}}
                <!-- html email tables -->
                {{#if metricList.viewTreeNode.isChecked}}
                  <h4 style="margin-left: 20px;word-wrap: break-word;"><span style="color: #737373;margin-right:10px;">Metric</span>{{metric}}</h4>
                  {{#if metricList.viewTreeNode.comment}}
                    <div id="div_{metricList.metricId}">
                      <h5 style="margin-left: 20px;font-weight: bold;">Metric summary</h5>
                      <p style="margin-left: 20px;" id="metricId_{{metricList.metricId}}">{{markdown-to-html metricList.viewTreeNode.comment}}</p>
                    </div>
                  {{/if}}

                  <!-- Alert level -->
                    {{#each-in metricList.items as |alert alertList|}}
                    {{#if alertList.viewTreeNode.isChecked}}
                      <h4 style="margin-left: 20px;word-wrap: break-word;">
                        <span style="height: 20px; width: 33px;font-size: 14px; color: #737373;color: #737373;margin-right:10px;">Alert</span>
                        <a style="font-size: 14px; color: #0073B1;font-weight: bold;" href="https://thirdeye.corp.linkedin.com/app/#/manage/alert/{{alertList.functionId}}/explore?duration={{duration}}&amp;endDate={{endDate}}&amp;startDate={{startDate}}">
                          {{alert}}
                        </a>
                      </h4>
                      <table width="660" style="margin: 20px !important;{{unless (mod-check metricList.count) 'background-color: #F6F8FA !important;'}}">
                        <tr style="border-top: 1px solid #C7D1D8 !important; border-bottom: 1px solid #C7D1D8 !important; background-color: #F6F8FA !important; color: #383838 !important; font-size: 12px !important;">
                          <th style="padding: 10px;">Start/Duration</th>
                          <th style="padding: 10px;">Dimensions</th>
                          <th style="padding: 10px;">Current/Predicted</th>
                          {{#if showCustomizeEmailTemplate}}
                            {{#if showWow}}
                              <th style="padding: 10px;">WoW</th>
                            {{/if}}
                            {{#if showWo2w}}
                              <th style="padding: 10px;">Wo2W</th>
                            {{/if}}
                            {{#if showMedian4w}}
                              <th style="padding: 10px;">Median4w</th>
                            {{/if}}
                          {{/if}}
                          <th style="padding: 10px;">Resolution</th>
                        </tr>
                        <!-- Anomaly level -->
                        {{#each alertList.items as |record index|}}
                          <tr style="border-bottom: 1px solid #C7D1D8;{{if record.anomaly.comment 'border-bottom: none;'}}">
                            <td style="padding: 0 3px 3px 10px;">
                              <p style="margin: 0;">
                                <label style="margin: 0;">
                                  <span style="color: #0073B1; font-size: 14px; line-height: 20px;">
                                    <a href="https://thirdeye.corp.linkedin.com/app/#/rootcause?anomalyId={{record.anomaly.id}}">
                                      {{moment-format record.anomaly.start 'MMM D, hh:mm A'}}
                                    </a>
                                  </span>
                                </label>
                              </p>
                              <p style="margin: 0;color: rgba(0,0,0,0.6);font-size: 12px;">
                                {{record.duration}}
                              </p>
                            </td>
                            <td style="padding: 0 3px 3px 10px;">
                              <ul class="dimensions">
                                {{#each-in record.anomaly.dimensions as |dimName dimList|}}
                                  <li style="padding: 0;color: rgba(0,0,0,0.6);font-size: 12px;">{{dimName}}:<span style="margin-left: 5px;word-break: break-all;">{{dimList}}</span></li>
                                {{else}}
                                    -
                                {{/each-in}}
                              </ul>
                            </td>
                            <td style="padding: 0 3px 3px 10px;">
                              <p style="margin: 0;">{{record.current}}/{{record.baseline}}</p>
                              <p  style="margin: 0;" class="te-anomaly-table__value-label te-anomaly-table__value-label--{{calculate-direction record.change}}">
                                ({{record.humanizedChangeDisplay}})
                              </p>
                            </td>
                            <!-- Customize email columns starts -->
                            {{#if showCustomizeEmailTemplate}}
                              {{#if showWow}}
                                <td style="padding: 0 3px 3px 10px;">
                                  <p style="margin: 0;">{{record.anomaly.offsets.wow}}</p>
                                </td>
                              {{/if}}
                              {{#if showWo2w}}
                                <td style="padding: 0 3px 3px 10px;">
                                  <p style="margin: 0;">{{record.anomaly.offsets.wo2w}}</p>
                                </td>
                              {{/if}}
                              {{#if showMedian4w}}
                                <td style="padding: 0 3px 3px 10px;">
                                  <p style="margin: 0;">{{record.anomaly.offsets.median4w}}</p>
                                </td>
                              {{/if}}
                            {{/if}}
                            <!-- Customize email columns ends -->

                            {{#if (eq record.anomalyFeedback "True anomaly")}}
                              <td style="padding: 0 3px 3px 10px;color: #FF2C33;">{{record.anomalyFeedback}}</td>
                            {{else}}
                              <td style="padding: 0 3px 3px 10px;">{{record.anomalyFeedback}}</td>
                            {{/if}}
                          </tr>
                          {{#if record.anomaly.comment}}
                            <tr style="border-bottom: 1px solid #C7D1D8;{{unless (mod-check index) 'background-color: #F6F8FA;'}}">
                              <td colspan="{{colspanNum}}" style="padding: 3px;padding-top: 0;">
                                <strong style="margin-left: 5px;">Comment:</strong> {{record.anomaly.comment}}
                              </td>
                            </tr>
                          {{/if}}
                        {{/each}}
                      </table>
                      <hr/>
                      <!-- html email tables -->
                    {{/if}}
                  {{/each-in}}
                {{/if}}

              {{else}}
                {{partial 'partials/home'}}
              {{/each-in}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
