<div class="events-summary">
  <div class="events-summary__item {{if (eq activeTab 'all') 'events-summary__item--active'}}" {{action "onTabClick" "all"}}>
    <span class="events-summary__number">{{allCount}}</span>
    <span>All</span>
  </div>
  <div class="events-summary__item events-summary__item--green {{if (eq activeTab 'holiday') 'events-summary__item--active'}}" {{action "onTabClick" "holiday"}}>
    <span class="events-summary__number">{{holidayCount}}</span>
    <span>Holiday</span>
  </div>
  <div class="events-summary__item events-summary__item--teal {{if (eq activeTab 'anomaly') 'events-summary__item--active'}}" {{action "onTabClick" "anomaly"}}>
    <span class="events-summary__number">{{anomalyCount}}</span>
    <span>Past Anomaly</span>
  </div>
  <div class="events-summary__item events-summary__item--orange {{if (eq activeTab 'gcn') 'events-summary__item--active'}}" {{action "onTabClick" "gcn"}}>
    <span class="events-summary__number">{{gcnCount}}</span>
    <span>GCN</span>
  </div>
  <div class="events-summary__item events-summary__item--purple {{if (eq activeTab 'lix') 'events-summary__item--active'}}" {{action "onTabClick" "lix"}}>
    <span class="events-summary__number">{{lixCount}}</span>
    <span>Lix</span>
  </div>
  <div class="events-summary__item events-summary__item--red {{if (eq activeTab 'informed') 'events-summary__item--active'}}" {{action "onTabClick" "informed"}}>
    <span class="events-summary__number">{{informedCount}}</span>
    <span>Deployment</span>
  </div>
</div>