<h1 class="te-title">Manage Alert Subscription</h1>
<main class="alert-create paper-container">

  <div class="te-sub-title">Search for an existing alert group configuration</div>

{{#power-select
  options=allAlertsConfig

  onchange=(action (mut name123))
  as |alertConfig|
}}
  {{alertConfig.name}}
{{/power-select}}


  {{#bs-form model=this class="te-form alert-create__form" onSubmit=(action "submit") as |form|}}
    <section class="te-form__section-fields">
      {{form.element controlType="text"
        label="Search for a Metric"
        placeholder="Search for a Metric..."
        property="metric"
      }}
      {{form.element controlType="text" label="Dimension"
      }}
    </section>
    <section class="te-form__section-submit">
      {{bs-button defaultText="Create Alert" type="primary" buttonType="submit" class="te-submit-button"}}
    </section>
  {{/bs-form}}

  {{outlet}}
</main>