<div class="container dashboard-container">
  <header>
    {{range-pill-selectors
      title="Showing"
      uiDateFormat=pill.uiDateFormat
      activeRangeEnd=pill.activeRangeEnd
      activeRangeStart=pill.activeRangeStart
      timeRangeOptions=pill.timeRangeOptions
      timePickerIncrement=pill.timePickerIncrement
      predefinedRanges=pill.predefinedRanges
      selectAction=(action "onRangeSelection")
    }}
    {{#if appOrSubGroup}}
    {{#link-to "home.share-dashboard" (query-params appName=appName subGroup=subGroup duration=duration startDate=startDate endDate=endDate feedbackType=feedbackType shareId=null) tagName="button" type="button" class="btn pull-right te-button te-button--outline"}}
    Share
    {{/link-to}}
    {{/if}}
  </header>

  <article class="dashboard-container__body">
    <section class="dashboard-container__application-header">
      <div class="dashboard-container__application-or-subgroup">
        <strong>Anomalies filter by: </strong>
        {{#each anomaliesByOptions as |option|}}
        <div class="dashboard-container__radio-button-item">
          {{#radio-button value=option groupValue=anomaliesBySelected changed=(action "onAnomaliesBy")}}
          <span class="te-radio__option">{{option}}</span>
          {{/radio-button}}
        </div>
        {{/each}}
      </div>

      {{#if byApplication}}
      <div class="dashboard-container__application-header-dropdown">
        <label class="te-label te-label--small">Application</label>
        {{#power-select
            options=sortedApplications
            selected=appNameSelected
            searchField="application"
            searchEnabled=true
            placeholder="Please pick an application"
            onchange=(action "selectApplication")
            as |app|}}
        {{app.application}}
        {{/power-select}}
      </div>
      {{else}}
      <div class="dashboard-container__application-header-dropdown">
        <label class="te-label te-label--small">Subscription Group</label>
        {{#power-select
            options=sortedSubscriptionGroups
            selected=subGroupSelected
            searchField="name"
            searchEnabled=true
            placeholder="Please pick a subscription group"
            onchange=(action "selectSubscriptionGroup")
            as |subGroup|}}
        {{subGroup.name}}
        {{/power-select}}
      </div>
      {{/if}}

      <div>
        {{#if byApplication}}
        <h3 class="dashboard-container__title">{{appName}}</h3>
        {{else}}
        <h3 class="dashboard-container__title">{{subGroup}}</h3>
        {{/if}}
      </div>
    </section>

    {{#if isLoading}}
    <div class="dashboard-container__spinner-wrapper">
      {{ember-spinner lines=30 radius=20 length=0 width=10 opacity=0 trail=75 color='blue'}}
    </div>
    {{/if}}

    {{#if areAnomaliesCurrent}}
    <section>
      {{stats-cards stats=stats}}
    </section>

    <section>
      <div class="dashboard-container__application-filter-by">
        Filter by Feedback
        {{#power-select
          triggerId="dash-filter-by"
          triggerClass="te-anomaly-table__select te-anomaly-table__select--margin-left"
          options=anomalyResponseNames
          searchEnabled=false
          placeholder="All Resolutions"
          selected=feedbackType
          onchange=(action "onFilterBy" feedbackType)
          as |feedbackType|
        }}
        {{feedbackType}}
        {{/power-select}}

        <a class="pull-right thirdeye-link" {{action 'toggleAllAccordions'}}>
          {{#if toggleCollapsed}}
          Expand all <i class="glyphicon glyphicon-menu-down"></i>
          {{else}}
          Collapse all <i class="glyphicon glyphicon-menu-up"></i>
          {{/if}}
        </a>
      </div>

      {{#bs-accordion as |accordion|}}
      {{#each-in filteredAnomalyMapping as |metric humanizedEntityList|}}
      {{#accordion.item value=metric as |aitem|}}
      {{#aitem.title}}
      <section class="dashboard-container__title">Metric:
        <span>{{metric}} ({{humanizedEntityList.length}}
          {{if (gt humanizedEntityList.length 1) "anomalies" "anomaly"}})</span>
        <span><i class="glyphicon glyphicon-menu-{{if toggleCollapsed "down" "up"}}"></i></span>
      </section>
      {{/aitem.title}}
      {{#aitem.body collapsed=toggleCollapsed}}
      {{#if isReportAnomalyEnabled}}
      <div class="pull-left">
        <i class="glyphicon glyphicon-edit dashboard-container__icon"></i> Report missing anomaly in <span
          class="anomalies-table__text anomalies-table__text--stronger">alert page</span> for: </div>
      <div class="pull-left dashboard-container__alert-selector">
        {{#with (get model.alertsByMetric metric) as |alertList|}}
        {{#power-select
                      triggerId=metric
                      id=metric
                      triggerClass="te-form__select te-form__select--shortened"
                      renderInPlace=true
                      options=alertList.names
                      selected=alertList.names.firstObject
                      searchEnabled=false
                      onchange=(action "onSelectAlert" metric)
                      as |alertOption|
                    }}
        {{alertOption}}
        {{/power-select}}
        {{/with}}
      </div>
      <div class="te-button te-button--outline pull-left dashboard-container__go-link">
        <a class="thirdeye-link thirdeye-link--terciary" href="#"
          {{action "onClickReport" metric humanizedEntityList}}>GO</a>
      </div>
      {{/if}}
      {{models-table
                data=humanizedEntityList
                columns=columns
                customClasses=classes
                showColumnsDropdown=false
                showGlobalFilter=false
                filteringIgnoreCase=true
                multipleExpand=true
                pageSize=5
                showComponentFooter=true
              }}
      {{/aitem.body}}
      {{/accordion.item}}
      {{!-- TODO: leave to decide if after poc we need it - lohuynh
          {{#if (gt humanizedEntityList.length 5)}}
            <a href="{{get (get model.redirectLink metric) alert}}" class="dashboard-container__redirect-link">
              See More
            </a>
          {{/if}} --}}
      {{else}}
      {{partial 'partials/home'}}
      {{/each-in}}
      {{/bs-accordion}}
    </section>
    {{else}}
    {{partial 'partials/home'}}
    {{/if}}
  </article>
</div>

{{outlet}}