<main class="container">
  {{#containers/metric-container as |metricList actions|}}
    <div class="rca-header">
      <h1 class="te-title">Metric Correlation</h1>
      <div class="rca-actions">
        <select onchange={{action "onModeChange" value="target.value"}} class="selectpicker">
          {{#each compareModeOptions as |compareMode|}}
            <option value={{compareMode}} selected={{eq compareMode metricList.compareMode}}>{{compareMode}}</option>
          {{/each}}
        </select>
        <a class="thirdeye-link" {{action "onSplitViewToggling"}}>{{if splitView 'Combine View' 'Split View'}}</a>
      </div>
    </div>
    <div class="rca-body paper-container">
      {{#if metricList.loading}}
        <section>
          <div class="spinner-wrapper">
            {{ember-spinner}}
          </div>
        </section>
      {{/if}}

      {{#if metricList.failed}}
        Oops, something went wrong...
      {{/if}}

      {{#if metricList.loaded}}
        <section>
          {{#if splitView}}
            {{anomaly-graph 
              primaryMetric=metricList.primaryMetric 
              showLegend=false
              showTitle=true
            }}
            {{#each metricList.relatedMetrics as |metric|}}
              {{anomaly-graph 
                primaryMetric=metric 
                showGraphLegend=false
                showTitle=true
              }}
            {{/each}}
          {{else}}
            {{anomaly-graph 
              primaryMetric=metricList.primaryMetric 
              relatedMetrics=metricList.relatedMetrics
              showSubchart=true
              showLegend=true
            }}
          {{/if}}
        </section>
      {{/if}}

      <div class="contribution-table">
        <div class="contribution-table__header">
          <div class="contribution-table__subnav">
            <a class="thirdeye-link thirdeye-link--nav {{if (eq selectedTab "change") "thirdeye-link--active"}}" href="#" {{action "onTabChange" "change"}}>% Change</a>
          </div>
          <div class="contribution-table__subnav">
            <a class="thirdeye-link thirdeye-link--nav {{if (eq selectedTab "number") "thirdeye-link--active"}}"  href="#" {{action "onTabChange" "number"}}>Raw Numbers</a>
          </div>
        </div>
        <div class="contribution-table__body">
          {{#if metricList.loading}}
            <div class="spinner-wrapper">
              {{ember-spinner}}
            </div>
          {{else}}
            {{contribution-table
              title="Primary Metric"
              granularity=metricList.granularity
              primaryMetric=metricList.primaryMetric
              relatedMetrics=metricList.relatedMetrics
              showDetails=(eq selectedTab "number")
            }}
          {{/if}}
        </div>
      </div>
    </div>
  {{/containers/metric-container}}
</main>

