<div class="te-search-results__header">
  <div class="te-search-results__title-group">
    <div class="te-search-results__title">
      {{#if (eq displayMode "single")}}
        <span title={{alertData.functionName}}>{{alertData.functionName}}</span>
      {{/if}}
      {{#if alertData.active}}
        <div class="te-search-results__tag {{if (eq displayMode "list") "te-search-results__tag--list"}} te-search-results__tag--active">
          {{#if isLoadError}}
            Error
          {{else}}
            Active
          {{/if}}
        </div>
        <div class="te-search-results__tag {{if (eq displayMode "list") "te-search-results__tag--list"}} te-search-results__tag{{overall.label}}">
          {{#if isLoadError}}
            Error
          {{else}}
            <a role="button" class="te-search-results__a-tag{{overall.label}}">
              {{overall.status}}
              {{#bs-popover placement="bottom" title="Detection health"}}
                <p>Overall health of the metrics that monitor detection performance.</p>

                <label class="control-label te-label">
                  Detection task status
                </label>

                <div class="te-horizontal-metrics__container">
                  <ul class="te-horizontal-metrics__metric">
                    <li class="te-horizontal-metrics__number">{{executionTime}}</li>
                    <li class="te-horizontal-metrics__title">Last success detection task finish time</li>
                  </ul>
                </div>

                <div class="te-horizontal-metrics__container">
                  <ul class="te-horizontal-metrics__metric">
                    <li class="te-horizontal-metrics__number{{detection.label}}">{{detection.status}}</li>
                    <li class="te-horizontal-metrics__title">Status</li>
                  </ul>

                  {{#each tasks as |task|}}
                    <ul class="te-horizontal-metrics__metric">
                      <li class="te-horizontal-metrics__number{{task.label}}">{{task.number}}</li>
                      <li class="te-horizontal-metrics__title">{{task.title}}</li>
                    </ul>
                  {{/each}}
                </div>

                <label class="control-label te-label">
                  Anomaly coverage ratio
                </label>

                <div class="te-horizontal-metrics__container">
                  <ul class="te-horizontal-metrics__metric">
                    <li class="te-horizontal-metrics__number{{anomalyCoverage.label}}">{{anomalyCoverage.status}}</li>
                    <li class="te-horizontal-metrics__title">Status</li>
                  </ul>

                  <ul class="te-horizontal-metrics__metric">
                    <li class="te-horizontal-metrics__number">{{anomalyCoverage.ratio}}%</li>
                    <li class="te-horizontal-metrics__title">The percentage of anomalous duration over the past 30 days</li>
                  </ul>
                </div>

                <p>To improve this, adjust alert sensitivity using preview.</p>

                <label class="control-label te-label">
                  Regression error{{#if regressionInfo.rule}} for {{regressionInfo.rule}}{{/if}}
                </label>

                <div class="te-horizontal-metrics__container">
                  <ul class="te-horizontal-metrics__metric">
                    <li class="te-horizontal-metrics__number{{regressionInfo.label}}">{{regressionInfo.status}}</li>
                    <li class="te-horizontal-metrics__title">Status</li>
                  </ul>

                  <ul class="te-horizontal-metrics__metric">
                    <li class="te-horizontal-metrics__number">{{regressionInfo.mape}}%</li>
                    <li class="te-horizontal-metrics__title">The average prediction error (MAPE) of the baseline</li>
                  </ul>
                </div>

                <p>To improve this, tune the detection rules using preview.</p>
              {{/bs-popover}}
            </a>
          {{/if}}
        </div>
      {{else}}
        <div class="te-search-results__tag {{if (eq displayMode "list") "te-search-results__tag--list"}}">
          {{#if isLoadError}}
            Error
          {{else}}
            Inactive
          {{/if}}
        </div>
      {{/if}}
      {{#if (eq displayMode "list")}}
        {{#link-to "manage.explore" alertData.id class="te-search-results__title-link"}}
          <p class="te-search-results__title-name" title={{alertData.functionName}}>{{alertData.functionName}}</p>
        {{/link-to}}
      {{/if}}
    </div>
  </div>
  {{yield}}
</div>

{{#if (not isLoadError)}}
  <ul class="te-search-results__list te-search-results__list--details-block row">
    <div class="col-xs-12 col-sm-5">
      <li class="te-search-results__row">
        <div class="te-search-results__option te-search-results__option--{{modeSubClass}} te-search-results__option--left">Metric</div>
        <div class="te-search-results__value{{valueClassSuffix}}" title={{alertData.metric}}>{{alertData.metric}}</div>
      </li>
      <li class="te-search-results__row">
        <div class="te-search-results__option te-search-results__option--{{modeSubClass}} te-search-results__option--left">Dataset</div>
        <div class="te-search-results__value{{valueClassSuffix}}" title={{alertData.collection}}>
          <span class="{{unless alertData.collection 'te-search-results__prop--missing' 'te-search-results__prop'}}">
            {{if alertData.collection alertData.collection 'N/A'}}
          </span>
        </div>
      </li>
      {{#if (eq displayMode "single")}}
        <li class="te-search-results__row">
          <div class="te-search-results__option te-search-results__option--{{modeSubClass}} te-search-results__option--left">Granularity</div>
          <div class="te-search-results__value{{valueClassSuffix}}" title={{alertData.granularity}}>
            <span class="{{unless alertData.granularity 'te-search-results__prop--missing' 'te-search-results__prop'}}">
              {{if alertData.granularity alertData.granularity 'N/A'}}
            </span>
          </div>
        </li>
      {{/if}}
      <li class="te-search-results__row">
        <div class="te-search-results__option te-search-results__option--{{modeSubClass}} te-search-results__option--left">Application</div>
        <div class="te-search-results__value{{valueClassSuffix}}" title={{alertData.application}}>
          <span class="{{unless alertData.application 'te-search-results__prop--missing' 'te-search-results__prop'}}">
            {{if alertData.application alertData.application 'N/A'}}
          </span>
        </div>
      </li>
      <li class="te-search-results__row">
        <div class="te-search-results__option te-search-results__option--{{modeSubClass}} te-search-results__option--left">Created By</div>
        <div class="te-search-results__value{{valueClassSuffix}}" title={{alertData.createdBy}}>
          <span class="{{unless alertData.createdBy 'te-search-results__prop--missing' 'te-search-results__prop'}}">
            {{if alertData.createdBy alertData.createdBy 'N/A'}}
          </span>
        </div>
      </li>
    </div>
    <div class="col-xs-12 col-sm-7">
      <li class="te-search-results__row">
        <div class="te-search-results__option te-search-results__option--{{modeSubClass}}">Filtered By</div>
        <div class="te-search-results__value{{valueClassSuffix}}" title={{alertData.filters}}>
          <span class="{{unless alertData.filters 'te-search-results__prop--missing' 'te-search-results__prop'}}">
            {{if alertData.filters alertData.filters 'N/A'}}
          </span>
        </div>
      </li>
      <li class="te-search-results__row">
        <div class="te-search-results__option te-search-results__option--{{modeSubClass}}">Breakdown By</div>
        <div class="te-search-results__value{{valueClassSuffix}}" title={{alertData.exploreDimensions}}>
          <span class="{{unless alertData.exploreDimensions 'te-search-results__prop--missing' 'te-search-results__prop'}}">
            {{if alertData.exploreDimensions alertData.exploreDimensions 'N/A'}}
          </span>
        </div>
      </li>
      <li class="te-search-results__row">
        <div class="te-search-results__option te-search-results__option--{{modeSubClass}}">Detection Type</div>
        <div class="te-search-results__value{{valueClassSuffix}}" title={{alertData.type}}>{{alertData.type}}</div>
      </li>
      <li class="te-search-results__row">
        <div class="te-search-results__option te-search-results__option--{{modeSubClass}}">Subscription Group</div>
        <div class="te-search-results__value{{valueClassSuffix}}" title={{alertData.group}}>
          <span class="{{unless alertData.group 'te-search-results__prop--missing' 'te-search-results__prop'}}">
            {{if alertData.group alertData.group 'N/A'}}
          </span>
        </div>
      </li>
    </div>
  </ul>
{{/if}}