<h1 class="te-title">Create Alert <a class="thirdeye-link-secondary" target="_blank" href="{{helpDocLink}}">click here for a step-by-step guide</a>
  {{#if (eq debug "show")}}
    {{#x-toggle
      value=isForm
      classNames="te-toggle te-toggle--form te-toggle--left report-toggle pull-right"
      theme="ios"
      id="label-toggle"
      showLabels=true
      name="activeToggle"
      onToggle=(action (mut isForm))
      as |toggle|}}
        {{#toggle.label value=isForm}}
          <span class="te-label te-label--flush">YAML</span>
        {{/toggle.label}}
        {{toggle.switch theme='ios' onLabel='diff on' offLabel='diff off'}}
        {{#toggle.label value=isForm}}
          <span class="te-label te-label--flush">Form</span>
        {{/toggle.label}}
    {{/x-toggle}}
  {{/if}}
</h1>
<main class="alert-create card-container card-container--padded te-form">
  {{#if isForm}}
    <fieldset class="te-form__section te-form__section--first row">

      {{detection-form
        isEditMode=false
        detectionYaml=detectionYaml
        setDetectionYaml=(action "updateDetectionYaml")
        changeGeneralFieldsEnabled=(action "changeGeneralFieldsEnabled")
        generalFieldsEnabled=generalFieldsEnabled
      }}

      <div class="col-xs-12">
        {{#bs-accordion onChange=(action "changeAccordion") as |acc|}}
          {{#acc.item value=preview as |aitem|}}
            {{#aitem.title}}
              <section class="dashboard-container__title thirdeye-link-secondary">Preview alert
                <span class="pull-right"><i class="glyphicon glyphicon-menu-{{if toggleCollapsed "down" "up"}}"></i></span>
              </section>
            {{/aitem.title}}
            {{#aitem.body}}
              {{#alert-details
                isPreviewMode=true
                alertYaml=detectionYaml
                dataIsCurrent=alertDataIsCurrent
              }}
                {{yield}}
              {{/alert-details}}
            {{/aitem.body}}
          {{/acc.item}}
        {{/bs-accordion}}
      </div>

    </fieldset>

    <fieldset class="te-form__section row">

      {{subscription-form
        subscriptionYaml=subscriptionYaml
        isEditMode=false
        allApplicationNames=applicationNames
        allSubscriptionGroups=allSubscriptionGroups
        generalFieldsEnabled=generalFieldsEnabled
        selectSubscriptionGroup=(action "changeSubscriptionGroup")
        setSubscriptionYaml=(action "updateSubscriptionYaml")
      }}

    </fieldset>
  {{else}}
    <fieldset class="te-form__section te-form__section--first row">

      {{detection-yaml
        isEditMode=false
        detectionYaml=detectionYaml
        setDetectionYaml=(action "updateDetectionYaml")
      }}

      <div class="col-xs-12">
        {{#bs-accordion onChange=(action "changeAccordion") as |acc|}}
          {{#acc.item value=preview as |aitem|}}
            {{#aitem.title}}
              <section class="dashboard-container__title thirdeye-link-secondary">Preview alert {{if toggleCollapsed "/ Enter YAML configuration to preview alert." ""}}
                <span class="pull-right"><i class="glyphicon glyphicon-menu-{{if toggleCollapsed "down" "up"}}"></i></span>
              </section>
            {{/aitem.title}}
            {{#aitem.body}}
              {{alert-details
                isEditMode=false
                isPreviewMode=true
                alertYaml=detectionYaml
                dataIsCurrent=alertDataIsCurrent
              }}
            {{/aitem.body}}
          {{/acc.item}}
        {{/bs-accordion}}
      </div>

      <div class="col-xs-12">
        <hr/>
      </div>

      {{subscription-yaml
        isEditMode=false
        subscriptionYaml=subscriptionYaml
        setSubscriptionYaml=(action "updateSubscriptionYaml")
        selectSubscriptionGroup=(action "changeSubscriptionGroup")
        subscriptionGroupNamesDisplay=subscriptionGroupNamesDisplay
        selectedGroup=selectedGroup
      }}

    </fieldset>
  {{/if}}
    <fieldset class="te-form__section-submit">
      {{bs-button
        defaultText="Create alert"
        type="primary"
        buttonType="submit"
        disabled=disableYamlSave
        onClick=(action "createAlertYamlAction")
        class="te-button te-button--submit"
      }}
    </fieldset>
  {{outlet}}
</main>
