<h1 class="te-title">Create An Alert</h1>
<main class="alert-create card-container card-container--padded te-form">
  <fieldset class="te-form__section te-form__section--first row">
    <div class="col-xs-12">
      <legend class="te-form__section-title">Metric Details</legend>
    </div>
    <div class="col-xs-12 col-sm-8">
      <div class="te-page__right te-page__right--inside">
        {{#link-to "self-serve.import-metric" class="thirdeye-link-secondary thirdeye-link-secondary--inside"}}
          Import a Metric From InGraphs
        {{/link-to}}
      </div>
      <label for="select-metric" class="control-label te-label te-label--taller required">Search for a Metric</label>
      {{#power-select
        search=(perform searchMetricsList)
        selected=selectedMetricOption
        onchange=(action "onSelectMetric")
        loadingMessage="Waiting for the server...."
        placeholder="Search by Metric Name"
        searchPlaceholder="Type to filter..."
        triggerId="select-metric"
        triggerClass="te-form__select"
        disabled=false
        as |metric|
      }}
        {{metric.alias}}
      {{/power-select}}
    </div>

    {{#if isSelectMetricError}}
      {{#bs-alert type="danger"}}
        <strong>{{selectMetricErrMsg}}</strong> Unable to fetch data for this metric.
      {{/bs-alert}}
    {{/if}}

    <div class="col-xs-6 col-sm-4">
      <label for="select-granularity" class="control-label te-label te-label--taller">Desired Granularity</label>
      {{#power-select
        options=metricGranularityOptions
        selected=selectedGranularity
        onchange=(action "onSelectGranularity")
        placeholder="Select a Granularity"
        searchPlaceholder="Type to filter..."
        triggerId="select-granularity"
        triggerClass="te-form__select"
        disabled=isGranularitySelectDisabled
        as |granularity|
      }}
        {{granularity}}
      {{/power-select}}
    </div>

    <div class="col-xs-6">
      <label for="select-dimension" class="control-label te-label te-label--taller">Dimension (optional)</label>
      {{#power-select
        classNames="te-input"
        options=dimensions
        selected=selectedDimension
        onchange=(action "onSelectDimension")
        loadingMessage="Waiting for the server...."
        placeholder="Break Dimensions By..."
        searchPlaceholder="Type to filter..."
        triggerId="select-dimension"
        triggerClass="te-form__select"
        disabled=(not isMetricSelected)
        as |dimension|
      }}
        {{dimension}}
      {{/power-select}}
    </div>

    <div class="col-xs-6">
      <label for="select-filters" class="control-label te-label te-label--taller required">Filters (optional)</label>
      {{filter-select
        options=filters
        selected=selectedFilters
        triggerId="select-filters"
        onChange=(action "onSelectFilter")
        disabled=isFilterSelectDisabled
      }}
    </div>

    <div class="col-xs-12">
      <div class="te-graph-alert {{if (not isMetricSelected) 'te-graph-alert--pending'}}">
        {{#if (or isFetchingDimensions isDimensionFetchDone)}}
          {{#if isDimensionError}}
            <div class="te-form__super-label">... error loading subDimensions for <span class="stronger">{{selectedDimension}}</span></div>
          {{else}}
            <div class="te-form__super-label">...{{if isDimensionFetchDone 'Displaying' 'Loading'}} top {{availableDimensions}} contributing subDimensions for <span class="stronger">{{selectedDimension}}</span></div>
          {{/if}}
        {{/if}}
        {{#if isMetricDataLoading}}
          <div class="spinner-wrapper--self-serve">{{ember-spinner}}</div>
        {{/if}}
        {{#if isMetricSelected}}
          {{anomaly-graph
            primaryMetric=selectedMetric
            selectedDimensions=selectedDimensions
            dimensions=topDimensions
            showDimensions=true
            isLoading=loading
            showSubchart=true
            showLegend=true
            enableZoom=true
            componentId='create-alert'
            showGraphLegend=false
            onSelection=(action "onSelection")
            onPrimaryMetricToggle=(action "onPrimaryMetricToggle")
            height=400
          }}
          <div class="te-form__note">
            NOTE: If you find the metric shown above is inconsistent, please email <a class="thirdeye-link-secondary" target="_blank" href="{{graphMailtoLink}}">ask_thirdeye</a>.
          </div>
        {{else}}
          <div class="te-graph-alert__content">
            <div class="glyphicon glyphicon-{{if isMetricDataInvalid 'alert' 'equalizer'}} te-graph-alert__icon{{if isMetricDataInvalid '--warning'}}"></div>
            <p class="te-graph-alert__pre-text">{{graphMessageText}}</p>
          </div>
        {{/if}}
      </div>
    </div>

  </fieldset>

  <fieldset class="te-form__section row">
    <div class="col-xs-12">
      <legend class="te-form__section-title">Detection Configuration</legend>
    </div>

    {{!-- Field: Pattern --}}
    <div class="col-xs-3">
      <label for="select-pattern" class="control-label te-label te-label--taller required">Pattern of Interest *</label>
      {{#power-select
        loadingMessage="Waiting for the server...."
        triggerId="select-pattern"
        triggerClass="te-form__select"
        placeholder="Select a Pattern"
        loadingMessage="Please select a metric first"
        options=patternsOfInterest
        searchEnabled=false
        selected=selectedPattern
        onchange=(action "onSelectPattern")
        disabled=(not isMetricSelected)
        required=true
        as |name|
      }}
        {{name}}
      {{/power-select}}
    </div>

    {{!-- Field: Sensitivity with mode option --}}
    <div class="te-form__vertical-block col-xs-12">
      <label for="select-sensitivity" class="control-label te-label te-label--taller required">Sensitivity (optional)</label>
      <div class="te-form__indent-block--custom">
        <label for="alert-tune-severity" class="te-form__list-label">When</label>
        <div class="te-form__tune-field">
          {{#power-select
            triggerId="alert-tune-severity"
            triggerClass="te-form__tune-field"
            verticalPosition="below"
            placeholder="Select a severity"
            options=tuneSeverityOptions
            searchEnabled=false
            selected=selectedSeverityOption
            onchange=(action (mut selectedSeverityOption))
            disabled=(not isMetricSelected)
            as |severity|
          }}
            {{severity}}
          {{/power-select}}
        </div>
        <label for="custom-tune-percent" class="te-form__list-label">is >=</label>
        <div class="te-form__tune-field te-form__tune-field--amount">
          {{input
            type="text"
            id="custom-tune-percent"
            class="form-control te-input te-input"
            value=customPercentChange
            disabled=(not isMetricSelected)
          }}
        </div>
        <span class="te-form__list-label--suffix">{{sensitivityUnits}}, </span>
        <label for="custom-tune-mttd" class="te-form__list-label">MTTD should be no more than</label>
        <div class="te-form__tune-field te-form__tune-field--amount">
          {{input
            type="text"
            id="custom-tune-mttd"
            class="form-control te-input"
            value=customMttdChange
            disabled=(not isMetricSelected)
          }}
        </div>
        <span class="te-form__list-label">hours</span>
      </div>
    </div>

    {{!-- Field: Weekly Effect --}}
    {{#if (eq selectedGranularity 'DAYS')}}
      <div class="col-xs-6">
        <label for="select-effect" class="control-label te-label te-label--taller required">
          Weekly Seasonality *
          <span>
            <i class="glyphicon glyphicon-question-sign"></i>
            {{#tooltip-on-element class="te-tooltip"}}
              Does your metric behave differently depending on the day of the week?
            {{/tooltip-on-element}}
          </span>
        </label>
        {{#x-toggle
          value=selectedWeeklyEffect
          classNames="te-toggle te-toggle--form te-toggle--left"
          id="select-effect"
          theme='ios'
          showLabels=true
          name="splitViewToggle"
          disabled=(not isMetricSelected)
          onToggle=(action (mut selectedWeeklyEffect))
          as |toggle|}}
            {{#toggle.label value=selectedWeeklyEffect}}
              <span class="te-label te-label--taller te-label te-label--taller--flush">{{if selectedWeeklyEffect 'True' 'False'}}</span>
            {{/toggle.label}}
            {{toggle.switch theme='ios' onLabel='diff on' offLabel='diff off'}}
        {{/x-toggle}}
      </div>
    {{/if}}

  </fieldset>

  <fieldset class="te-form__section row">
    <div class="col-xs-12">
      <legend class="te-form__section-title">Alert Details</legend>
    </div>

    {{!-- Field: Alert Name --}}
    <div class="col-xs-12">
      <label for="anomaly-form-function-name" class="control-label te-label te-label--taller required">
        Alert Name *
        <div class="te-form__sub-label">Please follow this naming convention: <span class="te-form__sub-label--strong">applicationName_metricName_dimensionName_other</span></div>
      </label>
      {{#if isAlertNameDuplicate}}
        <div class="te-form__alert--warning alert-warning">Warning: <strong>{{alertFunctionName}}</strong> already exists. Please try another name.</div>
      {{/if}}
      {{input
        type="text"
        id="anomaly-form-function-name"
        class="form-control te-input"
        placeholder="Add a descriptive alert name"
        value=alertFunctionName
        key-up=(action "validateAlertName" alertFunctionName true)
        disabled=(not isMetricSelected)
      }}
    </div>

    {{!-- Field: App Name --}}
    <div class="col-xs-12">
      <label for="anomaly-form-app-name" class="control-label te-label te-label--taller required">Related Application, Product or Team *</label>
       {{#power-select
          options=allApplicationNames
          selected=selectedAppName
          searchField="application"
          onchange=(action "onSelectAppName")
          loadingMessage="Waiting for the server...."
          placeholder="Select an existing product/team name"
          searchPlaceholder="Type to filter..."
          triggerId="anomaly-form-app-name"
          triggerClass="te-form__select"
          disabled=(not isMetricSelected)
          as |app|
        }}
          {{app.application}}
        {{/power-select}}

        {{!-- Loader for submit button --}}
        {{#if isProcessingForm}}
          <div class="spinner-wrapper--self-serve">{{ember-spinner}}</div>
        {{/if}}
    </div>

    {{!-- Field: Select Existing Subscription Group --}}
    <div class="col-sm-6">
      <label for="config-group" class="control-label te-label te-label--taller">Add This Alert To An Existing Subscription Group</label>
      {{#power-select
        options=filteredConfigGroups
        selected=selectedConfigGroup
        searchField="name"
        onchange=(action "onSelectConfigGroup")
        disabled=(not isMetricSelected)
        searchField="name"
        loadingMessage="Waiting for the server...."
        placeholder="Select an existing alert subscription group"
        searchPlaceholder="Type to filter..."
        triggerId="config-group"
        triggerClass="te-form__select"
        as |group|
      }}
        {{group.name}}
      {{/power-select}}
    </div>
    {{!--  Fields for new alert group creation --}}
    <div class="col-sm-6">
      <label for="config-group-new-name" class="control-label te-label te-label--taller"><strong>Or</strong> Provide A New Subscription Group Name</label>
      {{#if isGroupNameDuplicate}}
        <div class="te-form__alert--warning alert-warning">Warning: <strong>{{newConfigGroupName}}</strong> already exists. Please try another name.</div>
      {{/if}}
      {{input
        type="text"
        id="config-group-new-name"
        class="form-control te-input"
        placeholder="New Group Name"
        value=newConfigGroupName
        key-up="validateNewGroupName"
        focus-out="validateNewGroupName"
        disabled=(not isMetricSelected)
      }}
    </div>
    {{!-- Alert Group Metadata --}}
    {{#if selectedConfigGroup}}
      <div class="col-xs-12">
        {{#if selectedGroupFunctions.length}}
          {{#bs-accordion as |acc|}}
            {{#acc.item class="te-form__custom-label" title=selectedConfigGroupSubtitle}}
              {{models-table
                data=selectedGroupFunctions
                columns=alertsTableColumns
                showGlobalFilter=false
                showColumnsDropdown=false
                filteringIgnoreCase=true
              }}
            {{/acc.item}}
          {{/bs-accordion}}
        {{else}}
          <span class="alert-group-functions__item--id">NONE</span>
        {{/if}}
      </div>
    {{/if}}
    {{!-- Field: new alert group recipient emails --}}
    <div class="col-xs-12">
      <label for="config-group" class="control-label te-label te-label--taller">
        Add Alert Notification Recipients *
        <div class="te-form__sub-label">Current recipients: <span class="te-form__sub-label--strong">{{if selectedGroupRecipients selectedGroupRecipients "None"}}</span></div>
      </label>
      {{#if isDuplicateEmail}}
        <div class="te-form__alert--warning alert-warning">Warning: <strong>{{duplicateEmails}}</strong> is already included in this group.</div>
      {{/if}}
      {{#if isEmptyEmail}}
        <div class="te-form__alert--warning alert-warning">Warning: Please provide a notification email for this group!</div>
      {{/if}}
      {{#if isEmailError}}
        <div class="te-form__alert--warning alert-warning">Warning: Please check formatting of these LinkedIn email addresses</div>
      {{/if}}
      {{input
        type="email"
        id="config-group-add-recipients"
        class="form-control te-input"
        focus-out="validateAlertEmail"
        key-up="validateAlertEmail"
        placeholder="Add additional recipients (comma-separated email addresses)"
        autocomplete=false
        value=alertGroupNewRecipient
        disabled=(not isMetricSelected)
        required=true
      }}
    </div>
  </fieldset>

  <fieldset class="te-form__section-submit">
    {{bs-button
      defaultText="Clear All"
      type="outline-primary"
      buttonType="cancel"
      onClick=(action "onResetForm")
      class="te-button te-button--cancel"
    }}
    {{#if isFormDisabled}}
      {{bs-button
        defaultText="Create Another Alert"
        type="primary"
        onClick=(action "onResetForm")
        buttonType="submit"
        class="te-button te-button--submit"
      }}
    {{else}}
      {{bs-button
        defaultText="Create & Activate Alert"
        type="primary"
        onClick=(action "onSubmit")
        buttonType="submit"
        disabled=isSubmitDisabled
        class="te-button te-button--submit"
      }}
    {{/if}}
  </fieldset>
  {{outlet}}
</main>
