<h1 class="te-title">Create Alert <a class="thirdeye-link-secondary" target="_blank" href="{{helpDocLink}}">click here for a step-by-step guide</a>
  {{#if (eq debug "show")}}
    {{#x-toggle
      value=isForm
      classNames="te-toggle te-toggle--form te-toggle--left report-toggle pull-right"
      theme="ios"
      id="label-toggle"
      showLabels=true
      name="activeToggle"
      onToggle=(action (mut isForm))
      as |toggle|}}
        {{#toggle.label value=isForm}}
          <span class="te-label te-label--flush">YAML</span>
        {{/toggle.label}}
        {{toggle.switch theme='ios' onLabel='diff on' offLabel='diff off'}}
        {{#toggle.label value=isForm}}
          <span class="te-label te-label--flush">Form</span>
        {{/toggle.label}}
    {{/x-toggle}}
  {{/if}}
</h1>
<main class="alert-create card-container card-container--padded te-form">
  {{#if isForm}}
    <fieldset class="te-form__section te-form__section--first row">
      <div class="col-xs-12">
        <legend class="te-form__section-title">Define metric</legend>
      </div>
      <div class="col-xs-12 col-sm-8">
        <label for="select-metric" class="control-label te-label te-label--taller required">Select a metric to monitor, or
          {{#link-to "self-serve.import-metric" class="thirdeye-link-secondary-grey thirdeye-link-secondary-grey--inside"}}
            Import from InGraphs
          {{/link-to}}
          {{!-- or
          {{#link-to "self-serve.import-sql-metric" class="thirdeye-link-secondary thirdeye-link-secondary--inside"}}
            Import a Metric From Presto or MySQL
          {{/link-to}} --}}
        </label>
        <div class="te-form__sub-label te-form__sub-label--raised">
          Please contact <a class="thirdeye-link-secondary-grey" target="_blank" href="{{metricHelpMailto}}">ask_thirdeye</a>
          if you need to onboard non-additive UMP or derived metrics
        </div>
        {{#power-select
          search=(perform searchMetricsList)
          selected=selectedMetricOption
          onchange=(action "onSelectMetric")
          loadingMessage="Waiting for the server...."
          placeholder="Search by Metric Name"
          searchPlaceholder="Type to filter..."
          triggerId="select-metric"
          triggerClass="te-form__select"
          disabled=false
          as |metric|
        }}
          {{metric.alias}}
        {{/power-select}}
      </div>

      <div class="te-form__custom-field te-form__custom-field--lower col-xs-6 col-sm-4">
        <label for="select-granularity" class="control-label te-label te-label--taller">Data granularity</label>
        {{#power-select
          options=metricGranularityOptions
          selected=selectedGranularity
          onchange=(action "onSelectGranularity")
          placeholder="Select a Granularity"
          searchPlaceholder="Type to filter..."
          triggerId="select-granularity"
          triggerClass="te-form__select te-form__select--granularity"
          searchEnabled=false
          disabled=isGranularitySelectDisabled
          as |granularity|
        }}
          {{granularity}}
        {{/power-select}}
      </div>

      <div class="col-xs-6">
        <label for="select-dimension" class="control-label te-label te-label--taller">
          Create an alert for each dimension value in: (optional)
          <span>
            <i class="glyphicon glyphicon-question-sign"></i>
            {{#tooltip-on-element class="te-tooltip"}}
              For example, selecting Continent means anomalies on each continent will be monitored.
            {{/tooltip-on-element}}
          </span>
        </label>
        {{#power-select
          classNames="te-input"
          options=dimensions
          selected=selectedDimension
          onchange=(action "onSelectDimension")
          loadingMessage="Waiting for the server...."
          placeholder="Break Dimensions By..."
          searchPlaceholder="Type to filter..."
          triggerId="select-dimension"
          triggerClass="te-form__select"
          disabled=(not generalFieldsEnabled)
          as |dimension|
        }}
          {{dimension}}
        {{/power-select}}
      </div>

      <div class="col-xs-6">
        <label for="select-filters" class="control-label te-label te-label--taller required">
          Filter metric by: (Optional)
          <span>
            <i class="glyphicon glyphicon-question-sign"></i>
            {{#tooltip-on-element class="te-tooltip"}}
              For example, filter on countryCode::US implies only anomalies in US will be detected.
            {{/tooltip-on-element}}
          </span>
        </label>
        {{filter-select
          options=filters
          selected=selectedFilters
          triggerId="select-filters"
          onChange=(action "onSelectFilter")
          disabled=isFilterSelectDisabled
        }}
      </div>

      {{!-- Render metric graph --}}

    </fieldset>

    <fieldset class="te-form__section row">
      <div class="col-xs-12">
        <legend class="te-form__section-title">Detection Settings</legend>
        <div class="te-form__sub-label te-form__sub-label--raised">ThirdEye automatically selects an algorithm that learns from 1 month of data for "expected" behavior and detects anomalies when there's a deviation.</div>
      </div>

      {{!-- Field: Pattern --}}
      <div class="col-xs-3">
        <label for="select-pattern" class="control-label te-label te-label--taller required">Anomaly Pattern of Interest</label>
        {{#power-select
          loadingMessage="Waiting for the server...."
          triggerId="select-pattern"
          triggerClass="te-form__select"
          placeholder="Pick an anomaly pattern"
          loadingMessage="Please select a metric first"
          options=patternsOfInterest
          searchEnabled=false
          selected=selectedPattern
          onchange=(action "onSelectPattern")
          disabled=(not generalFieldsEnabled)
          required=true
          as |name|
        }}
          {{name}}
        {{/power-select}}
      </div>

      {{!-- Field: Sensitivity with mode option --}}
      <div class="te-form__vertical-block col-xs-12">
        <label for="select-sensitivity" class="control-label te-label te-label--taller required">ThirdEye will further filter anomalies by</label>
        <div class="te-form__indent-block">
          <ul class="te-form__list col-xs-12">
            <li class="te-form__list-item">
              {{#radio-button value="current" groupValue=selectedTuneType}}
                <div class="te-form__list-label">automatically tuning filter settings with reviewed anomalies</div>
                <div class="te-form__radio-label">ThirdEye takes in reviewed anomalies to automatically filter for relevant anomalies</div>
              {{/radio-button}}
            </li>
            <li class="te-form__list-item">
              {{#radio-button value="custom" groupValue=selectedTuneType}}
                <div class="te-form__list-label">customize filter settings based on a minimum time to detect (MTTD) target</div>
                <div class="te-form__radio-label">ThirdEye takes in reviewed anomalies AND customized target to automatically filter for relevant anomalies.<br/>Eg. minimum time to alert of 30% drop is 5 hours, more severe anomalies can be alerted faster than 5 hours.</div>
              {{/radio-button}}
             </li>
          </ul>
        </div>
        {{#if (eq selectedTuneType "custom")}}
          <div class="te-form__indent-block te-form__indent-block--custom col-xs-12">
            <label for="alert-tune-severity" class="te-form__list-label">When</label>
            <div class="te-form__tune-field">
              {{#power-select
                triggerId="alert-tune-severity"
                triggerClass="te-form__tune-field"
                verticalPosition="below"
                placeholder="Select detection option"
                options=tuneSeverityOptions
                searchEnabled=false
                selected=selectedSeverityOption
                onchange=(action (mut selectedSeverityOption))
                disabled=isCustomFieldsDisabled
                as |severity|
              }}
                {{severity}}
              {{/power-select}}
            </div>
            <label for="custom-tune-percent" class="te-form__list-label">is >=</label>
            <div class="te-form__tune-field te-form__tune-field--amount">
              {{input
                type="text"
                id="custom-tune-percent"
                class="form-control te-input te-input"
                value=customPercentChange
                disabled=isCustomFieldsDisabled
              }}
            </div>
            <span class="te-form__list-label--suffix">{{sensitivityUnits}}, </span>
            <label for="custom-tune-mttd" class="te-form__list-label">MTTD is</label>
            <div class="te-form__tune-field te-form__tune-field--amount">
              {{input
                type="text"
                id="custom-tune-mttd"
                class="form-control te-input"
                value=customMttdChange
                disabled=isCustomFieldsDisabled
              }}
            </div>
            <span class="te-form__list-label">hours</span>
          </div>
        {{/if}}
      </div>

      {{!-- Field: Weekly Effect --}}
      {{#if (eq selectedGranularity 'DAYS')}}
        <div class="col-xs-6">
          <label for="select-effect" class="control-label te-label te-label--taller required">
            Weekly Seasonality *
            <span>
              <i class="glyphicon glyphicon-question-sign"></i>
              {{#tooltip-on-element class="te-tooltip"}}
                Does your metric behave differently depending on the day of the week?
              {{/tooltip-on-element}}
            </span>
          </label>
          {{#x-toggle
            value=selectedWeeklyEffect
            classNames="te-toggle te-toggle--lifted te-toggle--left"
            id="select-effect"
            theme='ios'
            showLabels=true
            name="splitViewToggle"
            disabled=(not generalFieldsEnabled)
            onToggle=(action (mut selectedWeeklyEffect))
            as |toggle|}}
              {{#toggle.label value=selectedWeeklyEffect}}
                <span class="te-label te-label--taller te-label te-label--taller--flush">{{if selectedWeeklyEffect 'True' 'False'}}</span>
              {{/toggle.label}}
              {{toggle.switch theme='ios' onLabel='diff on' offLabel='diff off'}}
          {{/x-toggle}}
        </div>
      {{/if}}

    </fieldset>

    <fieldset class="te-form__section row">
      <div class="col-xs-12">
        <legend class="te-form__section-title">Notifications Settings</legend>
      </div>

      {{!-- Field: App Name --}}
      <div class="col-xs-12">
        <label for="anomaly-form-app-name" class="control-label te-label te-label--taller required">Alert belongs to</label>
        <span>
          <i class="glyphicon glyphicon-question-sign"></i>
          {{#tooltip-on-element}}Changing the application team will load the team's notification/subscription groups below{{/tooltip-on-element}}
        </span>
         {{#power-select
            options=allApplicationNames
            selected=selectedAppName
            searchField="application"
            onchange=(action "onSelectAppName")
            loadingMessage="Waiting for the server...."
            placeholder="Pick a related application, product or team"
            searchPlaceholder="Type to filter..."
            triggerId="anomaly-form-app-name"
            triggerClass="te-form__select"
            disabled=(not generalFieldsEnabled)
            as |app|
          }}
            {{app.application}}
          {{/power-select}}

          {{!-- Loader for submit button --}}
          {{#if isProcessingForm}}
            <div class="spinner-wrapper--self-serve">{{ember-spinner}}</div>
          {{/if}}
      </div>

      {{!-- Field: Alert Name --}}
      <div class="col-xs-12">
        <label for="anomaly-form-function-name" class="control-label te-label te-label--taller required">
          Name this alert
          <div class="te-form__sub-label">Please follow this naming convention: <span class="te-form__sub-label--strong">applicationName_metricName_dimensionName_other</span></div>
        </label>
        {{#if isAlertNameDuplicate}}
          <div class="te-form__alert--warning alert-warning">Warning: <strong>{{alertFunctionName}}</strong> already exists. Please try another name.</div>
        {{/if}}
        {{input
          type="text"
          id="anomaly-form-function-name"
          class="form-control te-input"
          placeholder="Add a descriptive alert name"
          value=alertFunctionName
          key-up=(action "validateAlertName" alertFunctionName true)
          disabled=(not generalFieldsEnabled)
        }}
      </div>

      {{!-- Field: Select Existing Subscription Group --}}
      <div class="col-sm-6">
        <label for="config-group" class="control-label te-label te-label--taller">Add this alert to an existing <span class="stronger">{{selectedAppName.application}}</span> subscription group</label>
        {{#power-select
          options=filteredConfigGroups
          selected=selectedConfigGroup
          searchField="name"
          onchange=(action "onSelectConfigGroup")
          disabled=(not generalFieldsEnabled)
          searchField="name"
          loadingMessage="Waiting for the server...."
          placeholder="Select an existing alert subscription group"
          searchPlaceholder="Type to filter..."
          triggerId="config-group"
          triggerClass="te-form__select"
          as |group|
        }}
          {{group.name}}
        {{/power-select}}
      </div>
      {{!--  Fields for new alert group creation --}}
      <div class="col-sm-6">
        <label for="config-group-new-name" class="control-label te-label te-label--taller"><strong>Or</strong> create new subscription group</label>
        <span>
          <i class="glyphicon glyphicon-question-sign"></i>
          {{#tooltip-on-element}}Before creating a new group, please check if you can simply add recipients to an existing one.{{/tooltip-on-element}}
        </span>
        {{#if isGroupNameDuplicate}}
          <div class="te-form__alert--warning alert-warning">Warning: <strong>{{newConfigGroupName}}</strong> already exists. Please try another name.</div>
        {{/if}}
        {{input
          type="text"
          id="config-group-new-name"
          class="form-control te-input"
          placeholder="New Group Name"
          value=newConfigGroupName
          key-up="validateNewGroupName"
          focus-out="validateNewGroupName"
          disabled=(not generalFieldsEnabled)
        }}
      </div>

      {{!-- Alert Group Metadata --}}
      {{#if selectedConfigGroup}}
        {{self-serve-config-group-table
          title=selectedConfigGroupSubtitle
          data=selectedGroupFunctions
        }}
      {{/if}}

      {{!-- Field: new alert group recipient emails --}}
      <div class="col-xs-12 te-form__section-config">
        <label for="config-group" class="control-label te-label te-label--taller">
          Recipients in subscription group <span class="stronger">{{selectedConfigGroup.name}}</span>:
          <div class="te-form__sub-label"><span class="te-form__sub-label--strong">To: {{if selectedGroupToRecipients selectedGroupToRecipients "No recipients yet"}}</span></div>
          {{#if selectedGroupCcRecipients}}
            <div class="te-form__sub-label"><span class="te-form__sub-label--strong">Cc: {{selectedGroupCcRecipients}}</span></div>
          {{/if}}
        </label>
        {{#if isDuplicateEmail}}
          <div class="te-form__alert--warning alert-warning">Warning: <strong>{{duplicateEmails}}</strong> is already included in this group.</div>
        {{/if}}
        {{#if isEmptyEmail}}
          <div class="te-form__alert--warning alert-warning">Warning: Please provide a notification email for this group!</div>
        {{/if}}
        {{#if isEmailError}}
          <div class="te-form__alert--warning alert-warning">Warning: Please check formatting of these LinkedIn email addresses</div>
        {{/if}}
        {{input
          type="email"
          id="config-group-add-recipients"
          class="form-control te-input"
          focus-out="validateAlertEmail"
          key-up="validateAlertEmail"
          placeholder="Add the email addresses separated by commas. You can edit this or add cc and bcc fields later from the edit notification settings."
          autocomplete=false
          value=alertGroupNewRecipient
          disabled=(not generalFieldsEnabled)
          required=true
        }}
      </div>
    </fieldset>

    <fieldset class="te-form__section-submit">
      {{bs-button
        defaultText="Clear All"
        type="outline-primary"
        buttonType="cancel"
        onClick=(action "onResetForm")
        class="te-button te-button--cancel"
      }}
      {{#if isFormDisabled}}
        {{bs-button
          defaultText="Create Another Alert"
          type="primary"
          onClick=(action "onResetForm")
          buttonType="submit"
          class="te-button te-button--submit"
        }}
      {{else}}
        {{bs-button
          defaultText="Create & Activate Alert"
          type="primary"
          onClick=(action "onSubmit")
          buttonType="submit"
          disabled=isSubmitDisabled
          class="te-button te-button--submit"
        }}
      {{/if}}
    </fieldset>
  {{else}}
    <fieldset class="te-form__section te-form__section--first row">

      {{#detection-yaml
        isEditMode=false
        detectionYaml=detectionYaml
        setDetectionYaml=(action "updateDetectionYaml")
        detectionError=detectionError
        detectionErrorMsg=detectionErrorMsg
        detectionErrorInfo=detectionErrorInfo
        detectionErrorScroll=detectionErrorScroll
        previewError=previewError
        previewErrorMsg=previewErrorMsg
        previewErrorInfo=previewErrorInfo
        previewErrorScroll=previewErrorScroll
        resetScroll=(action "resetErrorScroll")
      }}
      {{/detection-yaml}}

      <div class="col-xs-12">
        {{#bs-accordion onChange=(action "changeAccordion") as |acc|}}
          {{#acc.item value=preview as |aitem|}}
            {{#aitem.title}}
              <section class="dashboard-container__title thirdeye-link-secondary">Preview alert {{if toggleCollapsed "/ Enter YAML configuration to preview alert." ""}}
                <span class="pull-right"><i class="glyphicon glyphicon-menu-{{if toggleCollapsed "down" "up"}}"></i></span>
              </section>
            {{/aitem.title}}
            {{#aitem.body}}
              {{#alert-details
                isEditMode=false
                isPreviewMode=true
                alertYaml=detectionYaml
                dataIsCurrent=alertDataIsCurrent
                sendPreviewError=(action "setPreviewError")
              }}
                {{yield}}
              {{/alert-details}}
            {{/aitem.body}}
          {{/acc.item}}
        {{/bs-accordion}}
      </div>

      <div class="col-xs-12">
        <hr/>
      </div>

      {{#subscription-yaml
        isEditMode=false
        subscriptionYaml=subscriptionYaml
        setSubscriptionYaml=(action "updateSubscriptionYaml")
        subscriptionMsg=""
        selectSubscriptionGroup=(action "changeSubscriptionGroup")
        subscriptionGroupNamesDisplay=subscriptionGroupNamesDisplay
        groupName=groupName
      }}
      {{/subscription-yaml}}

    </fieldset>
    <fieldset class="te-form__section-submit">
      {{bs-button
        defaultText="Create"
        type="primary"
        buttonType="submit"
        disabled=disableYamlSave
        onClick=(action "createAlertYamlAction")
        class="te-button te-button--submit"
      }}
    </fieldset>
  {{/if}}
  {{outlet}}
</main>
