<h1 class="te-title">Create An Alert</h1>
<main class="alert-create paper-container paper-container--padded">

  <fieldset class="te-form__section">
    <legend class="te-form__section-title">Metric:</legend>
    <div class="te-page-right te-page-right--inside">
      {{#link-to "self-serve.import-metric" class="thirdeye-link-secondary thirdeye-link-secondary--inside"}}
        Import a Metric From InGraphs
      {{/link-to}}
    </div>
    <div class="form-group">
      <label for="select-metric" class="control-label required">Searh for a Metric</label>
      {{#power-select
        search=(perform searchMetricsList)
        selected=selectedMetricOption
        onchange=(action "onSelectMetric")
        loadingMessage="Waiting for the server...."
        placeholder="Search by Metric Name"
        searchPlaceholder="Type to filter..."
        triggerId="select-metric"
        disabled=isFormDisabled
        as |metric|
      }}
        {{metric.alias}}
      {{/power-select}}
    </div>

    <label for="select-filters" class="control-label required">Filters</label>
    <div class="form-group">
      {{filter-select
        options=filters
        selected=filterPropNames
        triggerId="select-filters"
        onChange=(action "onSelectFilter")
        disabled=(not isMetricSelected)
      }}

    </div>
    <div class="te-graph-alert {{unless isMetricSelected 'te-graph-alert--pending'}}">
      {{#if isMetricSelected}}
        {{anomaly-graph
          primaryMetric=selectedMetric
          isLoading=loading
          showSubchart=true
          showLegend=false
          height=400
        }}
      {{else}}
        <div class="te-graph-alert__content">
          <div class="glyphicon glyphicon-equalizer te-graph-alert__icon"></div>
          <p class="te-graph-alert__pre-text">Once a metric is selected, the graph replay will show here</p>
        </div>
      {{/if}}
    </div>
  </fieldset>

  <fieldset class="te-form__section">
    <legend class="te-form__section-title">Detection:</legend>
    <div class="form-group te-form__group--horizontal">
      <label for="select-pattern" class="control-label required">Pattern of Interest</label>
      {{#power-select
        loadingMessage="Waiting for the server...."
        triggerId="select-pattern"
        placeholder="Select a Pattern"
        loadingMessage="Please select a metric first"
        options=patternsOfInterest
        searchEnabled=false
        selected=selectedPattern
        onchange=(action (mut selectedPattern))
        disabled=(not isMetricSelected)
        as |name|
      }}
        {{name}}
      {{/power-select}}
    </div>
    <div class="form-group te-form__group--horizontal">
      <label for="select-dimension" class="control-label">Dimension Exploration</label>
      {{#power-select
        options=selectedMetricDimensions
        selected=dimensionSelectorVal
        onchange=(action (mut dimensionSelectorVal))
        loadingMessage="Waiting for the server...."
        placeholder="Select a Dimension"
        searchPlaceholder="Type to filter..."
        triggerId="select-dimension"
        disabled=(not isMetricSelected)
        as |dimension|
      }}
        {{dimension}}
      {{/power-select}}
    </div>
    <div class="form-group te-form__group--horizontal te-form__group--last">
      <label for="select-granularity" class="control-label">Desired Granularity</label>
      {{#power-select
        options=metricGranularityOptions
        selected=selectedGranularity
        onchange=(action "onSelectGranularity")
        placeholder="Select a Granularity"
        searchPlaceholder="Type to filter..."
        triggerId="select-granularity"
        disabled=(not isMetricSelected)
        as |granularity|
      }}
        {{granularity}}
      {{/power-select}}
    </div>
    <div class="form-group te-hide">
      <label for="tune-sensitivity" class="control-label">Tune Sensitivity</label>
      <div class="form-slider"></div>
    </div>
  </fieldset>

  <fieldset class="te-form__section">
    <legend class="te-form__section-title">Alert and Notification:</legend>
    {{!-- Field: New Alert Name --}}
    <div class="form-group">
      <label for="anomaly-form-function-name" class="control-label required">Alert Name</label>
      <div class="te-form__sub-label">Please follow this naming convention: <span class="te-form__sub-label--strong">productName_metricName_dimensionName_other</span></div>
      {{#if isAlertNameDuplicate}}
        <div class="alert alert-warning">Warning: <strong>{{alertFunctionName}}</strong> already exists. Please try another name.</div>
      {{/if}}
      {{input
        type="text"
        id="anomaly-form-function-name"
        class="form-control"
        placeholder="Add a descriptive alert name"
        value=alertFunctionName
        focus-out="validateAlertName"
        key-up="validateAlertName"
        disabled=(not isMetricSelected)
      }}
    </div>
    {{!-- Field: App Name --}}
    <div class="form-group">
      <label for="anomaly-form-app-name" class="control-label required">Related Product or Team</label>
       {{#power-select
          options=allApplicationNames
          selected=selectedAppName
          onchange=(action "onSelectAppName")
          loadingMessage="Waiting for the server...."
          placeholder="Select an existing product/team name"
          searchPlaceholder="Type to filter..."
          triggerId="anomaly-form-app-name"
          disabled=(not isMetricSelected)
          as |app|
        }}
          {{app.application}}
        {{/power-select}}
    </div>
    {{!-- Field: Select Existing Subscription Group --}}
    <div class="form-group">
      <label for="config-group" class="control-label">Add This Alert To An Existing Subscription Group</label>
      {{#power-select
        options=filteredConfigGroups
        selected=selectedConfigGroup
        onchange=(action "onSelectConfigGroup")
        disabled=(not isMetricSelected)
        loadingMessage="Waiting for the server...."
        placeholder="Select an existing alert subscription group"
        searchPlaceholder="Type to filter..."
        triggerId="config-group"
        as |group|
      }}
        {{group.name}}
      {{/power-select}}
    </div>
    {{!--  Fields for new alert group creation --}}
    <div class="form-group">
      <label for="config-group-new-name" class="control-label">Or Provide A New Subscription Group Name</label>
      {{input
        type="text"
        id="config-group-new-name"
        class="form-control"
        placeholder="New Group Name"
        value=newConfigGroupName
        key-down="validateNewGroupName"
        disabled=(not isMetricSelected)
      }}
    </div>
    {{!-- Field: new alert group recipient emails --}}
    <div class="form-group">
      <label for="config-group" class="control-label">Add Alert Notification Recipients</label>
      <div class="te-form__sub-label">Current recipients: <span class="te-form__sub-label--strong">{{if selectedGroupRecipients selectedGroupRecipients "None"}}</span></div>
      {{#if isDuplicateEmail}}
        <div class="alert alert-warning">Warning: <strong>{{duplicateEmails}}</strong> is already included in this group.</div>
      {{/if}}
      {{input
        type="email"
        id="config-group-add-recipients"
        class="form-control"
        focus-out="validateAlertEmail"
        key-up="validateAlertEmail"
        placeholder="Add additional recipients (comma-separated email addresses)"
        autocomplete=false
        value=alertGroupNewRecipient
        disabled=(not isMetricSelected)
        required=true
      }}
    </div>
    {{#if selectedConfigGroup}}
      {{!-- Alert Group Metadata --}}
      <div class="form-group">
        <label for="config-group-functions" class="control-label">Alerts Monitored by This Group</label>
        <ul class="alert-group-functions">
          {{#each selectedGroupFunctions as |function|}}
            <li class="alert-group-functions__item {{if function.isNewId 'alert-group-functions__item--new'}}">
              <span class="alert-group-functions__item--value">{{function.name}} </span>
              <span class="alert-group-functions__item--key">metric/collection: </span>
              <span class="alert-group-functions__item--value">{{function.metric}} </span>
              <span class="alert-group-functions__item--key">type: </span>
              <span class="alert-group-functions__item--value">{{function.type}} </span>
            </li>
          {{else}}
            <span class="alert-group-functions__item--id">NONE</span>
          {{/each}}
        </ul>
      </div>
    {{/if}}
  </fieldset>

  {{#if isCreateAlertSuccess}}
    {{#bs-alert type="success"}}
      <strong>Success!</strong> You have created anomaly alert Id <strong>{{finalFunctionId}}</strong>.
    {{/bs-alert}}
  {{/if}}

  {{#if isCreateGroupSuccess}}
    {{#bs-alert type="success"}}
      <strong>Success!</strong> You have created anomaly notification group <strong>{{newConfigGroupName}}</strong>.
    {{/bs-alert}}
  {{/if}}

  {{#if isCreateAlertError}}
    {{#bs-alert type="danger"}}
      <strong>Error!</strong> Alert creation has failed. Please try again.
    {{/bs-alert}}
  {{/if}}

  {{#if isReplayTriggeredSuccess}}
    {{#bs-alert type="success"}}
      <strong>Success!</strong> The replay of anomaly alert <strong>{{alertFunctionName}}</strong> has started processing. We will notify <strong>{{alertGroupNewRecipient}}</strong> when the replay is complete.
    {{/bs-alert}}
  {{/if}}

  {{#if isReplayComplete}}
    {{#bs-alert type="success"}}
      <strong>Success</strong> The replay of anomaly alert <strong>{{alertFunctionName}}</strong> has completed.
    {{/bs-alert}}
  {{/if}}

  <fieldset class="te-form__section-submit">
    {{bs-button
      defaultText="Clear All"
      type="outline-primary"
      buttonType="cancel"
      onClick=(action "clearAll")
      class="te-submit-button"
    }}
    {{#if isFormDisabled}}
      {{bs-button
        defaultText="Create Another Alert"
        type="primary"
        onClick=(action "clearAll")
        buttonType="submit"
        class="te-submit-button"
      }}
    {{else}}
      {{bs-button
        defaultText="Create & Activate Alert"
        type="primary"
        onClick=(action "onSubmit")
        buttonType="submit"
        disabled=isSubmitDisabled
        class="te-submit-button"
      }}
    {{/if}}

  </fieldset>

  {{outlet}}
</main>