<ul class="te-anomaly-table__list">
  <li class="te-anomaly-table__list-item te-anomaly-table__list-item--smaller" title="{{record.anomaly.functionName}}">
    {{#link-to 'rootcause' (query-params anomalyId=record.id)}}
      {{record.anomaly.functionName}}
    {{/link-to}}
  </li>
  {{#each-in record.anomaly.dimensions as |dimName dimList|}}
   <li class="te-anomaly-table__list-item te-anomaly-table__list-item--smaller" title="{{dimension.dimensionVal}}">
     {{dimName}}:<span class="te-anomaly-table__list-value">{{dimList}}</span>
   </li>
  {{else}}
    -
  {{/each-in}}
</ul>
