<div class="te-content-block">
  <h4 class="te-self-serve__block-title">Anomaly #{{anomaly.anomalyId}}</h4>
  <p>
    <span>Metric:  <strong>{{anomaly.metricName}}</strong></span>
    <span> and Dataset: <strong>{{anomaly.dataset}}</strong></span>
  </p>
  {{#each-in anomaly.dimensions as |dimName dimList|}}
    <li class="te-anomaly-table__list-item" title="{{dimension.dimensionVal}}">
      {{dimName}}:<span class="te-anomaly-table__list-value">{{dimList}}</span>
    </li>
  {{/each-in}}

  {{#if isLoading}}
    <div class="spinner-wrapper-self-serve spinner-wrapper-self-serve__content-block">
      {{ember-spinner}}
    </div>
  {{/if}}
  <div class="col-xs-12 te-graph-container">
    {{timeseries-chart
      series=series
      colorMapping=colorMapping
      axis=axis
      zoom=zoom
      subchart=subchart
      legend=legend
      point=point
      id=id
    }}
  </div>
  {{!-- Alert anomaly table --}}
  <div class="te-block-container">
    <table class="te-anomaly-table">
      <thead>
        <tr class="te-anomaly-table__row te-anomaly-table__head">
          <th class="te-anomaly-table__cell-head te-anomaly-table__cell-head--left">
            <a class="te-anomaly-table__cell-link">
              Start/Duration ({{timezoneId}})
            </a>
          </th>
          <th class="te-anomaly-table__cell-head">
            <a class="te-anomaly-table__cell-link">
              Current / Predicted
            </a>
          </th>
          <th class="te-anomaly-table__cell-head">
            <a class="te-anomaly-table__cell-link">
              Anomaly Type
            </a>
          </th>
          <th class="te-anomaly-table__cell-head">
            <a class="te-anomaly-table__cell-link">
              Feedback
            </a>
          </th>
          <th class="te-anomaly-table__cell-head"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="te-anomaly-table__row">
           <td class="te-anomaly-table__cell">
            <ul class="te-anomaly-table__list te-anomaly-table__list--left">
              <li class="te-anomaly-table__list-item te-anomaly-table__list-item--stronger">
                <a target="_blank" class="te-anomaly-table__link" href="/app/#/rootcause?anomalyId={{anomaly.anomalyId}}">
                  {{anomaly.startDateStr}}
                </a>
              </li>
              <li class="te-anomaly-table__list-item te-anomaly-table__list-item--lighter">{{anomaly.durationStr}}</li>
            </ul>
           </td>
           <td class="te-anomaly-table__cell">
            <ul class="te-anomaly-table__list">
              <li>{{anomaly.shownCurrent}} / {{anomaly.shownBaseline}}</li>
              <li class="te-anomaly-table__value-label te-anomaly-table__value-label--{{calculate-direction anomaly.shownChangeRate}}">
                {{#if (not anomaly.isNullChangeRate)}}
                  ({{anomaly.shownChangeRate}}%)
                {{else}}
                  (N/A)
                {{/if}}
              </li>
            </ul>
           </td>
          <td class="te-anomaly-table__cell">
            <ul class="te-anomaly-table__list te-anomaly-table__list--left">
              <li class="te-anomaly-table__list-item te-anomaly-table__list-item--stronger">
                {{anomaly.type}}
              </li>
            </ul>
          </td>
          <td class="te-anomaly-table__cell">
              {{#if renderStatusIcon}}
                {{#if anomaly.showResponseSaved}}
                  <i class="te-anomaly-table__icon--status glyphicon glyphicon-ok-circle"></i>
                {{/if}}
                {{#if anomaly.showResponseFailed}}
                  <i class="te-anomaly-table__icon--status te-anomaly-table__icon--error glyphicon glyphicon-remove-circle"></i>
                {{/if}}
              {{/if}}

              {{#if anomaly.isUserReported}}
                <div class="te-anomaly-table__text te-anomaly-table__text--explore">User Reported</div>
                <div class="te-anomaly-table__comment">
                  <i class="glyphicon glyphicon-th-list"></i>
                  {{#tooltip-on-element class="te-anomaly-table__tooltip"}}
                    {{anomaly.anomalyFeedbackComments}}
                  {{/tooltip-on-element}}
                </div>
              {{else}}
                {{#power-select
                  triggerId=anomaly.anomalyId
                  triggerClass="te-anomaly-table__select"
                  options=feedbackOptions
                  searchEnabled=false
                  selected=(get labelMap anomaly.anomalyFeedback)
                  onchange=(action "onChangeAnomalyFeedback" anomaly)
                  as |response|
                }}
                  {{response}}
                {{/power-select}}
              {{/if}}
           </td>
           <td class="te-anomaly-table__cell te-anomaly-table__cell--feedback">
              <div class="te-anomaly-table__link-wrapper">
                {{#link-to 'rootcause' (query-params anomalyId=anomaly.anomalyId) target="_blank" class="te-anomaly-table__link"}}
                  Investigate
                {{/link-to}}
              </div>
           </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
