{{#if isDataLoading}}
  <div class="te-alert-page-pending">
    <img src="{{rootURL}}assets/images/te-alert-{{if isDataLoadingError "error" "pending"}}.png" class="te-alert-page-pending__image {{if isDataLoadingError "te-alert-page-pending__image--error"}}" alt="alertData.Setup is Processing">
    <h2 class="te-alert-page-pending__title">{{if isDataLoadingError "Oops, something went wrong." "Aggregating anomaly performance data..."}}</h2>
    {{#if (not isDataLoadingError)}}<div class="te-alert-page-pending__loader"></div>{{/if}}
    <p class="te-alert-page-pending__text">
      {{#if isDataLoadingError}}
        The AI availability data cannot be retrieved.<br/>{{errMsg}}
      {{else}}
        Fetching all AI availability data for all alerts may take up to a minute. <br/>Hang in there!
      {{/if}}
    </p>
  </div>
{{else}}
  <div class="manage-alert-tune">

    <div class="range-pill-selectors__ai">
      {{!-- Date range selector --}}
      {{range-pill-selectors
        title="Select Time Range"
        uiDateFormat=uiDateFormat
        activeRangeEnd=activeRangeEnd
        activeRangeStart=activeRangeStart
        timeRangeOptions=timeRangeOptions
        timePickerIncrement=timePickerIncrement
        selectAction=(action "onRangeSelection")
      }}
  </div>

    <div class="te-content-block">
      <h4 class="te-alert-page__subtitle"><strong>AI Availability Data</strong> from <strong>{{formattedTime.start}}</strong> to <strong>{{formattedTime.end}}</strong></h4>

      {{!-- Alert anomaly table --}}
      <table class="te-anomaly-table te-anomaly-table--performance">
        <thead>
          <tr class="te-anomaly-table__row te-anomaly-table__head">
            {{#each tableHeaders as |header|}}
              <th class="te-anomaly-table__cell-head">
                <a class="te-anomaly-table__cell-link" {{action "toggleSortDirection" header.text}}>
                  {{header.text}}
                 <i class="te-anomaly-table__icon te-anomaly-table__icon--small glyphicon glyphicon-menu-{{header.sort}}"></i>
                </a>
              </th>
            {{/each}}
          </tr>
        </thead>

        <tbody>
          {{#each rows as |row|}}
            <tr class="te-anomaly-table__row">
              {{#each row.columns as |column|}}
                <td class="te-anomaly-table__cell">{{{column}}}</td>
              {{/each}}
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
{{/if}}
