<fieldset class="te-form__section te-form__section--micro row" id="dimensions-include">
  <div class="te-form__group col-xs-12">
    <label for="dimension-select-include" class="control-label te-label te-label--small">
      Dimensions to INCLUDE
      {{#if tooltips.include}}
        <span>
          <i class="glyphicon glyphicon-info-sign te-modal__tooltip-icon"></i>
          {{#tooltip-on-element class="te-modal__tooltip"}}{{tooltips.include}}{{/tooltip-on-element}}
        </span>
      {{/if}}
    </label>

    {{#power-select-multiple
      selected=selectedIncludeDimensions
      options=dimensionOptionsInclude
      searchEnabled=false
      renderInPlace=true
      onchange=(action "onInput" "selectedIncludeDimensions")
      placeholder="Select a dimension to include"
      triggerId="dimension-select-include"
      triggerClass="te-form__select"
      verticalPosition="below"
      as |dimension|
    }}
      {{dimension}}
    {{/power-select-multiple}}

    <div class="te-form__sub-label te-form__sub-label--micro">Show only these dimensions</div>
    {{#if (gt selectedIncludeDimensions.length 1)}}
      {{input
        type="checkbox"
        id="dimension-order"
        change=(action "onChangeMaintainOrder")
        checked=isDimensionOrderActive}}
      <label for="dimension-order" class="control-label te-label te-label--small">
        Maintain this order
        {{#if tooltips.maintain}}
          <span>
            <i class="glyphicon glyphicon-info-sign te-modal__tooltip-icon"></i>
            {{#tooltip-on-element class="te-modal__tooltip"}}{{tooltips.maintain}}{{/tooltip-on-element}}
          </span>
        {{/if}}
      </label>
    {{/if}}
  </div>
</fieldset>

<fieldset class="te-form__section te-form__section--micro row" id="dimensions-exclude">
  <div class="te-form__group col-xs-12">
    <label for="dimension-select-exclude" class="control-label te-label te-label--small">
      Dimensions to EXCLUDE
      {{#if tooltips.exclude}}
        <span>
          <i class="glyphicon glyphicon-info-sign te-modal__tooltip-icon"></i>
          {{#tooltip-on-element class="te-modal__tooltip"}}{{tooltips.exclude}}{{/tooltip-on-element}}
        </span>
      {{/if}}
    </label>

    {{#power-select-multiple
      selected=selectedExcludeDimensions
      options=dimensionOptionsExclude
      searchEnabled=false
      renderInPlace=true
      onchange=(action "onInput" "selectedExcludeDimensions")
      placeholder="Select a dimension to exclude"
      triggerId="dimension-select-exclude"
      triggerClass="te-form__select"
      verticalPosition="below"
      as |dimension|
    }}
      {{dimension}}
    {{/power-select-multiple}}

    <div class="te-form__sub-label te-form__sub-label--micro">Remove these dimensions</div>
  </div>
</fieldset>

<fieldset class="te-form__section te-form__section--micro row" id="dimensions-settings">
  <div class="te-form__group te-form__group--hz-micro col-xs-6">
    <label for="num-top-contibutors" class="control-label te-label te-label--small">
      Number of top contributors
      {{#if tooltips.contributors}}
        <span>
          <i class="glyphicon glyphicon-info-sign te-modal__tooltip-icon"></i>
          {{#tooltip-on-element class="te-modal__tooltip"}}{{tooltips.contributors}}{{/tooltip-on-element}}
        </span>
      {{/if}}
    </label>
    {{input
      type="text"
      id="num-top-contibutors"
      class="form-control te-input"
      focus-out=(action "onInput" "topContributors")
      placeholder="Links to JIRAs, InGraph Dashboards, etc"
      value=topContributors
    }}
    <div class="te-form__sub-label te-form__sub-label--micro">Number of response rows to return</div>
  </div>

  <div class="te-form__group te-form__group--hz-micro col-xs-6">
    <label for="dimension-select-levels" class="control-label te-label te-label--small">
      Levels of dimension (max 3)
      {{#if tooltips.levels}}
        <span>
          <i class="glyphicon glyphicon-info-sign te-modal__tooltip-icon"></i>
          {{#tooltip-on-element class="te-modal__tooltip"}}{{tooltips.levels}}{{/tooltip-on-element}}
        </span>
      {{/if}}
    </label>
    {{#power-select
      triggerId="dimension-select-levels"
      triggerClass="te-form__select"
      verticalPosition="below"
      placeholder="Select a dimension"
      renderInPlace=true
      options=dimensionLevels
      searchEnabled=false
      selected=selectedDimensionLevel
      onchange=(action "onInput" "selectedDimensionLevel")
      as |levels|
    }}
      {{levels}}
    {{/power-select}}
    <div class="te-form__sub-label te-form__sub-label--micro">Levels of dimension to slice by</div>
  </div>
</fieldset>

<fieldset class="te-form__section te-form__section--micro row" id="dimensions-error">
  <div class="te-form__group col-xs-6">
    <label for="dimension-select-error" class="control-label te-label te-label--small">
      One side error
      {{#if tooltips.oneSide}}
        <span>
          <i class="glyphicon glyphicon-info-sign te-modal__tooltip-icon"></i>
          {{#tooltip-on-element class="te-modal__tooltip"}}{{tooltips.oneSide}}{{/tooltip-on-element}}
        </span>
      {{/if}}
    </label>
    {{#power-select
      triggerId="dimension-select-error"
      triggerClass="te-form__select"
      verticalPosition="above"
      placeholder="Select a dimension"
      renderInPlace=true
      options=errorOptions
      searchEnabled=false
      selected=selectedErrorOption
      onchange=(action "onInput" "selectedErrorOption")
      as |errorOption|
    }}
      {{errorOption}}
    {{/power-select}}
    <div class="te-form__sub-label te-form__sub-label--micro">Match global change direction</div>
  </div>
</fieldset>
