
{{#if hasPageKeys}}
  <ul class="list-unstyled">
    <li><span class="rootcause-callgraph-label">Page Keys: </span>{{pageKeys}}</li>
    <li><span class="rootcause-callgraph-label">Fabrics: </span>{{fabrics}}</li>
  </ul>

  {{#if hasEdges}}
    <div class="rootcause-callgraph-table">
      {{update-table
        data=callgraphTableData
        columns=callgraphTableColumns
        preselectedItems=preselectedItems
        showColumnsDropdown=false
        showGlobalFilter=false
      }}
    </div>

  {{else}}
    <div class="rootcause-alert alert alert-warning fade in">
      No call graph data available for the selected page keys and time range.
      You may need to expand the investigation period.
    </div>
    
  {{/if}}

{{else}}
  <div class="rootcause-alert alert alert-warning fade in">
    Call Graph analysis requires at least one active page key filter.
    Please select a metric with a page key support, and select a page key filter to generate the report.
  </div>

{{/if}}