<div class="manage-alert-explore">
  {{#if (not isReplayPending)}}
    <div class="te-pill-selectors">
      {{!-- Date range selector --}}
      <div class="te-pill-selectors__label">Showing</div>
      <ul class="te-alert-page-hzlist">
        {{#each timeRangeOptions as |range|}}
          <li class="te-alert-page-hzlist__item {{if range.isActive "te-alert-page-hzlist__item--active"}}" {{action "onRangeOptionClick" range}}>
            {{range.name}}
            {{#if (eq range.name "Custom")}}
              : {{date-range-picker
                  class="te-pill-selectors__range-picker te-pill-selectors__range-picker--explore"
                  timePicker=false
                  timePicker24Hour=true
                  timePickerIncrement=timePickerIncrement
                  maxDate=maxTime
                  start=activeRangeStart
                  end=activeRangeEnd
                  ranges=predefinedRanges
                  showCustomRangeLabel=false
                  format=uiDateFormat
                  serverFormat="YYYY-MM-DD HH:mm"
                  applyAction=(action "onRangeSelection")
                }}
            {{/if}}
          </li>
        {{/each}}
      </ul>
    </div>

    {{#if isPageLoadFailure}}
      {{#bs-alert type="danger" class="te-form__banner te-form__banner--failure"}}
        <strong>Error:</strong> Failed to load performance data.
      {{/bs-alert}}
    {{/if}}

    <div class="te-horizontal-cards te-content-block">
      <h4 class="te-self-serve__block-title">Alert Performance</h4>
      <a class="te-pill-selectors__side-link" {{action "onClickTuneSensitivity" this}}>Customize sensitivity</a>
      <div class="te-horizontal-cards__container">
        {{!-- Alert anomaly stats cards --}}
        {{anomaly-stats-block
          isTunePreviewActive=isTunePreviewActive
          displayMode="explore"
          anomalyStats=anomalyStats
        }}
      </div>
    </div>

    {{#if isReportSuccess}}
      {{#bs-alert type="success" class="te-form__banner te-form__banner--success"}}
        <strong>Success:</strong> We have saved the reported anomaly for alert id <strong>{{alertId}}</strong>
      {{/bs-alert}}
    {{/if}}

    {{#if isReportFailure}}
      {{#bs-alert type="danger" class="te-form__banner te-form__banner--failure"}}
        <strong>Error:</strong> Failed to save reported anomaly.
      {{/bs-alert}}
    {{/if}}

    <div class="te-content-block">
      <h4 class="te-self-serve__block-title">Anomalies over time ({{#if anomaliesLoaded}}{{filteredAnomalies.length}}{{else}}...loading anomalies{{/if}})</h4>
      <a class="te-pill-selectors__side-link te-pill-selectors__side-link--high" {{action "onClickReportAnomaly" this}}>Report missing anomaly</a>

      {{#if filteredAnomalies}}
        <div class="te-pill-selectors">
          {{!-- Dimension selector --}}
          {{#if alertHasDimensions}}
            <div class="te-form__select te-form__select--wider col-md-3">
              {{#power-select
                triggerId="select-dimension"
                triggerClass="te-form__select"
                options=dimensionOptions
                searchEnabled=false
                matchTriggerWidth=true
                matchContentWidth=true
                selected=selectedDimension
                onchange=(action "onSelectDimension")
                as |dimension|
              }}
                {{dimension}}
              {{/power-select}}
            </div>
          {{/if}}
          {{!-- Resolution selector --}}
          <div class="te-pill-selectors__range-picker col-md-3">
            {{#power-select
              triggerId="select-resolution"
              triggerClass="te-form__select"
              options=resolutionOptions
              searchEnabled=false
              matchTriggerWidth=true
              matchContentWidth=true
              selected=selectedResolution
              onchange=(action "onSelectResolution")
              as |resolution|
            }}
              {{resolution}}
            {{/power-select}}
          </div>
        </div>
      {{/if}}

      {{!-- Missing anomaly modal --}}
      {{#te-modal
        headerText="Report Undetected Anomaly"
        cancelButtonText="Cancel"
        submitButtonText="Report"
        saveAction=(action "onSave")
        cancelAction=(action "onCancel")
        isShowingModal=openReportModal
      }}
        {{#if renderModalContent}}
          {{alert-report-modal
            metricName=alertData.metric
            alertName=alertData.functionName
            dimensionOptions=dimensionOptions
            showTimePicker=true
            timePickerIncrement=timePickerIncrement
            maxTime=maxTime
            viewRegionStart=viewRegionStart
            viewRegionEnd=viewRegionEnd
            predefinedRanges=predefinedRanges
            uiDateFormat=uiDateFormat
            metricData=metricData
            topDimensions=topDimensions
            isMetricDataInvalid=isMetricDataInvalid
            inputAction=(action "onInputMissingAnomaly")
          }}
        {{else}}
          {{ember-spinner}}
        {{/if}}
      {{/te-modal}}

      {{!-- Alert page graph --}}
      {{self-serve-graph
        isMetricDataLoading=isMetricDataLoading
        isMetricDataInvalid=isMetricDataInvalid
        isDimensionFetchDone=isDimensionFetchDone
        isMetricSelected=true
        metricData=metricData
        topDimensions=topDimensions
        componentId='alert-page'
      }}

      {{#if filteredAnomalies}}
        {{!-- Baseline type selector --}}
        <div class="te-pill-selectors">
          <div class="te-pill-selectors__label">Baseline</div>
          <ul class="te-alert-page-hzlist">
            {{#each baselineOptions as |baseline|}}
              <li class="te-alert-page-hzlist__item {{if baseline.isActive "te-alert-page-hzlist__item--active"}}" {{action "onBaselineOptionClick" baseline}}>
                {{baseline.name}}
              </li>
            {{/each}}
          </ul>
        </div>
      {{/if}}

      {{!-- Alert anomaly table --}}
      <div class="te-block-container">
        {{#if baselineOptionsLoading}}
          <div class="spinner-wrapper spinner-wrapper--card">{{ember-spinner}}</div>
        {{/if}}
        <table class="te-anomaly-table">
          {{#if filteredAnomalies}}
            <thead>
              <tr class="te-anomaly-table__row te-anomaly-table__head">
                 <th class="te-anomaly-table__cell-head">
                  <a class="te-anomaly-table__cell-link" {{action "toggleSortDirection" "start"}}>
                    Start/Duration (PDT)
                    <i class="te-anomaly-table__icon glyphicon {{if sortColumnStartUp "glyphicon-menu-up" "glyphicon-menu-down"}}"></i>
                  </a>
                 </th>
                 {{#if alertHasDimensions}}
                    <th class="te-anomaly-table__cell-head te-anomaly-table__cell-head--fixed">Dimensions</th>
                 {{/if}}
                 <th class="te-anomaly-table__cell-head">
                  <a class="te-anomaly-table__cell-link" {{action "toggleSortDirection" "score"}}>
                    Severity Score
                    <i class="te-anomaly-table__icon glyphicon {{if sortColumnScoreUp "glyphicon-menu-up" "glyphicon-menu-down"}}"></i>
                  </a>
                 </th>
                 <th class="te-anomaly-table__cell-head">
                  <a class="te-anomaly-table__cell-link" {{action "toggleSortDirection" "change"}}>
                    {{baselineTitle}}
                    <i class="te-anomaly-table__icon glyphicon {{if sortColumnChangeUp "glyphicon-menu-up" "glyphicon-menu-down"}}"></i>
                  </a>
                 </th>
                 <th class="te-anomaly-table__cell-head">
                  <a class="te-anomaly-table__cell-link" {{action "toggleSortDirection" "resolution"}}>
                    Resolution
                    <i class="te-anomaly-table__icon glyphicon {{if sortColumnResolutionUp "glyphicon-menu-up" "glyphicon-menu-down"}}"></i>
                  </a>
               </th>
              </tr>
            </thead>
          {{/if}}
          <tbody>
            {{#each paginatedFilteredAnomalies as |anomaly|}}
              <tr class="te-anomaly-table__row">
                 <td class="te-anomaly-table__cell">
                  <ul class="te-anomaly-table__list">
                    <li class="te-anomaly-table__list-item te-anomaly-table__list-item--shadow">{{anomaly.index}}</li>
                    <li class="te-anomaly-table__list-item te-anomaly-table__list-item--stronger">
                      <a target="_blank" class="te-anomaly-table__link" href="/thirdeye#anomalies?anomaliesSearchMode=id&pageNumber=1&anomalyIds={{anomaly.anomalyId}}">
                        {{anomaly.startDateStr}}
                      </a>
                    </li>
                    <li class="te-anomaly-table__list-item te-anomaly-table__list-item--lighter">{{anomaly.durationStr}}</li>
                  </ul>
                 </td>
                 {{#if alertHasDimensions}}
                   <td class="te-anomaly-table__cell">
                    <ul class="te-anomaly-table__list">
                     {{#each anomaly.dimensionList as |dimension|}}
                        <li class="te-anomaly-table__list-item te-anomaly-table__list-item--smaller" title="{{dimension.dimensionVal}}">
                          {{dimension.dimensionKey}}: <span class="stronger">{{dimension.dimensionVal}}</span>
                        </li>
                     {{else}}
                        -
                     {{/each}}
                    </ul>
                   </td>
                 {{/if}}
                 <td class="te-anomaly-table__cell">{{anomaly.severityScore}}</td>
                 <td class="te-anomaly-table__cell">
                  <ul class="te-anomaly-table__list">
                    <li>{{anomaly.shownCurrent}} / {{anomaly.shownBaseline}}</li>
                    <li class="te-anomaly-table__value-label te-anomaly-table__value-label--{{anomaly.changeDirectionLabel}}">
                      ({{anomaly.shownChangeRate}}%)
                    </li>
                  </ul>
                 </td>
                 <td class="te-anomaly-table__cell">
                    {{#if anomaly.showResponseSaved}}
                      <i class="te-anomaly-table__icon--status glyphicon glyphicon-ok-circle"></i>
                    {{/if}}

                    {{#if anomaly.showResponseFailed}}
                      <i class="te-anomaly-table__icon--status glyphicon glyphicon-remove-circle"></i>
                    {{/if}}

                    {{#if anomaly.isUserReported}}
                      <span class="te-anomaly-table__text">User Reported</span>
                    {{else}}
                      {{#power-select
                        triggerId=anomaly.anomalyId
                        triggerClass="te-anomaly-table__select"
                        options=responseOptions
                        searchEnabled=false
                        selected=anomaly.anomalyFeedback
                        onchange=(action "onChangeAnomalyResponse" anomaly)
                        as |response|
                      }}
                        {{response}}
                      {{/power-select}}
                    {{/if}}

                    <div class="te-anomaly-table__link-wrapper">
                      <a target="_blank" class="te-anomaly-table__link" href="/thirdeye#anomalies?anomaliesSearchMode=id&pageNumber=1&anomalyIds={{anomaly.anomalyId}}">Investigate</a>
                    </div>
                 </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>

      {{!--pagination--}}
      {{#if (gt pagesNum 1)}}
        <nav class="text-center" aria-label="Page navigation">
          <ul class="pagination">
            <li class={{if (eq currentPage 1) 'active disabled'}} >
              <a href="#" {{action "onPaginationClick" 1}} aria-label="First">
                <span aria-hidden="true">First</span>
              </a>
            </li>
            <li class={{if (eq currentPage 1) 'active disabled'}}>
              <a href="#" {{action "onPaginationClick" "previous"}} aria-label="Previous">
                <span aria-hidden="true">Previous</span>
              </a>
            </li>
            {{#each viewPages as |page|}}
              <li class={{if (eq page currentPage) 'active'}}><a href="#" {{action "onPaginationClick" page}}>{{page}}</a></li>
            {{/each}}
            <li class={{if (eq currentPage pagesNum) 'disabled'}} >
              <a href="#" {{action "onPaginationClick" "next"}} aria-label="Next">
                <span aria-hidden="true">Next</span>
              </a>
            </li>
            <li class={{if (eq currentPage pagesNum) 'disabled'}} >
              <a href="#" {{action "onPaginationClick" pagesNum}} aria-label="Last">
                <span aria-hidden="true">Last</span>
              </a>
            </li>
          </ul>
        </nav>
      {{/if}}
    </div>

  {{else}}
    <div class="te-alert-page-pending">
      <img src="{{rootURL}}assets/images/te-alert-pending.png" class="te-alert-page-pending__image" alt="alert setup processing">
      <h2 class="te-alert-page-pending__title">Setting up your alert</h2>
      <div class="te-alert-page-pending__loader"></div>
      <p class="te-alert-page-pending__text">
        This may take up to a minute<br/>We will send you an email when it's done!
      </p>
    </div>
  {{/if}}
</div>
