<div class="container">
  <aside class="manage-anomaly-filters col-md-3">
    <div class="manage-anomaly-filters__wrapper">
      {{entity-filter
        title="Filters"
        maxStrLen=25
        currentFilterState=anomalyFilters
        resetFilters=resetFiltersLocal
        filterBlocks=filterBlocksLocal
        onSelectFilter=(action "userDidSelectFilter")
        canClear=true
        onClearFilters=(action "clearFilters")
      }}
    </div>
  </aside>

  <div class="col-md-9">
      {{range-pill-selectors
        title="Showing"
        uiDateFormat=pill.uiDateFormat
        activeRangeEnd=pill.activeRangeEnd
        activeRangeStart=pill.activeRangeStart
        timeRangeOptions=pill.timeRangeOptions
        timePickerIncrement=pill.timePickerIncrement
        predefinedRanges=pill.predefinedRanges
        selectAction=(action "onRangeSelection")
      }}
  </div>

  <main class="manage-anomaly-container card-container card-container--padded col-md-9">
    {{#if isLoading}}
      <div class="spinner-wrapper-self-serve spinner-wrapper-self-serve__content-block">
        {{ember-spinner}}
      </div>
    {{else}}
      {{#if noAnomalies}}
        <h4>No anomalies found that match your criteria.</h4>
      {{else}}
        <div class="manage-anomaly-results">
          <section class="te-search-header">
            <span class="te-search-title">Anomalies ({{totalAnomalies}})</span>
            {{#if allowFilterSummary}}
              <span class="te-search-filters">{{activeFiltersString}}</span>
              {{#if (gt activeFiltersString.length maxFilterStrngLength)}}
                <span class="te-search-header__icon">
                  <i class="glyphicon glyphicon-resize-full"></i>
                  {{#popover-on-element side="left" class="te-search-header__tooltip te-tooltip"}}{{activeFiltersString}}{{/popover-on-element}}
                </span>
              {{/if}}
            {{/if}}
            {{#if paginatedSelectedAnomalies}}
              <span class="te-search-header__displaynum pull-right">
                Showing {{paginatedSelectedAnomalies.length}} of
                {{totalAnomalies}} {{if (gt totalAnomalies 1) 'anomalies' 'anomaly'}}
              </span>
            {{/if}}
          </section>

          {{#if isLoading}}
            <div class="spinner-wrapper-self-serve spinner-wrapper-self-serve--fixed">{{ember-spinner}}</div>
          {{/if}}

          {{#each paginatedSelectedAnomalies as |anomaly|}}
            <section class="te-search-results">
              {{anomaly-summary
                anomalyData = anomaly
              }}
            </section>
          {{/each}}

        </div>

      {{!--pagination--}}
        {{#if (gt pagesNum 1)}}
          <nav class="text-center" aria-label="Page navigation">
            <ul class="pagination">
              <li class={{if (eq currentPage 1) 'active disabled'}} >
                <a href="#" {{action "onPaginationClick" 1}} aria-label="First">
                  <span aria-hidden="true">First</span>
                </a>
              </li>
              <li class={{if (eq currentPage 1) 'active disabled'}}>
                <a href="#" {{action "onPaginationClick" "previous"}} aria-label="Previous">
                  <span aria-hidden="true">Previous</span>
                </a>
              </li>
              {{#each viewPages as |page|}}
                <li class={{if (eq page currentPage) 'active'}}><a href="#" {{action "onPaginationClick" page}}>{{page}}</a></li>
              {{/each}}
              <li class={{if (eq currentPage pagesNum) 'disabled'}} >
                <a href="#" {{action "onPaginationClick" "next"}} aria-label="Next">
                  <span aria-hidden="true">Next</span>
                </a>
              </li>
              <li class={{if (eq currentPage pagesNum) 'disabled'}} >
                <a href="#" {{action "onPaginationClick" pagesNum}} aria-label="Last">
                  <span aria-hidden="true">Last</span>
                </a>
              </li>
            </ul>
          </nav>
        {{/if}}
      {{/if}}
    {{/if}}
  </main>
</div>
