<div class="te-graph-alert {{if isMetricDataPending 'te-graph-alert--pending'}}">
  {{#if (and (or isFetchingDimensions isDimensionFetchDone) isTopDimensionsAllowed)}}
    {{#if isDimensionError}}
      <div class="te-form__super-label">... error loading subDimensions for <span class="stronger">{{selectedDimension}}</span></div>
    {{else}}
      <div class="te-form__super-label">...{{if isDimensionFetchDone 'Displaying' 'Loading'}} top {{topDimensions.length}} contributing subDimensions for <span class="stronger">{{selectedDimension}}</span></div>
    {{/if}}
  {{/if}}
  {{#if isAnythingLoading}} <div class="spinner-wrapper-self-serve">{{ember-spinner}}</div> {{/if}}
  {{#if (or isMetricDataPending isMetricDataInvalid)}}
    <div class="te-graph-alert__content">
      <div class="glyphicon glyphicon-{{if isMetricDataInvalid 'alert' 'equalizer'}} te-graph-alert__icon{{if isMetricDataInvalid '--warning'}}"></div>
      <p class="te-graph-alert__pre-text">{{graphMessageText}}</p>
    </div>
  {{else}}
    {{#if (not isMetricDataInvalid)}}
      {{anomaly-graph
        primaryMetric=metricData
        selectedDimensions=selectedDimensions
        dimensions=topDimensions
        showDimensions=false
        isLoading=loading
        showSubchart=true
        showLegend=false
        enableZoom=true
        legendText=legendText
        componentId=componentId
        showGraphLegend=false
        onSelection=(action "onSelection")
      }}
    {{/if}}
  {{/if}}
</div>
{{#if (or isMetricDataInvalid isMetricSelected)}}
  <div class="te-form__note">
    NOTE: If you find the metric shown above is inconsistent, please email <a class="thirdeye-link-secondary" target="_blank" href="{{graphMailtoLink}}">ask_thirdeye</a>.
  </div>
{{/if}}
