<main class="alert-create card-container--padded te-form alert-report-modal__body">

  <fieldset class="te-form__section te-form__section--first row" id="select-target1">
    <div class="col-xs-12">
      <legend class="te-form__section-title te-report-title">Specify Metric, Alert, and Dimensions</legend>
    </div>

    <div class="form-group col-xs-4">
      <label for="select-metric" class="control-label te-label required">Metric</label>
      {{input
        type="text"
        id="select-metric"
        class="form-control te-input"
        value=metricName
        disabled=true
      }}
    </div>

    <div class="form-group col-xs-4">
      <label for="select-alert" class="control-label te-label required">Alert</label>
      {{input
        type="text"
        id="select-alert"
        class="form-control te-input"
        value=alertName
        disabled=true
      }}
    </div>

    <div class="form-group col-xs-4" id="select-target2">
      <label for="report-select-dimension" class="control-label te-label">Dimensions</label>
      {{#power-select
        triggerId="report-select-dimension"
        triggerClass="te-form__select"
        verticalPosition="below"
        placeholder="Select a dimension"
        renderInPlace=true
        options=dimensionOptions
        searchEnabled=false
        selected=selectedDimension
        onchange=(action "onSelectDimension")
        as |dimension|
      }}
        {{dimension}}
      {{/power-select}}
    </div>
  </fieldset>

  <fieldset class="te-form__section row">
    <div class="form-group col-xs-6">
      <legend class="te-form__section-title te-report-title">Mark the Anomaly Region</legend>
      <label for="date-picker" class="control-label te-label">Start/End Dates</label>
     {{date-range-picker
        class="te-range-picker"
        id="date-picker"
        parentEl=".te-modal"
        timePicker=showTimePicker
        timePickerIncrement=timePickerIncrement
        maxDate=maxTime
        start=viewAnomalyStart
        end=viewAnomalyEnd
        ranges=predefinedRanges
        showCustomRangeLabel=false
        format=uiDateFormat
        serverFormat="YYYY-MM-DD HH:mm"
        applyAction=(action "onAnomalyInput")
      }}
    </div>
  </fieldset>

  <fieldset class="te-form__section row">
    {{self-serve-graph
      isMetricDataLoading=false
      isMetricDataInvalid=isMetricDataInvalid
      isDimensionFetchDone=true
      isMetricSelected=true
      metricData=metricData
      topDimensions=topDimensions
      componentId='report-anomaly'
    }}
  </fieldset>

  <fieldset class="te-form__section row">
    <div class="col-xs-6">
      <legend class="te-form__section-title te-report-title">Report as new trend?</legend>
      <label for="label-toggle" class="control-label te-label">ThirdEye will consider anomaly as new trend and not consider this as anomaly in the future</label>
    </div>
    {{#x-toggle
      value=isNewTrend
      classNames="te-toggle te-toggle--form te-toggle--left report-toggle"
      theme="ios"
      id="label-toggle"
      showLabels=true
      name="activeToggle"
      onToggle=(action "onFeedbackTypeSelection")
      as |toggle|}}
        {{#toggle.label value=isNewTrend}}
          <span class="te-label te-label--flush">{{if isNewTrend 'Yes' 'No'}}</span>
        {{/toggle.label}}
        {{toggle.switch theme='ios' onLabel='diff on' offLabel='diff off'}}
    {{/x-toggle}}
  </fieldset>

  <fieldset class="te-form__section row">
    <div class="form-group col-xs-8">
      <legend class="te-form__section-title te-report-title">Additional info</legend>
      <label for="anomaly-form-links" class="control-label te-label">Related Links</label>
      {{input
        type="text"
        id="anomaly-form-links"
        class="form-control te-input"
        placeholder="Links to JIRAs, InGraph Dashboards, etc"
        value=anomalyLinks
        focus-out="onAnomalyInput"
      }}

      <label for="anomaly-form-comments" class="control-label te-label">Comments</label>
      {{textarea
        cols="40"
        rows="4"
        type="textarea"
        id="anomaly-form-comments"
        class="form-control te-input"
        placeholder="Explain how it was discovered and the root cause"
        value=anomalyComments
        focus-out="onAnomalyInput"
      }}
    </div>
  </fieldset>
</main>
