{{!-- TODO: Create separate styling for filter-bar component --}}
<div class="entity-filter filter-bar">
  {{#each config as |block|}}
    <section class="entity-filter__group">
      <h5 class="entity-filter__group-title">
        {{block.header}}
        <a class="entity-filter__group-toggle" {{action "selectEventType" block}}>
          <i class="glyphicon {{if block.isHidden " glyphicon-menu-up " "glyphicon-menu-down "}}"></i>
        </a>
      </h5>
      <ul class="entity-filter__group-list {{if block.isHidden " entity-filter__group-list--hidden "}}">
        {{#each block.inputs as |filter|}}
          {{filter-bar-input
            header=block.header
            eventType=block.eventType
            config=config
            label=filter.label
            type=filter.type
            attributesMap=attributesMap
            entities=entities
            onSelect=onSelect
            updateCache=(action 'updateCache')}}
        {{/each}}
      </ul>
    </section>
  {{/each}}
</div>