<div class="filter-bar">
  {{#each filterBlocks as |block|}}
    <section class="filter-bar__group">
      <h5 class="filter-bar__group-title {{if block.isHidden "" "filter-bar__group-title--active "}}" {{action 'selectEventType' block.eventType}}>
        <div class="filter-bar__indicator">
          {{#if (set-has loadingFrameworks block.framework)}}
            <span class="filter-bar--spinner">
              {{ember-spinner scale=0.5}}
            </span>
          {{else}}
            <span class="entity-indicator entity-indicator--{{block.color}}"></span>
          {{/if}}
        </div>
        <div class="filter-bar__header">
          <span>{{block.header}} ({{get eventTypeMap block.eventType}})</span>
        </div>
        <a class="filter-bar__group-toggle">
          <i class="glyphicon {{if block.isHidden " glyphicon-menu-up " "glyphicon-menu-down "}}"></i>
        </a>
      </h5>
      <ul class="filter-bar__group-list {{if block.isHidden " filter-bar__group-list--hidden "}}">
        {{#each block.inputs as |filter|}}
          {{filter-bar-input
            eventType=block.eventType
            labelMapping=filter.labelMapping
            label=filter.label
            type=filter.type
            attributesMap=attributesMap
            onFilterChange=(action "onFilterChange")}}
        {{/each}}
      </ul>
    </section>
  {{/each}}
</div>