urns
{{#each urns as |urn|}}
  | <button {{action (mut currentUrn) urn}}>{{urn}}</button>
{{/each}}

mode
| <button {{action (mut mode) "change"}}>change</button>
| <button {{action (mut mode) "contributionDiff"}}>contribution diff</button>
| <button {{action (mut mode) "contributionToDiff"}}>contribution to diff</button>

rollup
| <button {{action "onRollupRange" "0" "10"}}>top 10</button>
| <button {{action "onRollupRange" "10" "20"}}>top 10-20</button>
| <button {{action "onRollupRange" "20" "50"}}>top 20-50</button>

{{heatmap-chart
  cells=cells
  onHeatmapClick=(action "onHeatmapClick")
}}
