<h3>This is the loading indicator.</h3>
loading
{{#if isLoadingEntities}}
  | ENTITIES
{{/if}}
{{#if isLoadingTimeseries}}
  | TIMESERIES
{{/if}}

<h3>This manipulates the controller state.</h3>
<a {{action "addSelectedUrns" "thirdeye:metric:17606338"}}>add selected</a> |
<a {{action "removeSelectedUrns" "thirdeye:metric:17606338"}}>remove selected</a> |
<a {{action "addInvisibleUrns" "thirdeye:metric:17606338"}}>add invisible</a> |
<a {{action "removeInvisibleUrns" "thirdeye:metric:17606338"}}>remove invisible</a> |
<a {{action "addFilteredUrns" "thirdeye:metric:17606338"}}>add filtered</a> |
<a {{action "removeFilteredUrns" "thirdeye:metric:17606338"}}>remove filtered</a> |
<a {{action "loadtestSelectedUrns"}}>select all (loadtest)</a>

<h3>This is the legend.</h3>
urns
{{#each selectedUrns as |urn|}}
  |
  {{input
    type="checkbox"
    checked=(set-has-not invisibleUrns urn)
    click=(action "toggleInvisible" urn)}}
  {{urn}}
  <a {{action "removeSelectedUrns" urn}}>[X]</a>
{{/each}}

<h3>This is the filter bar.</h3>
{{rootcause-filter
  entities=eventFilterEntities
  onSelect=(action "filterOnSelect")
}}

<h3>This is the graph.</h3>
{{rootcause-chart
  entities=entities
  selectedUrns=chartSelectedUrns
  timeseries=timeseries
  anomalyRange=anomalyRange
  baselineRange=baselineRange
  analysisRange=analysisRange
  onHover=(action "chartOnHover")
}}

<h3>This is the hover section.</h3>
urns
{{#each hoverUrns as |urn|}}
  | {{urn}}
{{/each}}

<h3>This is the table.</h3>
{{rootcause-table
  entities=eventTableEntities
  columns=eventTableColumns
  selectedUrns=selectedUrns
  onSelect=(action "tableOnSelect")
}}