
{{rootcause-header
  sessionId=sessionId
  sessionName=sessionName
  sessionText=sessionText
  sessionModified=sessionModified
  onChange=(action "onSessionChange")
  onSave=(action "onSessionSave")
  onCopy=(action "onSessionCopy")}}

<div class="container">
  {{#if anomalyUrn}}
    <div class="row">
      {{rootcause-anomaly
        entities=entities
        anomalyUrn=anomalyUrn
        onFeedback=(action "onFeedback")
      }}
    </div>
  {{/if}}

  <div class="card-container card-container--box-shadow">
    <div class="rootcause-wrapper">
      {{rootcause-legend
        entities=entities
        selectedUrns=selectedUrns
        invisibleUrns=invisibleUrns
        onVisibility=(action "onVisibility")
        onSelection=(action "onSelection")
      }}
      <div class="container rootcause-wrapper__chart">
        {{rootcause-chart-toolbar
          context=context
          timeseriesMode=timeseriesMode
          onContext=(action "onContext")
          onChart=(action "onChart")
        }}
        {{#if isLoadingTimeseries}}
          <div class="spinner-wrapper spinner-wrapper--card">
            {{ember-spinner}}
          </div>
        {{/if}}
        {{rootcause-chart
          entities=entities
          selectedUrns=chartSelectedUrns
          timeseries=timeseries
          timeseriesMode=timeseriesMode
          context=context
          onHover=(action "chartOnHover")
        }}
        {{rootcause-select-comparison-range
          range=context.anomalyRange
          compareMode=context.compareMode
          onChange=(action "onComparisonChange")
        }}
      </div>
    </div>
    {{#if hasErrors}}
      {{#if hasErrorsEntities}}
        <div class="alert alert-danger alert-dismissable fade in">
          <a class="close" data-dismiss="alert" {{action "clearErrors" "entities"}}>&times;</a>
          Error for task(s):{{#each entitiesService.errors as |e|}} <strong>{{e}}</strong>{{/each}}
        </div>
      {{/if}}

      {{#if hasErrorsTimeseries}}
        <div class="alert alert-danger alert-dismissable fade in">
          <a class="close" data-dismiss="alert" {{action "clearErrors" "timeseries"}}>&times;</a>
          Could not load timeseries:{{#each timeseriesService.errors as |e|}} <strong>{{e}}</strong>{{/each}}
        </div>
      {{/if}}

      {{#if hasErrorsAggregates}}
        <div class="alert alert-danger alert-dismissable fade in">
          <a class="close" data-dismiss="alert" {{action "clearErrors" "aggregates"}}>&times;</a>
          Could not load aggregates:{{#each aggregatesService.errors as |e|}} <strong>{{e}}</strong>{{/each}}
        </div>
      {{/if}}

      {{#if hasErrorsBreakdowns}}
        <div class="alert alert-danger alert-dismissable fade in">
          <a class="close" data-dismiss="alert" {{action "clearErrors" "breakdowns"}}>&times;</a>
          Could not load dimensions:{{#each breakdownsService.errors as |e|}} <strong>{{e}}</strong>{{/each}}
        </div>
      {{/if}}
    {{/if}}


    <div class="card-container card-container--space-around">
      <div class="card-container__row card-container__row--flex row">
        <div class="col-xs-10">
          {{rootcause-select-metric-dimension
            selectedUrn=metricUrn
            onSelection=(action "onPrimaryChange")
          }}
        </div>
        <div class="col-xs-2">
          <a class="thirdeye-link thirdeye-link--settings" {{action "onPrimarySelection"}}>+ add to chart</a>
        </div>
      </div>

      <div class="card-container__header">
        <div class="card-container__subnav">
          <a class="thirdeye-link thirdeye-link--nav {{if (eq activeTab "dimensions") "thirdeye-link--active"}}" {{action (mut activeTab) "dimensions"}}>
            Dimensions
          </a>
        </div>
        <div class="card-container__subnav">
          <a class="thirdeye-link thirdeye-link--nav {{if (eq activeTab "metrics") "thirdeye-link--active"}}" {{action (mut activeTab) "metrics"}}>
            Metrics
          </a>
        </div>
        <div class="card-container__subnav">
          <a class="thirdeye-link thirdeye-link--nav {{if (eq activeTab "events") "thirdeye-link--active"}}" {{action (mut activeTab) "events"}}>
            Events
          </a>
        </div>
      </div>

      <div class="card-container__body">
        <div class="row">
          <div class="col-xs-12">
            {{#if (eq activeTab "dimensions")}}
              {{#if isLoadingBreakdowns}}
                <div class="spinner-wrapper spinner-wrapper--card">
                  {{ember-spinner}}
                </div>
              {{/if}}

              {{rootcause-heatmap
                entities=entities
                breakdowns=breakdowns
                selectedUrn=metricUrn
                onSelection=(action "heatmapOnSelection")
              }}
            {{/if}}

            {{#if (eq activeTab "metrics")}}
              {{#if isLoadingAggregates}}
                <div class="spinner-wrapper spinner-wrapper--card">
                  {{ember-spinner}}
                </div>
              {{/if}}

              {{rootcause-metrics
                entities=entities
                aggregates=aggregates
                selectedUrns=selectedUrns
                onSelection=(action "onSelection")
              }}
            {{/if}}

            {{#if (eq activeTab "events")}}
              <div class="row">
                <div class="col-xs-3">
                  {{filter-bar
                    config=filterConfig
                    entities=eventFilterEntities
                    onFilter=(action "onFilter")}}
                </div>

                <div class="col-xs-9">
                  {{#if isLoadingEntities}}
                    <div class="spinner-wrapper spinner-wrapper--card">
                      {{ember-spinner}}
                    </div>
                  {{/if}}

                  {{rootcause-table
                    entities=eventTableEntities
                    columns=eventTableColumns
                    selectedUrns=selectedUrns
                    onSelection=(action "onSelection")
                  }}
                </div>
              </div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
