{{#if hasErrorsRoute}}
  <div class="rootcause-alert alert alert-danger alert-dismissable fade in">
    <a class="close" data-dismiss="alert" {{action "clearErrors" "route"}}>&times;</a>
    Error:{{#each routeErrors as |e|}} <strong>{{e}}</strong>{{/each}}
  </div>
{{/if}}

{{#if sessionUpdateWarning}}
  <div class="rootcause-alert alert alert-warning fade in">
    {{sessionUpdateWarning}}
  </div>
{{/if}}

{{rootcause-header
  sessionId=sessionId
  sessionName=sessionName
  sessionText=sessionText
  sessionOwner=sessionOwner
  sessionModified=sessionModified
  sessionUpdatedBy=sessionUpdatedBy
  sessionUpdatedTime=sessionUpdatedTime
  canSave=sessionCanSave
  canCopy=sessionCanCopy
  onChange=(action "onSessionChange")
  onSave=(action "onSessionSave")
  onCopy=(action "onSessionCopy")}}

<div class="container">
  {{#if context.anomalyUrns.size}}
    {{rootcause-anomaly
      entities=entities
      aggregates=aggregates
      anomalyUrns=context.anomalyUrns
      onFeedback=(action "onFeedback")
    }}
  {{/if}}

  <div class="row card-container card-container--box-shadow">
    <div class="card-container__header card-container__header--no-border card-container__header--flush-bottom">
      <span class="card-container__title">Root cause Analysis</span>
    </div>
    <div class="card-container__body card-container__body--flush-bottom">
      {{#if selectedUrns.size}}
          <div class="rootcause-wrapper">
            {{rootcause-legend
              entities=entities
              selectedUrns=selectedUrns
              invisibleUrns=invisibleUrns
              onVisibility=(action "onVisibility")
              onSelection=(action "onSelection")
              onMouseEnter=(action "onLegendHover")
              onMouseLeave=(action "onLegendHover")
            }}
            <div class="rootcause-wrapper__chart">
              <div class="row rootcause-wrapper__toolbar">
                {{rootcause-chart-toolbar
                  context=context
                  timeseriesMode=timeseriesMode
                  onContext=(action "onContext")
                  onChart=(action "onChart")
                }}
              </div>
              {{#if isLoadingTimeseries}}
                <div class="spinner-wrapper spinner-wrapper--card">
                  {{ember-spinner}}
                </div>
              {{/if}}
              {{rootcause-chart
                entities=entities
                selectedUrns=chartSelectedUrns
                timeseries=timeseries
                timeseriesMode=timeseriesMode
                focusedUrn=focusedUrn
                context=context
                onHover=(action "chartOnHover")
              }}
            </div>
          </div>
      {{else}}
        <div class="card-container card-container--flush-top">
          {{rootcause-placeholder
            message="Please select a metric and click on '+ add to chart' below. The root cause graph will load here."
            iconClass="glyphicon glyphicon-equalizer"}}
        </div>
      {{/if}}
        <div class="row rootcause-compare">
          {{rootcause-select-comparison-range
            range=context.anomalyRange
            compareMode=context.compareMode
            onChange=(action "onComparisonChange")
          }}
        </div>
    </div>

    {{#if hasServiceErrors}}
      {{#if hasErrorsEntities}}
        <div class="rootcause-alert alert alert-danger alert-dismissable fade in">
          <a class="close" data-dismiss="alert" {{action "clearErrors" "entities"}}>&times;</a>
          Error for task(s):{{#each entitiesService.errors as |e|}} <strong>{{e}}</strong>{{/each}}
        </div>
      {{/if}}

      {{#if hasErrorsTimeseries}}
        <div class="rootcause-alert alert alert-danger alert-dismissable fade in">
          <a class="close" data-dismiss="alert" {{action "clearErrors" "timeseries"}}>&times;</a>
          Could not load timeseries:{{#each timeseriesService.errors as |e|}} <strong>{{e}}</strong>{{/each}}
        </div>
      {{/if}}

      {{#if hasErrorsAggregates}}
        <div class="rootcause-alert alert alert-danger alert-dismissable fade in">
          <a class="close" data-dismiss="alert" {{action "clearErrors" "aggregates"}}>&times;</a>
          Could not load aggregates:{{#each aggregatesService.errors as |e|}} <strong>{{e}}</strong>{{/each}}
        </div>
      {{/if}}

      {{#if hasErrorsBreakdowns}}
        <div class="rootcause-alert alert alert-danger alert-dismissable fade in">
          <a class="close" data-dismiss="alert" {{action "clearErrors" "breakdowns"}}>&times;</a>
          Could not load dimensions:{{#each breakdownsService.errors as |e|}} <strong>{{e}}</strong>{{/each}}
        </div>
      {{/if}}
    {{/if}}

    <div class="card-container card-container--space-around card-container--flush-top">
      <div class="card-container__row card-container__row--flex row">
        <div class="col-xs-10">
          {{rootcause-select-metric-dimension
            selectedUrn=metricUrn
            onSelection=(action "onPrimaryChange")
          }}
        </div>
        <div class="col-xs-2">
          <a class="thirdeye-link thirdeye-link--settings" {{action "onPrimarySelection"}}>
            + add to chart
            {{#tooltip-on-element
              class="te-tooltip"
              isShown=metricUrn}}
              Click here to load metric
            {{/tooltip-on-element}}
          </a>
        </div>
      </div>
      <div class="card-container__row card-container__row--flex row">
        <div class="col-xs-12">
          {{rootcause-data-indicator
            selectedUrn=metricUrn
            anomalyRange=context.anomalyRange
          }}
        </div>
      </div>

      {{#if context.urns.size}}
        <div class="card-container__header rootcause-tabs">
          <div class="card-container__subnav">
            <a class="thirdeye-link thirdeye-link--nav {{if (eq activeTab "metrics") "thirdeye-link--active "}}" {{action (mut activeTab)
              "metrics"}}>
              Metrics
            </a>
          </div>
          <div class="card-container__subnav">
            <a class="thirdeye-link thirdeye-link--nav {{if (eq activeTab "dimensions") "thirdeye-link--active"}}" {{action (mut activeTab) "dimensions"}}>
              Dimensions
            </a>
          </div>
          <div class="card-container__subnav">
            <a class="thirdeye-link thirdeye-link--nav {{if (eq activeTab "events") "thirdeye-link--active"}}" {{action (mut activeTab) "events"}}>
              Events
            </a>
          </div>
        </div>

        <div class="card-container__body">
          <div class="row">
            <div class="col-xs-12">
              {{#if (eq activeTab "dimensions")}}
                {{#if isLoadingBreakdowns}}
                  <div class="spinner-wrapper spinner-wrapper--card">
                    {{ember-spinner}}
                  </div>
                {{/if}}

                {{rootcause-heatmap
                  entities=entities
                  breakdowns=breakdowns
                  selectedUrn=metricUrn
                  isLoadingBreakdowns=isLoadingBreakdowns
                  onSelection=(action "heatmapOnSelection")
                }}
              {{/if}}

              {{#if (eq activeTab "metrics")}}
                {{#if (set-has loadingFrameworks "metricRelated")}}
                  <div class="spinner-wrapper spinner-wrapper--card">
                    {{ember-spinner}}
                  </div>
                {{/if}}

                {{rootcause-metrics
                  entities=entities
                  aggregates=aggregates
                  scores=scores
                  selectedUrns=selectedUrns
                  isLoading=(or isLoadingAggregates isLoadingScores)
                  onSelection=(action "onSelection")
                }}
              {{/if}}

              {{#if (eq activeTab "events")}}
                <div class="row">
                  <div class="col-xs-3">
                    {{filter-bar
                      config=filterConfig
                      entities=eventFilterEntities
                      loadingFrameworks=loadingFrameworks
                      onFilter=(action "onFilter")}}
                  </div>

                  <div class="col-xs-9">
                    {{rootcause-table
                      entities=eventTableEntities
                      columns=eventTableColumns
                      selectedUrns=selectedUrns
                      onSelection=(action "onSelection")
                    }}
                  </div>
                </div>
              {{/if}}
            </div>
          </div>
        </div>
      {{/if}}
    </div>
  </div>
</div>
