<h3>This manipulates the controller state.</h3>
<a {{action "addSelectedUrns" "thirdeye:metric:17606338"}}>add selected</a> |
<a {{action "removeSelectedUrns" "thirdeye:metric:17606338"}}>remove selected</a> |
<a {{action "addInvisibleUrns" "thirdeye:metric:17606338"}}>add invisible</a> |
<a {{action "removeInvisibleUrns" "thirdeye:metric:17606338"}}>remove invisible</a> |
<a {{action "addFilteredUrns" "thirdeye:metric:17606338"}}>add filtered</a> |
<a {{action "removeFilteredUrns" "thirdeye:metric:17606338"}}>remove filtered</a>

<h3>This is the legend.</h3>
<ul>
  {{#each selectedUrns as |urn|}}
    <li>
      {{input type="checkbox" checked=(set-has-not invisibleUrns urn) click=(action "toggleInvisible" urn)}}
      {{urn}}
      <a {{action "removeSelectedUrns" urn}}>[X]</a>
    </li>
  {{/each}}
</ul>

<h3>This is the filter bar.</h3>
{{rootcause-filter
  entities=eventFilterEntities
  onSelect=(action "filterOnSelect")
}}

<h3>This is the graph.</h3>
{{rootcause-chart
  entities=entities
  selectedUrns=chartSelectedUrns
  timeseries=timeseries
  onHover=(action "chartOnHover")
}}

<h3>This is the hover tooltip.</h3>
<ul>
  {{#each hoverUrns as |urn|}}
    <li>{{urn}}</li>
  {{/each}}
</ul>

<h3>This is the table.</h3>
{{rootcause-table
  entities=eventTableEntities
  columns=eventTableColumns
  selectedUrns=selectedUrns
  onSelect=(action "tableOnSelect")
}}