<p>testing | <a {{action "loadtestSelectedUrns"}}>select all entities (loadtest)</a></p>

{{rootcause-settings
  context=context
  options=options
  onChange=(action "settingsOnChange")
}}

<p>loading
{{#if isLoadingEntities}}
  | ENTITIES
{{/if}}
{{#if isLoadingTimeseries}}
  | TIMESERIES
{{/if}}
</p>

<div class="row">
  <div class="col-xs-3">
    {{rootcause-legend
      entities=entities
      selectedUrns=selectedUrns
      invisibleUrns=invisibleUrns
      onVisibility=(action "onVisibility")
      onSelection=(action "onSelection")
    }}
  </div>
  <div class="col-xs-8">
    {{rootcause-chart
      entities=entities
      selectedUrns=chartSelectedUrns
      timeseries=timeseries
      anomalyRange=context.anomalyRange
      baselineRange=context.baselineRange
      analysisRange=context.analysisRange
      onHover=(action "chartOnHover")
    }}
  </div>
</div>

<p>hovering
  {{#each hoverUrns as |urn|}}
    | {{urn}}
  {{/each}}
</p>

<h3>Events</h3>
<div class="row">
  <div class="col-xs-3">
    {{filter-bar
      config=config
      activeTab=selectedTab
      entities=eventFilterEntities
      onSelect=(action "filterOnSelect")}}
  </div>
  <div class="col-xs-8">
    {{rootcause-table
      entities=eventTableEntities
      columns=eventTableColumns
      selectedUrns=selectedUrns
      onSelection=(action "onSelection")
    }}
  </div>
</div>

<h3>Metrics</h3>
{{rootcause-metrics
  entities=entities
  aggregates=aggregates
  selectedUrns=selectedUrns
  onSelection=(action "onSelection")
}}

<h3>Dimensions</h3>
{{rootcause-heatmap
  breakdowns=breakdowns
  currentUrns=heatmapCurrentUrns
  current2baseline=heatmapCurrent2Baseline
}}
