{{!-- TODO: replace with loading spinner --}}
{{#if isLoading}}
  <p>loading
    {{#if isLoadingEntities}}
      | ENTITIES
    {{/if}}
    {{#if isLoadingTimeseries}}
      | TIMESERIES
    {{/if}}
    {{#if isLoadingAggregates}}
      | AGGREGATES
    {{/if}}
    {{#if isLoadingBreakdowns}}
      | BREAKDOWNS
    {{/if}}
  </p>
{{/if}}

<div class="container">
  {{#if anomalyUrn}}
    <div class="row">
      {{rootcause-anomaly
        entities=entities
        anomalyUrn=anomalyUrn
        onFeedback=(action "onFeedback")
      }}
    </div>
  {{/if}}

  <div class="row">
    {{rootcause-header
      sessionId=sessionId
      sessionName=sessionName
      sessionText=sessionText
      sessionModified=sessionModified
      onChange=(action "onSessionChange")
      onSave=(action "onSessionSave")
      onCopy=(action "onSessionCopy")
    }}
  </div>

  <div class="row">
    <div class="card-container card-container--box-shadow">
      <div class="card-container__body">
        <div class="rootcause-wrapper">
          {{rootcause-legend
            entities=entities
            selectedUrns=selectedUrns
            invisibleUrns=invisibleUrns
            onVisibility=(action "onVisibility")
            onSelection=(action "onSelection")}}
          <div class="rootcause-wrapper__chart">
            {{rootcause-chart-toolbar
              context=context
              timeseriesMode=timeseriesMode
              onContext=(action "onContext")
              onChart=(action "onChart")}}
            {{rootcause-chart
              entities=entities
              selectedUrns=chartSelectedUrns
              timeseries=timeseries
              timeseriesMode=timeseriesMode
              context=context
              onHover=(action "chartOnHover")}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="card-container card-container--box-shadow">
      <div class="card-container__header">
        <div class="card-container__subnav">
          <a class="thirdeye-link thirdeye-link--nav {{if (eq activeTab "dimensions") "thirdeye-link--active"}}" {{action (mut activeTab) "dimensions"}}>
            Dimensions
          </a>
        </div>
        <div class="card-container__subnav">
          <a class="thirdeye-link thirdeye-link--nav {{if (eq activeTab "events") "thirdeye-link--active"}}" {{action (mut activeTab) "events"}}>
            Events
          </a>
        </div>
        <div class="card-container__subnav">
          <a class="thirdeye-link thirdeye-link--nav {{if (eq activeTab "metrics") "thirdeye-link--active"}}" {{action (mut activeTab) "metrics"}}>
            Metrics
          </a>
        </div>
      </div>
      <div class="card-container__body">
        <div class="row">
          {{rootcause-settings
            context=context
            config=settingsConfig
            onChange=(action "onContext")
            onSelection=(action "onSelection")
          }}
        </div>
        <div class="row">
          <div class="col-xs-12">
            {{#if (eq activeTab "dimensions")}}
              <h3>Dimensions</h3>
              {{rootcause-heatmap
                entities=entities
                breakdowns=breakdowns
                selectedUrn=metricUrn
                onSelection=(action "onSelection")
              }}
            {{/if}}

            {{#if (eq activeTab "metrics")}}
              <h3>Metrics</h3>
              {{rootcause-metrics
                entities=entities
                aggregates=aggregates
                selectedUrns=selectedUrns
                onSelection=(action "onSelection")
              }}
            {{/if}}

            {{#if (eq activeTab "events")}}
              <h3>Events</h3>
              <div class="row">
                <div class="col-xs-3">
                  {{filter-bar
                    config=filterConfig
                    entities=eventFilterEntities
                    onFilter=(action "onFilter")}}
                </div>
                <div class="col-xs-9">
                  {{rootcause-table
                    entities=eventTableEntities
                    columns=eventTableColumns
                    selectedUrns=selectedUrns
                    onSelection=(action "onSelection")
                  }}
                </div>
              </div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
