This is the rootcause page.

{{rootcause-chart entities=entities selectedUrns=chartSelectedUrns timeseries=timeseries}}

<a {{action "addSelectedUrns" "thirdeye:metric:17606338"}}>add selected</a> |
<a {{action "removeSelectedUrns" "thirdeye:metric:17606338"}}>remove selected</a> |
<a {{action "addInvisibleUrns" "thirdeye:metric:17606338"}}>add invisible</a> |
<a {{action "removeInvisibleUrns" "thirdeye:metric:17606338"}}>remove invisible</a> |
<a {{action "addFilteredUrns" "thirdeye:metric:17606338"}}>add filtered</a> |
<a {{action "removeFilteredUrns" "thirdeye:metric:17606338"}}>remove filtered</a>

{{rootcause-table
  data=eventTableEntities
  columns=eventTableColumns
  onSelect=(action "tableOnSelect")
}}