{{#if hasErrorsRoute}}
  <div class="rootcause-alert alert alert-danger alert-dismissable fade in">
    <a class="close" data-dismiss="alert" {{action "clearErrors" "route"}}>&times;</a>
    Error:{{#each routeErrors as |e|}} <strong>{{e}}</strong>{{/each}}
  </div>
{{/if}}

{{#if sessionUpdateWarning}}
  <div class="rootcause-alert alert alert-warning fade in">
    {{sessionUpdateWarning}}
  </div>
{{/if}}

{{#if selectedUrns.size}}
  {{rootcause-header
    sessionId=sessionId
    sessionName=sessionName
    sessionText=sessionText
    sessionOwner=sessionOwner
    sessionModified=sessionModified
    sessionUpdatedBy=sessionUpdatedBy
    sessionUpdatedTime=sessionUpdatedTime
    canSave=sessionCanSave
    canCopy=sessionCanCopy
    onChange=(action "onSessionChange")
    onSave=(action "onSessionSave")
    onCopy=(action "onSessionCopy")}}
{{/if}}

<div class="container">
  {{#if context.anomalyUrns.size}}
    {{rootcause-anomaly
      entities=entities
      aggregates=aggregates
      anomalyUrns=context.anomalyUrns
      onFeedback=(action "onFeedback")
      anomalyRange=context.anomalyRange
    }}
  {{/if}}

  <div class="row card-container card-container--md card-container--box-shadow">
    {{rootcause-visual
      showLegend=true
      showToolbar=true
      showSlider=true
      entities=entities
      selectedUrns=selectedUrns
      invisibleUrns=invisibleUrns
      context=context
      timeseriesMode=timeseriesMode
      chartSelectedUrns=chartSelectedUrns
      timeseries=timeseries
      focusedUrns=focusedUrns
      onVisibility=(action "onVisibility")
      onSelection=(action "onSelection")
      onLegendHover=(action "onLegendHover")
      onPrimaryChange=(action "onPrimaryChange")
      onContext=(action "onContext")
      onChart=(action "onChart")
      chartOnHover=(action "chartOnHover")
      onComparisonChange=(action "onComparisonChange")
    }}

    {{#if hasServiceErrors}}
      <div class="rootcause-alert alert alert-danger alert-dismissable fade in">
        <a class="close" data-dismiss="alert" {{action "clearErrors" "all"}}>&times;</a>
        We encountered errors connecting to our data sources. This should be temporary. Please save and reload your session and contact <strong>ask_thirdeye</strong> if the condition persists.
      </div>

      {{#if verbose}}
        {{#if hasErrorsEntities}}
          <div class="rootcause-alert alert alert-danger alert-dismissable fade in">
            <a class="close" data-dismiss="alert" {{action "clearErrors" "entities"}}>&times;</a>
            Error for task(s):{{#each entitiesService.errors as |e|}} <strong>{{e}}</strong>{{/each}}
          </div>
        {{/if}}

        {{#if hasErrorsTimeseries}}
          <div class="rootcause-alert alert alert-danger alert-dismissable fade in">
            <a class="close" data-dismiss="alert" {{action "clearErrors" "timeseries"}}>&times;</a>
            Could not load timeseries:{{#each timeseriesService.errors as |e|}} <strong>{{e}}</strong>{{/each}}
          </div>
        {{/if}}

        {{#if hasErrorsAggregates}}
          <div class="rootcause-alert alert alert-danger alert-dismissable fade in">
            <a class="close" data-dismiss="alert" {{action "clearErrors" "aggregates"}}>&times;</a>
            Could not load aggregates:{{#each aggregatesService.errors as |e|}} <strong>{{e}}</strong>{{/each}}
          </div>
        {{/if}}

        {{#if hasErrorsBreakdowns}}
          <div class="rootcause-alert alert alert-danger alert-dismissable fade in">
            <a class="close" data-dismiss="alert" {{action "clearErrors" "breakdowns"}}>&times;</a>
            Could not load dimensions:{{#each breakdownsService.errors as |e|}} <strong>{{e}}</strong>{{/each}}
          </div>
        {{/if}}
      {{/if}}
    {{/if}}

    <div class="card-container card-container--md card-container--space-around card-container--flush-top">
      <div class="card-container__row card-container__row--flex row">
        <div class="col-xs-10">
          {{rootcause-select-metric-dimension
            selectedUrn=metricUrn
            selectedUrns=selectedUrns
            entities=entities
            onSelection=(action "onPrimaryChange")
          }}
        </div>
        <div class="col-xs-2">
          {{#if context.urns.size}}
            <a class="thirdeye-link thirdeye-link--settings" {{action "onPrimarySelection"}}>
              + add to chart
              {{#tooltip-on-element
                class="te-tooltip"}}
                Click here to add the selected metric to the timeseries chart
              {{/tooltip-on-element}}
            </a>
          {{/if}}
        </div>
      </div>
      <div class="card-container__row card-container__row--flex row">
        <div class="col-xs-12">
          {{rootcause-data-indicator
            selectedUrn=metricUrn
            anomalyRange=context.anomalyRange
          }}
        </div>
      </div>

      {{#if context.urns.size}}
        <div class="card-container__row card-container__row--flex row">
          <div class="col-xs-12 rootcause-tabs card-container__row--bg-color">
            {{#shared/common-tabs selection=activeTab activeTab=activeTab as |tabs|}}
              {{#tabs.tablist as |tablist|}}
                {{#tablist.tab name="metrics"}}Metrics{{/tablist.tab}}
                {{#tablist.tab name="dimensions"}}Dimensions{{/tablist.tab}}
                {{#tablist.tab name="events"}}Events{{/tablist.tab}}
                {{#tablist.tab name="trend"}}Trend{{/tablist.tab}}
              {{/tabs.tablist}}
              {{!-- metrics --}}
              {{#tabs.tabpanel name="metrics"}}
                {{partial 'partials/rootcause/metrics'}}
              {{/tabs.tabpanel}}
              {{!-- dimensions --}}
              {{#tabs.tabpanel name="dimensions"}}
                {{partial 'partials/rootcause/dimensions'}}
              {{/tabs.tabpanel}}
              {{!-- events --}}
              {{#tabs.tabpanel name="events"}}
                {{partial 'partials/rootcause/events'}}
              {{/tabs.tabpanel}}
              {{!-- trend --}}
              {{#tabs.tabpanel name="trend"}}
                {{partial 'partials/rootcause/trend'}}
              {{/tabs.tabpanel}}
            {{/shared/common-tabs}}
          </div>
        </div>
      {{/if}}
    </div>
  </div>
</div>

{{#if metricUrn }}
  {{modals/create-event-modal
    showCreateEventModal=showCreateEventModal
  }}
  {{#unless isLoadingAggregates}}
    {{modals/entity-mapping-modal
      showEntityMappingModal=showEntityMappingModal
      metric=(get entities metricUrn)
      onSubmit=(action "onModalSubmit")
    }}
  {{/unless}}
{{/if}}
