This is the sandbox.

{{timeseries-chart series=series}}

<a {{action "addSeries" "a"}}>add series</a> |
<a {{action "removeSeries"}}>remove series</a> |
<a {{action "changeType" "a" "line"}}>set line</a> |
<a {{action "changeType" "a" "scatter"}}>set scatter</a> |
<a {{action "changeType" "a" "region"}}>set region</a> |
<a {{action "changeColor" "a" "red"}}>color red</a> |
<a {{action "changeColor" "a" "green"}}>color green</a> |
<a {{action "changeColor" "a" "blue"}}>color blue</a> |
<a {{action "changeAxis" "a" "y"}}>axis y</a> |
<a {{action "changeAxis" "a" "y2"}}>axis y2</a>