This is the sandbox.

{{timeseries-chart series=series}}

<a {{action "addSeries" "a"}}>add series</a> |
<a {{action "removeSeries"}}>remove series</a> |
<a {{action "changeType" "a" "line"}}>set line</a> |
<a {{action "changeType" "a" "scatter"}}>set scatter</a> |
<a {{action "changeType" "a" "region"}}>set region</a>