{{#if isSplit}}
  {{#each splitUrns as |urn|}}
    <div>
      <span>
        <h4 class="rootcause-chart__title">
          <a {{action "onSelect" urn}}>{{get-safe splitLabels urn}}</a>
          <a class="rootcause-chart__remove-icon" {{action "onRemove" urn}}>
            <i class="glyphicon glyphicon-remove">
              {{tooltip-on-element text='Remove metric'}}
            </i>
          </a>
        </h4>
      </span>
      {{timeseries-chart
        series=(get-safe splitSeries urn)
        tooltip=tooltip
        legend=legend
        axis=axis
        subchart=splitSubchart
        height=splitChartHeight
        colorMapping=colorMapping
        focusedIds=focusedIds
      }}
    </div>
  {{/each}}
{{else}}
  {{timeseries-chart
    series=series
    tooltip=tooltip
    legend=legend
    axis=axis
    subchart=subchart
    colorMapping=colorMapping
    focusedIds=focusedIds
  }}
{{/if}}
