<div class="container">
  <div class="row">
    <div class="col-xs-11">
      {{textarea-autosize
        placeholder="Enter investigation title ..."
        value=sessionName
        cols=85
        rows=1
        class="rootcause-header__major rootcause-header--textarea"
        key-press="onChange"}}
    </div>
    {{#if canSave}}
      <div class="rootcause-header__menu">
        <button {{action "onSave"}} class="te-button">Save</button>
      </div>
    {{/if}}
    {{#if canCopy}}
      <div class="rootcause-header__menu">
        <button {{action "onCopy"}} class="te-button">Copy</button>
      </div>
    {{/if}}
    <div class="col-xs-10">
      {{#if sessionId}}
        <p class="rootcause-header__last-updated-info">Last saved by {{sessionUpdatedBy}} on {{sessionUpdatedTimeFormatted}}</p>
      {{/if}}
      {{#unless isCommentEditMode}}
        <a class="thirdeye-link" {{action (mut isCommentEditMode) true}}>
          <span><i class="glyphicon glyphicon-plus"></i></span>
          <span>New comment</span>
          {{#tooltip-on-element class="te-tooltip"}} Add a comment {{/tooltip-on-element}}
        </a>
      {{else}}
        {{textarea-autosize
          placeholder="Take notes or summarize the results here ..."
          value=sessionText
          cols=130
          rows=1
          class="rootcause-header__minor rootcause-header--textarea"
          key-press="onChange"}}
      {{/unless}}
    </div>
    <div class="rootcause-header__menu">
      {{#if sessionId}}
        {{#link-to "rootcause" (query-params sessionId=sessionId)}}{{sessionId}}{{/link-to}}<br/>
        {{#if sessionModified}}(modified){{/if}}
      {{else}}
        (unsaved)
      {{/if}}
    </div>
  </div>
</div>