<div class="rootcause-dimensions-table__bar-container rootcause-dimensions-table__bar-container--negative" style="width:{{containerWidthNegative}}px">
  <div class="rootcause-dimensions-table__bar rootcause-dimensions-table__bar--negative" style="width:{{barWidthNegative}}%"></div>
</div>

<div class="rootcause-dimensions-table__bar-container" style="width:{{containerWidthPositive}}px">
  <div class="rootcause-dimensions-table__bar rootcause-dimensions-table__bar--positive" style="width:{{barWidthPositive}}%"></div>
</div>

<div class="rootcause-dimensions-table__bar-metric {{if isNegativeChange "rootcause-dimensions-table__bar-metric--negative"}}">{{record.contributionToOverallChange}}</div>
