<div class="rootcause-dimensions-table__bar-container {{collapseClassNegative}} {{expandClassNegative}}">
  <div class="rootcause-dimensions-table__bar rootcause-dimensions-table__bar--negative" style="width:{{record.elementWidth.negative}}"></div>
</div>

<div class="rootcause-dimensions-table__bar-container {{collapseClassPositive}} {{expandClassPositive}}">
  <div class="rootcause-dimensions-table__bar rootcause-dimensions-table__bar--positive" style="width:{{record.elementWidth.positive}}"></div>
</div>

<div class="rootcause-dimensions-table__bar-metric">{{record.contributionToOverallChange}}</div>
