{{#if record.link}}
  <a class="thirdeye-link" href={{record.link}} title={{record.link}} target="_blank">{{record.displayLabel}}</a>
{{else}}
  {{record.displayLabel}}
{{/if}}
{{#if record.details}}
  <span>
    <i class="glyphicon glyphicon-question-sign"></i>
    {{#popover-on-element class='event-tooltip' as |popover|}}
      {{record.details}}
    {{/popover-on-element}}
  </span>
{{/if}}
