{{#if isShowingModal}}
  {{#modal-dialog
    containerClassNames=containerClassNames
    overlayClassNames=overlayClassNames
    targetAttachment=targetAttachment
    animatable=true}}

    <div class="container {{if isMicroModal "te-modal-micro"}}">
      {{!-- modal header --}}
      {{#if hasHeader}}
        <div class="row te-modal__header">
          <div class="te-modal__header--text">
            <h4 class="te-modal__title">{{headerText}}</h4>
            <span class="te-modal__title--subtext">{{headerSubtext}}</span>
          </div>
          {{#if isCancellable}}
            <div class="te-modal__close-icon">
              <button {{action cancelAction}} class="thirdeye-link thirdeye-link--tertiary thirdeye-link--muted" title="cancel">
                <span class="thirdeye-link__icon">
                  <i class="glyphicon glyphicon-remove"></i>
                </span>
              </button>
            </div>
          {{/if}}
        </div>
      {{/if}}
      {{!-- modal body --}}
      <div class="row te-modal__body">
        {{yield}}
      </div>
      {{!-- modal footer --}}
      {{#if hasFooter}}
        <div class="row te-modal__footer">
          {{footerText}}

          {{#unless noButtons}}
            <button {{action cancelAction}} type="Cancel" class="te-button te-button--small te-button--muted btn">
              {{cancelButtonText}}
            </button>

            {{#unless hideSubmit}}
              <button {{action submitAction}} type="submit" class="te-button te-button--small te-button--submit btn" disabled={{isInvalid}}>
                {{submitButtonText}}
              </button>
            {{/unless}}
          {{/unless}}

        </div>
      {{/if}}
    </div>

  {{/modal-dialog}}
{{/if}}
