<div class="container">
  <h3>Dataset auto onboard</h3>

  <div class="row">
    <div class="col-xs-6">
      <label>Dataset Name</label>{{input value=datasetName}}
      <button onClick={{action "onSave"}}>save</button>
    </div>
  </div>

  {{#if metricUrn}}

    <div class="row">
      <label class="control-label te-label te-label--taller">
        Detection Name:
      </label>
    </div>

    <div class="row">
      <div class="col-xs-6">
        <input type="text"
               onChange={{action "onChangeName" value="target.value"}}/>
      </div>
    </div>

    <div class="row">
      <label class="control-label te-label te-label--taller">
        Choose the metrics:
      </label>
    </div>


  {{#each metrics as |metric|}}
    <div>
        {{metric}}
        <input type="checkbox"
               checked=checkboxDefault
               onclick={{action "toggleCheckBox" metric}}/>
    </div>

  {{/each}}
    <div class="row">
      <label class="control-label te-label te-label--taller">
        Filter metric by(Optional):
      </label>
    </div>

    {{filter-select
      options=filterOptions
      onChange=(action "onFilters")
    }}

  <div class="row">
      <label for="select-dimension" class="control-label te-label te-label--taller">
        Create an alert for each dimension value in: (optional)
        <span>
          <i class="glyphicon glyphicon-question-sign"></i>
          {{#tooltip-on-element class="te-tooltip"}}
            For example, selecting Continent means anomalies on each continent will be monitored.
          {{/tooltip-on-element}}
        </span>
      </label>

    {{filter-select
      options=dimensions
      onChange=(action "onSelectDimension")
    }}

  </div>



  <div class="row">
    <label class="control-label te-label te-label--taller">
      Set up the business rules(Optional):
    </label>
  </div>

    <label for="select-dimension" class="control-label te-label te-label--taller">
      Metric for dimension breakdown
      <span>
          <i class="glyphicon glyphicon-question-sign"></i>
        {{#tooltip-on-element class="te-tooltip"}}
          .
        {{/tooltip-on-element}}
        </span>
    </label>
    {{#power-select
      classNames="te-input"
      options=metrics
      selected=selectedMetric
      onchange=(action "onSelectMetric")
      loadingMessage="Waiting for the server...."
      placeholder="Choose metric for rules"
      searchPlaceholder="Type to filter..."
      triggerId="select-metric"
      triggerClass="te-form__select"
      disabled=(not metricsFieldEnabled)
    as |metric|
    }}
      {{metric}}
    {{/power-select}}


    <label class="control-label te-label te-label--taller">
      Explore top k dimensions:
    </label>

    <input type="text"
           onChange={{action (action "onChangeValue" "topk") value="target.value"}}/>

    <label class="control-label te-label te-label--taller">
      Min value:
    </label>

    <input type="text"
           onChange={{action (action "onChangeValue" "minvalue") value="target.value"}}/>

    <label class="control-label te-label te-label--taller">
      Min contribution:
    </label>

    <input type="text"
           onChange={{action (action "onChangeValue" "mincontribution") value="target.value"}}/>

  <div class="row">
    <button onClick={{action "onSubmit"}}>submit</button>
  </div>

  {{/if}}

  <div class="row">
    {{output}}
  </div>

</div>