Settings |
urns: {{input value=urnString}} |
anomalyRangeStart: {{input value=anomalyRangeStart}} |
anomalyRangeEnd: {{input value=anomalyRangeEnd}} |
baselineRangeStart: {{input value=baselineRangeStart}} |
baselineRangeEnd: {{input value=baselineRangeEnd}} |
analysisRangeStart: {{input value=analysisRangeStart}} |
analysisRangeEnd: {{input value=analysisRangeEnd}} |
<button {{action "updateContext"}}>update</button>