<button {{action "resetEventType"}}>All</button> |
<button {{action "selectEventType" "holiday"}}>Holiday</button> |
<button {{action "selectEventType" "anomaly"}}>Anomaly</button> |
<button {{action "selectEventType" "gcn"}}>GCN</button> |
<button {{action "selectEventType" "lix"}}>Lix</button> |
<button {{action "selectEventType" "informed"}}>Informed</button>
