<div class="col-xs-12">
  <legend class="te-form__section-title">{{alertTitle}}</legend>
</div>
<div class="col-xs-12 bottom-margin">
  {{bs-button
    defaultText="Configuration guide Docs & Examples"
    type="outline-primary"
    buttonType="link"
    onClick=(action "triggerDoc")
    class="te-button te-button--link-grey"
  }}
  <div class="pull-right">
    {{bs-button
      defaultText="Reset configuration"
      type="outline-primary"
      buttonType="reset"
      onClick=(action "resetYAML")
      class="te-button te-button--link-grey"
    }}
  </div>
</div>
{{#if previewError}}
  <div class="col-xs-12">
      <div class="detection-yaml-msg-preview" id="preview-error">
        <p>{{material-design-icon
          name='error-outline'
        }} {{previewErrorMsg}}
          {{#if previewErrorInfo}}
            <span class="detection-yaml-msg-preview__tooltip-link" onclick={{action "togglePreviewModal"}}>
              more details
              {{#if showPreviewModal}}
                {{#te-modal
                  isMicroModal=true
                  headerText=previewErrorMsg
                  hideSubmit=true
                  cancelButtonText="Close"
                  cancelAction=(action "togglePreviewModal")
                }}
                  {{modals/error-modal
                    errorInfo=previewErrorInfo
                  }}
                {{/te-modal}}
              {{/if}}
            </span>
          {{/if}}
        </p>
      </div>
  </div>
{{/if}}
{{#if detectionError}}
  <div class="col-xs-12">
      <div class="detection-yaml-msg" id="detection-error">
        <p><i class="detection-yaml-msg__icon--error glyphicon glyphicon-remove-circle"></i>{{detectionErrorMsg}}
          {{#if detectionErrorInfo}}
            <span class="detection-yaml-msg__tooltip-link" onclick={{action "toggleDetectionModal"}}>
              more details
              {{#if showDetectionModal}}
                {{#te-modal
                  isMicroModal=true
                  headerText=detectionErrorMsg
                  hideSubmit=true
                  cancelButtonText="Close"
                  cancelAction=(action "toggleDetectionModal")
                }}
                  {{modals/error-modal
                    errorInfo=detectionErrorInfo
                  }}
                {{/te-modal}}
              {{/if}}
            </span>
          {{/if}}
        </p>
      </div>
  </div>
{{/if}}
<div class="col-xs-12 {{if isEditMode "bottom-margin"}}">
  {{ember-ace
    lines=35
    value=detectionYaml
    suggestCompletions=(action 'yamlSuggestions')
    enableLiveAutocompletion=true
    update=(action "onEditingDetectionYamlAction")
    mode="ace/mode/yaml"
  }}
  {{#unless isEditMode}}
    <label for="select-metric" class="control-label te-label te-label--taller required">Can't find your metric? Import a Metric From
      {{#link-to "self-serve.import-metric" class="thirdeye-link-secondary-grey thirdeye-link-secondary-grey--inside"}}
        InGraphs{{/link-to}} or {{#link-to "self-serve.import-sql-metric" class="thirdeye-link-secondary-grey thirdeye-link-secondary-grey--inside"}}
        MySQL/Presto
      {{/link-to}}
    </label>
  {{/unless}}
  {{#if isEditMode}}
    {{#bs-button
      defaultText="Update Alert"
      type="primary"
      buttonType="submit"
      disabled=disableYamlSave
      onClick=(action "submitAlertEdit")
      class="te-button te-button--submit"
    }}
      {{#if _updateDetection.isRunning}}
        <span class="loading-spinner">
          {{ember-spinner position='relative' right='20px' top='-10px' scale=0.5 color='#ffffff'}}
        </span>
      {{/if}}
    {{/bs-button}}
  {{/if}}
</div>
