<div class="col-xs-12">
  <legend class="te-form__section-title">{{alertTitle}}</legend>
</div>
<div class="col-xs-12 {{if isEditMode "bottom-margin"}}">
  {{#unless isEditMode}}
    <label for="select-metric" class="control-label te-label te-label--taller required">Can't find your metric? Import a Metric From
      {{#link-to "self-serve.import-metric" class="thirdeye-link-secondary thirdeye-link-secondary--inside"}}
        InGraphs{{/link-to}} or {{#link-to "self-serve.import-sql-metric" class="thirdeye-link-secondary thirdeye-link-secondary--inside"}}
        MySQL/Presto
      {{/link-to}}
    </label>
  {{/unless}}
  <div class="pull-right">
    {{bs-button
      defaultText="Reset"
      type="outline-primary"
      buttonType="reset"
      onClick=(action "resetYAML")
      class="te-button te-button--link"
    }}
    {{bs-button
      defaultText="View Docs & Examples"
      type="outline-primary"
      buttonType="link"
      onClick=(action "triggerDoc")
      class="te-button te-button--cancel"
    }}
  </div>
</div>
<div class="col-xs-12 {{if isEditMode "bottom-margin"}}">
  {{ember-ace
    lines=35
    value=detectionYaml
    suggestCompletions=(action 'yamlSuggestions')
    enableLiveAutocompletion=true
    update=(action "onEditingDetectionYamlAction")
    mode="ace/mode/yaml"
  }}
  {{#if isEditMode}}
    <div class="pull-right">
      {{bs-button
        defaultText="Update Alert"
        type="primary"
        buttonType="submit"
        disabled=disableYamlSave
        onClick=(action "submitAlertEdit")
        class="te-button te-button--submit"
      }}
    </div>
  {{/if}}
</div>
<div class="col-xs-12">
  {{#if isDetectionMsg}}
    <div class="yaml-editor-msg">
      <p class="yaml-editor-msg__icon"><i class="yaml-editor-msg__icon--error glyphicon glyphicon-remove-circle"></i>Error in alert yaml</p>
      <p>Message: {{detectionMsg}}</p>
    </div>
  {{/if}}
</div>
