<div class="alert-details">
  {{#if isPendingData}}
    <div>
      {{ember-spinner scale=0.5 rotate=10 speed='1.1' color='#3498DB'}}Please wait while we compiled the data.
    </div>
  {{else}}
    {{#if disableYamlSave}}
      {{range-pill-selectors
        title="Showing"
        uiDateFormat=pill.uiDateFormat
        activeRangeEnd=pill.activeRangeEnd
        activeRangeStart=pill.activeRangeStart
        timeRangeOptions=pill.timeRangeOptions
        timePickerIncrement=pill.timePickerIncrement
        predefinedRanges=pill.predefinedRanges
        selectAction=(action "onRangeSelection")
      }}
      <div class="te-horizontal-cards">
        <h4 class="te-self-serve__block-title">
          <label for="select-dimension" class="control-label te-label">
            Alert Performance
            <span>
              <i class="glyphicon glyphicon-question-sign"></i>
              {{#tooltip-on-element class="te-tooltip"}}
                All estimated performance numbers are based on reviewed anomalies.
              {{/tooltip-on-element}}
            </span>
          </label>
        </h4>
        <div class="te-horizontal-cards__container">
          {{!-- Alert anomaly stats cards --}}
          {{stats-cards stats=stats}}
        </div>
        {{#if repRunStatus}}
          <p class="te-self-serve__block-subtext te-self-serve__block-subtext--normal">Replay in progress. Please check back later...</p>
        {{/if}}
      </div>
    {{else}}
      <div class="yaml-editor-msg">Alert configuration has changed.</div>
      <label class="control-label te-label">
        <a {{action "refreshPreview"}}>Refresh Preview</a>
      </label>
    {{/if}}
  {{/if}}
  {{yield}}
</div>
