<div class="manage-alert-tune">

  <div class="te-content-block">
    <h4 class="te-alert-page__subtitle">Alert Performance by Application Group</h4>

    <a class="te-pill-selectors__side-link te-pill-selectors__side-link--{{if viewTotals "active" "inactive"}}" {{action (toggle "viewTotals" this)}}>
      View total values
    </a>
    <a class="te-pill-selectors__side-link te-pill-selectors__side-link--{{if viewTotals "inactive" "active"}}" {{action (toggle "viewTotals" this)}}>
      View average values
    </a>

    {{!-- Alert anomaly table --}}
    <table class="te-anomaly-table te-anomaly-table--performance">
      <thead>
        <tr class="te-anomaly-table__row te-anomaly-table__head">
         <th class="te-anomaly-table__cell-head">
            <a class="te-anomaly-table__cell-link" {{action "toggleSortDirection" "name"}}>
              Appp
              <i class="te-anomaly-table__glyph te-anomaly-table__glyph--small glyphicon {{if sortColumnNameUp "glyphicon-menu-up" "glyphicon-menu-down"}}"></i>
            </a>
           </th>
           <th class="te-anomaly-table__cell-head">
            <a class="te-anomaly-table__cell-link" {{action "toggleSortDirection" "alert"}}>
              Total Alerts
              <i class="te-anomaly-table__glyph te-anomaly-table__glyph--small glyphicon {{if sortColumnAlertUp "glyphicon-menu-up" "glyphicon-menu-down"}}"></i>
            </a>
           </th>
           <th class="te-anomaly-table__cell-head">
            <a class="te-anomaly-table__cell-link" {{action "toggleSortDirection" "anomaly"}}>
              Anomalies
              <i class="te-anomaly-table__glyph te-anomaly-table__glyph--small glyphicon {{if sortColumnAnomalyUp "glyphicon-menu-up" "glyphicon-menu-down"}}"></i>
            </a>
           </th>
           <th class="te-anomaly-table__cell-head">
            <a class="te-anomaly-table__cell-link" {{action "toggleSortDirection" "user"}}>
              User-reported
              <i class="te-anomaly-table__glyph te-anomaly-table__glyph--small glyphicon {{if sortColumnUserUp "glyphicon-menu-up" "glyphicon-menu-down"}}"></i>
            </a>
          </th>
           <th class="te-anomaly-table__cell-head">
            <a class="te-anomaly-table__cell-link" {{action "toggleSortDirection" "responses"}}>
              Responses
              <i class="te-anomaly-table__glyph te-anomaly-table__glyph--small glyphicon {{if sortColumnRespUp "glyphicon-menu-up" "glyphicon-menu-down"}}"></i>
            </a>
           </th>
           <th class="te-anomaly-table__cell-head">
            <a class="te-anomaly-table__cell-link" {{action "toggleSortDirection" "resrate"}}>
              Response rate
              <i class="te-anomaly-table__glyph te-anomaly-table__glyph--small glyphicon {{if sortColumnResrateUp "glyphicon-menu-up" "glyphicon-menu-down"}}"></i>
            </a>
          </th>
           <th class="te-anomaly-table__cell-head">
            <a class="te-anomaly-table__cell-link" {{action "toggleSortDirection" "precision"}}>
              Precision
              <i class="te-anomaly-table__glyph te-anomaly-table__glyph--small glyphicon {{if sortColumnPrecisionUp "glyphicon-menu-up" "glyphicon-menu-down"}}"></i>
            </a>
          </th>
        </tr>
      </thead>

      <tbody>
        {{#each applications as |app|}}
          <tr class="te-anomaly-table__row">
            <td class="te-anomaly-table__cell te-anomaly-table__list--stronger">{{app.name}}</td>
            <td class="te-anomaly-table__cell">{{app.alerts}}</td>
            <td class="te-anomaly-table__cell">
              {{performance-tooltip
                data=app.data.totalAlerts
                category="Anomalies"
                viewTotals=viewTotals
              }}
            </td>
            <td class="te-anomaly-table__cell">
              {{performance-tooltip
                data=app.data.userReportAnomaly
                category="User reported anomalies"
                viewTotals=viewTotals
              }}
            </td>
            <td class="te-anomaly-table__cell">
              <div class="performance-metric">
                {{performance-tooltip
                 data=app.data.totalResponses
                 category="Total Responses"
                 viewTotals=viewTotals
                }}
              </div>
              <div class="performance-metric__subset">
                ( True: {{performance-tooltip
                       data=app.data.trueAnomalies
                       category="True anomalies"
                       viewTotals=viewTotals
                     }} |
                False: {{performance-tooltip
                     data=app.data.falseAlarm
                     category="False anomalies"
                     viewTotals=viewTotals
                   }} |
                New: {{performance-tooltip
                     data=app.data.newTrend
                     category="New trend anomalies"
                     viewTotals=viewTotals
                   }} )
            </div>
            </td>
            <td class="te-anomaly-table__cell">
              {{app.data.responseRate}}
              <span class="te-anomaly-table__list--smaller">%</span>
            </td>
            <td class="te-anomaly-table__cell">
              {{app.data.precision}}
              <span class="te-anomaly-table__list--smaller">%</span>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>

  </div>
</div>
