<aside class="manage-alert-filters col-md-3">
  <div class="manage-alert-filters__wrapper">
    <h1 class="manage-alert-filters__row manage-alert-filters__row--title">Manage Alerts</h1>
    {{#accordion-list allowManyActiveItems=true as |accordion|}}
      {{#accordion.item as |accordionItem|}}
        {{#accordionItem.toggle}}
          <div class="manage-alert-filters__row te-hide">Alerts </div>
        {{/accordionItem.toggle}}
        {{#accordionItem.panel}}
          <div class="manage-alert-filters__options te-hide">Options go here</div>
        {{/accordionItem.panel}}
      {{/accordion.item}}
    {{/accordion-list}}
  </div>
</aside>

<main class="manage-alert-container paper-container paper-container--padded col-md-9">
  <div class="manage-alert-container__title">Search for an existing alert</div>
  <div class="manage-alert-search">
    <div class="manage-alert-search__filter">
      <div class="manage-alert-search__label">Search By:</div>
      {{#power-select
        selected=selectedSearchMode
        options=searchModes
        searchEnabled=false
        onchange=(action "onSearchModeChange")
        as |name|
      }}
        {{name}}
      {{/power-select}}
    </div>

    <div class="manage-alert-search__input">
      <div class="manage-alert-search__label">Search for Alert:</div>
      {{#if (eq selectedSearchMode 'All Alerts')}}
        {{#power-select
          selected=selectedAll
          onchange=(action "onAlertChange")
          placeholder="Show All Alerts"
          disabled=true
          as |alert|
        }}
          {{alert.functionName}}
        {{/power-select}}
      {{else if (eq selectedSearchMode 'Alerts')}}
        {{#power-select
          selected=primaryMetric
          onchange=(action "onAlertChange")
          search=(perform searchByFunctionName)
          searchPlaceholder="Search for an Alert"
          placeholder="Search by Alert Name"
          allowClear=true
          as |alert|
        }}
          {{alert.functionName}}
        {{/power-select}}

      {{else if (eq selectedSearchMode 'Applications')}}
        {{#power-select
          selected=selectedApplicationName
          onchange=(perform searchByApplicationName)
          options=applicationNames
          searchPlaceholder="Search for an Application Name"
          placeholder="Search by Application Name"
          allowClear=true
          as |applicationName|
        }}
          {{applicationName}}
        {{/power-select}}

      {{else if (eq selectedSearchMode 'Subscriber Groups')}}
        {{#power-select
          onchange=(perform searchByDatasetName)
          selected=selectedsuscriberGroupNames
          options=suscriberGroupNames
          searchPlaceholder="Search for a dataset"
          placeholder="Search by Subscriber Group Name"
          allowClear=true
          as |groupName|
        }}
          {{groupName}}
        {{/power-select}}
      {{/if}}
    </div>
  </div>

  <div class="manage-alert-results">
    {{#if paginatedSelectedAlerts}}
      <section class="te-search-header"> 
        <span class="te-search-title">
          Alerts Found({{selectedAlerts.length}}) 
        </span>
        <span class="pull-right">
          Showing {{paginatedSelectedAlerts.length}} of 
          {{selectedAlerts.length}} {{if (gt selectedAlerts.length 1) 'alerts' 'alert'}}
        </span>
      </section>
    {{/if}}
    {{#if isLoading}}
      <div class="spinner-wrapper">
        {{ember-spinner}}
      </div>
    {{/if}}
    {{#accordion-list allowManyActiveItems=true as |accordion|}}
      {{#each paginatedSelectedAlerts as |alert|}}
        <!-- For each element in list create an 'accordion.item' -->
        <section class="te-search-results">
          {{#accordion.item as |accordionItem|}}
            <!-- Create a 'toggle' and a 'panel' for the item -->
            {{#accordionItem.toggle}}
              <ul class="te-search-results__list te-search-results__list--summary-block">
                <li class="te-search-results__summary-item te-search-results__summary-item--title">
                  <i class="glyphicon glyphicon-menu-down te-search-results__icon"></i>
                  {{alert.functionName}}
                </li>
                <li class="te-search-results__summary-item te-search-results__summary-item--subt">
                  <strong>Dataset: </strong>{{alert.collection}}
                </li>
                <li class="te-search-results__summary-item te-search-results__summary-item--tag">
                  <span class="te-search-results__tag {{if alert.isActive "te-search-results__tag--active"}}">
                    {{if alert.isActive "Active" "Inactive"}}
                  </span>
                </li>
              </ul>
            {{/accordionItem.toggle}}
            <!-- Clicking on the 'toggle' will display the contents of the 'panel' -->
            {{#accordionItem.panel}}
              <ul class="te-search-results__list te-search-results__list--details-block">
                <li>Metric: {{alert.metric}}</li>
                <li>Dataset: {{alert.collection}}</li>
                <li>Type: {{alert.type}}</li>
                <li>Is Active: {{alert.isActive}}</li>
                <li>Data Filter: {{alert.dataFilter}}</li>
                <li>Explore Dimensions: {{alert.exploreDimensions}}</li>
              </ul>
            {{/accordionItem.panel}}
          {{/accordion.item}}
        </section>
      {{/each}}
    {{/accordion-list}}
  </div>

{{!--pagination--}}
  {{#if (gt pagesNum 1)}}
    <nav class="text-center" aria-label="Page navigation">
      <ul class="pagination">
        <li class={{if (eq currentPage 1) 'active disabled'}} >
          <a href="#" {{action "onPaginationClick" 1}} aria-label="First">
            <span aria-hidden="true">First</span>
          </a>
        </li>
        <li class={{if (eq currentPage 1) 'active disabled'}}>
          <a href="#" {{action "onPaginationClick" "previous"}} aria-label="Previous">
            <span aria-hidden="true">Previous</span>
          </a>
        </li>
        {{#each viewPages as |page|}}
          <li class={{if (eq page currentPage) 'active'}}><a href="#" {{action "onPaginationClick" page}}>{{page}}</a></li>
        {{/each}}
        <li class={{if (eq currentPage pagesNum) 'disabled'}} >
          <a href="#" {{action "onPaginationClick" "next"}} aria-label="Next">
            <span aria-hidden="true">Next</span>
          </a>
        </li>
        <li class={{if (eq currentPage pagesNum) 'disabled'}} >
          <a href="#" {{action "onPaginationClick" pagesNum}} aria-label="Last">
            <span aria-hidden="true">Last</span>
          </a>
        </li>
      </ul>
    </nav>
  {{/if}}
</main>
