<div class="row">
  <div class="col-xs-6">
    <label class="te-label te-label--small" for="select-metric">
      Metrics to Investigate
      <span>
        <i class="glyphicon glyphicon-question-sign"></i>
        {{#tooltip-on-element class="te-tooltip"}}
          This metric sets the context for the analysis view below. Changing the analyzed metric, dimension filters, analysis period, or baseline will change the data below. You can also add this metric to the chart above by clicking "+ add to chart".
        {{/tooltip-on-element}}
      </span>
    </label>
    {{rootcause-select-metric
      selectedUrn=baseUrn
      entities=entities
      selectedUrns=selectedUrns
      onSelection=(action "onMetric")
      selectionEditable=true
    }}
  </div>
  {{#if selectedUrn}}
    <div class="{{if showExclusions 'col-xs-3' 'col-xs-6'}}">
      <label class="te-label te-label--small" for="select-filters">
        Filter by
        <span>
          <i class="glyphicon glyphicon-question-sign"></i>
          {{#tooltip-on-element class="te-tooltip"}}
            You can add filters to the analyzed metric, for example page views for "countryCode::us" only. The available filters depend on the data set. You can also add filters via left-click in the "Dimensions" tab.
          {{/tooltip-on-element}}
        </span>
        {{#unless showExclusions}}
          <span>
            <a {{action "showExclusions"}}>Exclude</a>
          </span>
        {{/unless}}
      </label>

      {{filter-select
        selected=inclusions
        options=filterOptions
        placeholder="  Add a dimension filter (Type to Search)"
        triggerId="select-filters"
        onChange=(action "onSelect")
      }}
    </div>

    {{#if showExclusions}}
      <div class="col-xs-3">
        <label class="te-label te-label--small" for="select-exclusion">
          {{#if isExclusionWarning}}
            {{partial 'partials/rootcause/exclusion-warning'}}
          {{/if}}
          Exclude
          <span>
            <i class="glyphicon glyphicon-question-sign"></i>
            {{#tooltip-on-element class="te-tooltip"}}
              You can exclude subsets of the analyzed metric, for example all page views without "countryCode::us". The available exclusions depend on the data set. You can also add exclusions via right-click in the "Dimensions" tab.
            {{/tooltip-on-element}}
           </span>
          {{#unless hasExclusions}}
            <span>
              <a {{action "hideExclusions"}}>Hide</a>
            </span>
          {{/unless}}
        </label>
        {{filter-select
          selected=exclusions
          options=filterOptions
          placeholder="  Add an exclusion filter (Type to Search)"
          triggerId="select-exclusion"
          onChange=(action "onSelect")
        }}
      </div>
    {{/if}}
  {{/if}}
</div>
