<div class="range-pill-selectors__title">{{title}}</div>
<ul class="range-pill-selectors__list">
  {{#each timeRangeOptions as |range|}}
    <li class="range-pill-selectors__item {{if range.isActive "range-pill-selectors__item--active"}}" {{action "onRangeOptionClick" range}} data-value={{range.value}}>
      {{range.name}}
      {{#if (eq range.name "Custom")}}
        : {{date-range-picker
            class=inputClassName
            timePicker=true
            timePicker24Hour=true
            timePickerIncrement=timePickerIncrement
            maxDate=maxTime
            start=activeRangeStart
            end=activeRangeEnd
            ranges=predefinedRanges
            showCustomRangeLabel=false
            alwaysShowCalendars=true
            format=uiDateFormat
            serverFormat=serverFormat
            open="left"
            applyAction=(action "onRangeSelection")
          }}
      {{/if}}
    </li>
  {{/each}}
</ul>
