<section class="te-page__top te-search-results {{if isEditModeActive "te-search-results--slim"}}">
  <div class="container">
    {{#self-serve-alert-yaml-details
      alertData=model.alertData
      subscribedGroups=model.subscribedGroups
      isLoadError=isLoadError
      toggleActivation=(action "toggleActivation")
    }}
    <div class="te-search-results__cta">
      {{#link-to "manage.explore" model.alertId}}
        <button class="te-button te-button--outline">Back to Overview</button>
      {{/link-to}}
    </div>
    {{/self-serve-alert-yaml-details}}
  </div>
</section>

<section class="te-page__bottom">
  <div class="container">
    {{#if isLoadError}}
      <div class="te-alert-page-pending">
        <img src="{{rootURL}}assets/images/te-alert-error.png" class="te-alert-page-pending__image te-alert-page-pending__image--error" alt="error">
        <h2 class="te-alert-page-pending__title">Oops, something went wrong</h2>
        <p class="te-alert-page-pending__text">{{errorText}}</p>
      </div>
    {{else}}
      <fieldset class="te-form__section te-form__section--first row">

        {{#detection-yaml
          isEditMode=true
          alertId=model.alertId
          detectionYaml=detectionYaml
          setDetectionYaml=(action "updateDetectionYaml")
          disableYamlSave=disableYamlSave
          previewError=previewError
          previewErrorMsg=previewErrorMsg
          previewErrorInfo=previewErrorInfo
          previewErrorScroll=previewErrorScroll
          resetScroll=(action "resetErrorScroll")
        }}
        {{/detection-yaml}}

        <div class="col-xs-12">
          {{#bs-accordion onChange=(action "changeAccordion") as |acc|}}
            {{#acc.item value=preview as |aitem|}}
              {{#aitem.title}}
                <section class="dashboard-container__title thirdeye-link-secondary">Preview alert {{if toggleCollapsed "/ Enter YAML configuration to preview alert." ""}}
                  <span class="pull-right"><i class="glyphicon glyphicon-menu-{{if toggleCollapsed "down" "up"}}"></i></span>
                </section>
              {{/aitem.title}}
              {{#aitem.body}}
                {{#alert-details
                  isEditMode=true
                  isPreviewMode=true
                  alertId=model.alertId
                  alertYaml=detectionYaml
                  originalYaml=model.detectionYaml
                  dataIsCurrent=alertDataIsCurrent
                  detectionHealth=model.detectionHealth
                  timeWindowSize=model.timeWindowSize
                  metricUrnRoute=model.metricUrn
                  metricUrnListRoute=model.metricUrnList
                  sendPreviewError=(action "setPreviewError")
                }}
                  {{yield}}
                {{/alert-details}}
              {{/aitem.body}}
            {{/acc.item}}
          {{/bs-accordion}}
        </div>

        <div class="col-xs-12">
          <hr/>
        </div>

        {{#subscription-yaml
          isEditMode=true
          subscriptionYaml=subscriptionYaml
          setSubscriptionYaml=(action "updateSubscriptionYaml")
          subscriptionMsg=""
          selectSubscriptionGroup=(action "changeSubscriptionGroup")
          subscriptionGroupNamesDisplay=subscriptionGroupNamesDisplay
          groupName=groupName
          createGroup=createGroup
          subscriptionError=subscriptionError
          subscriptionErrorMsg=subscriptionErrorMsg
          subscriptionErrorInfo=subscriptionErrorInfo
        }}
        {{/subscription-yaml}}

      </fieldset>
      <fieldset class="te-form__section-submit">
        {{bs-button
            defaultText=subGroupButtonText
            type="primary"
            buttonType="submit"
            disabled=disableSubGroupSave
            onClick=(action "submitSubscriptionGroup")
            class="te-button te-button--submit"
          }}
      </fieldset>
    {{/if}}
  </div>
</section>
