<div class="manage-alert-tune">

  <div class="te-pill-selectors">
    {{!-- Date range selector --}}
    <div class="te-pill-selectors__label">Showing</div>
    <ul class="te-alert-page-hzlist">
      {{#each timeRangeOptions as |range|}}
        <li class="te-alert-page-hzlist__item {{if range.isActive "te-alert-page-hzlist__item--active"}}" {{action "onRangeOptionClick" range}}>
          {{range.name}}
          {{#if (eq range.name "Custom")}}
            : {{date-range-picker
              class="te-pill-selectors__range-picker"
              timePicker=false
              timePicker24Hour=true
              timePickerIncrement=timePickerIncrement
              maxDate=today
              start=activeRangeStart
              end=activeRangeEnd
              ranges=predefinedRanges
              showCustomRangeLabel=false
              format=uiDateFormat
              serverFormat="YYYY-MM-DD HH:mm"
              applyAction=(action "onRangeSelection")
            }}
          {{/if}}
        </li>
      {{/each}}
    </ul>
  </div>

  <div class="te-content-block">
    <fieldset class="te-form__section te-form__section--first te-form__section--slim row">
      <div class="col-xs-12">
        {{!-- <legend class="te-form__section-title">Tune alert notifications</legend> --}}
        <h4 class="te-self-serve__block-title">Tune alert notifications</h4>
        <p class="te-self-serve__block-subtext">All configurations and outputs will be based on reviewed anomalies.</p>
      </div>
      <ul class="te-form__list col-xs-12 col-sm-8">
        <li class="te-form__list-item">
          {{#radio-button value="current" groupValue=selectedTuneType}}
            <div class="te-form__list-label">Automatically tune alert settings</div>
          {{/radio-button}}
        </li>
        <li class="te-form__list-item">
          {{#radio-button value="custom" groupValue=selectedTuneType}}
            <div class="te-form__list-label">Customize alert settings</div>
          {{/radio-button}}
         </li>
      </ul>

      <div class="te-form__indent-block col-xs-8">
        <label for="alert-tune-pattern" class="te-form__list-label">Anomaly Pattern</label>
        <div class="te-form__tune-field">
          {{#power-select
            triggerId="alert-tune-pattern"
            triggerClass="te-form__tune-field"
            verticalPosition="below"
            renderInPlace=true
            options=tunePatternOptions
            searchEnabled=false
            selected=selectedTunePattern
            placeHolder="Select Pattern"
            onchange=(action (mut selectedTunePattern))
            disabled=isCustomFieldsDisabled
            as |pattern|
          }}
            {{pattern}}
          {{/power-select}}
        </div>
      </div>

      <div class="te-form__indent-block col-xs-10">
        <label for="alert-tune-pattern" class="te-form__list-label">When</label>
        <div class="te-form__tune-field">
          {{#power-select
            triggerId="alert-tune-severity"
            triggerClass="te-form__tune-field"
            verticalPosition="below"
            renderInPlace=true
            options=tuneSeverityOptions
            searchEnabled=false
            selected=selectedSeverityOption
            onchange=(action (mut selectedSeverityOption))
            disabled=isCustomFieldsDisabled
            as |severity|
          }}
            {{severity}}
          {{/power-select}}
        </div>

        <label for="custom-tune-percent" class="te-form__list-label">is >=</label>
        <div class="te-form__tune-field te-form__tune-field--amount">
          {{input
            type="text"
            id="custom-tune-percent"
            class="form-control te-input te-input"
            focus-out="onChangeSeverityValue"
            value=customPercentChange
            disabled=isCustomFieldsDisabled
          }}
        </div>
        {{#if isTuneAmountPercent}}
          <span class="te-form__list-label--suffix">%, </span>
        {{/if}}

        <label for="custom-tune-mttd" class="te-form__list-label">MTTD should be no more than</label>
        <div class="te-form__tune-field te-form__tune-field--amount">
          {{input
            type="text"
            id="custom-tune-mttd"
            class="form-control te-input"
            value=customMttdChange
            focus-out="onChangeMttdValue"
            disabled=isCustomFieldsDisabled
          }}
        </div>
        <span class="te-form__list-label">hours</span>
      </div>

      <div class="te-form__cta-row">
        <a class="te-button te-button--link" {{action "onResetPage" preventDefault=false}}>Reset</a>
        {{bs-button
          defaultText="Preview performance"
          type="outline-primary"
          onClick=(action "onClickPreviewPerformance")
          class="te-button te-button--outline"
        }}
      </div>
    </fieldset>
  </div>

  <div class="te-horizontal-cards te-content-block">
    <h4 class="te-self-serve__block-title">{{if isTunePreviewActive "Compare" "Tuned"}} Alert Performance</h4>
    <div class="te-horizontal-cards__container">
      {{#if isPerformanceDataLoading}}
        <div class="spinner-wrapper-self-serve spinner-wrapper-self-serve__content-block">{{ember-spinner}}</div>
      {{/if}}
      {{!-- Alert anomaly stats cards --}}
      {{anomaly-stats-block
        isTunePreviewActive=isTunePreviewActive
        displayMode="tune"
        anomalyStats=anomalyStats
      }}
    </div>
    {{#if isTunePreviewActive}}
      <div class="te-form__cta-button">
        {{bs-button
          defaultText="Save tuning"
          type="primary"
          onClick=(action "onSubmitTuning")
          buttonType="submit"
          class="te-button te-button--submit"
        }}
      </div>
    {{/if}}

    {{#if isTuneSaveSuccess}}
      {{#bs-alert type="success" class="te-form__banner te-form__banner--success"}}
        <div class="te-form__banner-title">Success:</div> Filters modified.
      {{/bs-alert}}
    {{/if}}

    {{#if isTuneSaveFailure}}
      {{#bs-alert type="danger" class="te-form__banner te-form__banner--failure"}}
        <span class="stronger">Error:</span> {{failureMessage}}
      {{/bs-alert}}
    {{/if}}

  </div>

  {{#if isTunePreviewActive}}
    <div class="te-horizontal-cards te-content-block">
      <h4 class="te-self-serve__block-title">{{anomalyData.length}} Anomalies removed with these settings</h4>
      {{#if diffedAnomalies}}
        <p class="te-self-serve__block-subtext">The following previously sent anomalies <span class="stronger">would not have been sent</span> under the new settings.</p>
      {{else}}
        <p class="te-self-serve__block-subtext">These settings would result in <span class="stronger">NO reduction</span> of sent anomalies</p>
      {{/if}}

      {{!-- Alert anomaly table --}}
      {{#if diffedAnomalies}}
        <table class="te-anomaly-table te-anomaly-table-tuning">
          <thead>
            <tr class="te-anomaly-table__row te-anomaly-table__row--metrics">
              <td colspan="5">
                <ul class="te-anomaly-table-stats">
                  {{#each tableStats as |metric|}}
                    <li class="te-anomaly-table-stats__category {{if metric.isActive "te-anomaly-table-stats__category--active"}}" {{action "toggleCategory" metric.label}}>
                      <div class="te-anomaly-table-stats__content te-anomaly-table-stats__content--number">
                        {{metric.count}}
                      </div>
                      <div class="te-anomaly-table-stats__content te-anomaly-table-stats__content--text">
                        {{metric.label}}
                      </div>
                    </li>
                  {{/each}}
                </ul>
              </td>
            </tr>
            <tr class="te-anomaly-table__row te-anomaly-table__head">
               <th class="te-anomaly-table__cell-head">
                <a class="te-anomaly-table__cell-link" {{action "toggleSortDirection" "start"}}>
                  Start/Duration (PDT)
                  <i class="te-anomaly-table__icon glyphicon {{if sortColumnStartUp "glyphicon-menu-up" "glyphicon-menu-down"}}"></i>
                </a>
               </th>
               {{#if alertHasDimensions}}
                  <th class="te-anomaly-table__cell-head">Dimensions</th>
               {{/if}}
               <th class="te-anomaly-table__cell-head">
                <a class="te-anomaly-table__cell-link" {{action "toggleSortDirection" "score"}}>
                  Severity Score
                  <i class="te-anomaly-table__icon glyphicon {{if sortColumnScoreUp "glyphicon-menu-up" "glyphicon-menu-down"}}"></i>
                </a>
               </th>
               <th class="te-anomaly-table__cell-head">
                <a class="te-anomaly-table__cell-link" {{action "toggleSortDirection" "change"}}>
                  Current/WoW
                  <i class="te-anomaly-table__icon glyphicon {{if sortColumnChangeUp "glyphicon-menu-up" "glyphicon-menu-down"}}"></i>
                </a>
               </th>
               <th class="te-anomaly-table__cell-head">
                <a class="te-anomaly-table__cell-link" {{action "toggleSortDirection" "resolution"}}>
                  Resolution
                  <i class="te-anomaly-table__icon glyphicon {{if sortColumnResolutionUp "glyphicon-menu-up" "glyphicon-menu-down"}}"></i>
                </a>
             </th>
            </tr>
          </thead>

          <tbody>
            {{#each diffedAnomalies as |anomaly|}}
              <tr class="te-anomaly-table__row">
                 <td class="te-anomaly-table__cell">
                  <ul class="te-anomaly-table__list">
                    <li class="te-anomaly-table__list-item te-anomaly-table__list-item--shadow">{{anomaly.index}}</li>
                    <li class="te-anomaly-table__list-item te-anomaly-table__list-item--stronger">{{anomaly.startDateStr}}</li>
                    <li class="te-anomaly-table__list-item te-anomaly-table__list-item--lighter">{{anomaly.durationStr}}</li>
                  </ul>
                 </td>
                 {{#if alertHasDimensions}}
                   <td class="te-anomaly-table__cell">
                    <ul class="te-anomaly-table__list">
                     {{#each anomaly.dimensionList as |dimension|}}
                        <li class="te-anomaly-table__list-item te-anomaly-table__list-item--smaller">
                          {{dimension.dimensionKey}}: <span class="stronger">{{dimension.dimensionVal}}</span>
                        </li>
                     {{else}}
                        -
                     {{/each}}
                    </ul>
                   </td>
                 {{/if}}
                 <td class="te-anomaly-table__cell">{{anomaly.severityScore}}</td>
                 <td class="te-anomaly-table__cell">
                   <ul class="te-anomaly-table__list">
                      <li>{{anomaly.shownCurrent}} / {{anomaly.shownBaseline}}</li>
                      <li class="te-anomaly-table__value-label te-anomaly-table__value-label--{{anomaly.changeDirectionLabel}}">
                        ({{anomaly.shownChangeRate}}%)
                      </li>
                   </ul>
                 </td>
                 <td class="te-anomaly-table__cell">
                    {{anomaly.anomalyFeedback}}
                 </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{/if}}
    </div>
  {{/if}}

</div>
