<aside class="manage-alert-filters col-md-3">
  <div class="manage-alert-filters__wrapper">
    <h1 class="manage-alert-filters__row manage-alert-filters__row--title">Manage Alerts</h1>
    {{!--  TODO: enable this filter component when ready
      {{entity-filter
        title="Refine results by"
        maxStrLen=25
        filterBlocks=filterBlocks
        onSelectFilter=(action "userDidSelectFilter")
      }}
    --}}
  </div>
</aside>

<main class="manage-alert-container card-container card-container--padded col-md-9">
  <div class="manage-alert-container__title">Search for an existing alert</div>
  <div class="manage-alert-search">
    <div class="manage-alert-search__filter">
      <div class="manage-alert-search__label">Search By:</div>
      {{#power-select
        selected=selectedSearchMode
        options=searchModes
        searchEnabled=false
        onchange=(action "onSearchModeChange")
        as |name|
      }}
        {{name}}
      {{/power-select}}
    </div>

    <div class="manage-alert-search__input">
      <div class="manage-alert-search__label">Search for Alert:</div>
      {{#if (eq selectedSearchMode 'All Alerts')}}
        {{#power-select
          selected=selectedAll
          onchange=(action "onAlertChange")
          placeholder="Show All Alerts"
          disabled=true
          as |alert|
        }}
          {{alert.functionName}}
        {{/power-select}}
      {{else if (eq selectedSearchMode 'Alerts')}}
        {{#power-select
          selected=primaryMetric
          onchange=(action "onAlertChange")
          search=(perform searchByFunctionName)
          searchPlaceholder="Search for an Alert"
          placeholder="Search by Alert Name"
          allowClear=true
          as |alert|
        }}
          {{alert.functionName}}
        {{/power-select}}

      {{else if (eq selectedSearchMode 'Applications')}}
        {{#power-select
          selected=selectedApplicationName
          onchange=(perform searchByApplicationName)
          options=applicationNames
          searchPlaceholder="Search for an Application Name"
          placeholder="Search by Application Name"
          allowClear=true
          as |applicationName|
        }}
          {{applicationName}}
        {{/power-select}}

      {{else if (eq selectedSearchMode 'Subscriber Groups')}}
        {{#power-select
          onchange=(perform searchByDatasetName)
          selected=selectedsubscriberGroupNames
          options=subscriberGroupNames
          searchPlaceholder="Search for a dataset"
          placeholder="Search by Subscriber Group Name"
          allowClear=true
          as |groupName|
        }}
          {{groupName}}
        {{/power-select}}
      {{/if}}
    </div>

    {{#if (eq selectedSearchMode "All Alerts")}}
      <div class="manage-alert-search__sort">
        <div class="manage-alert-search__label">Sort By:</div>
        {{#power-select
          selected=selectedSortMode
          options=sortModes
          searchEnabled=false
          onchange=(action "onSortModeChange")
          as |name|
        }}
          {{name}}
        {{/power-select}}
      </div>
    {{/if}}
  </div>

  <div class="manage-alert-results">
    {{#if paginatedSelectedAlerts}}
      <section class="te-search-header">
        <span class="te-search-title">
          Alerts Found({{selectedAlerts.length}})
        </span>
        <span class="pull-right">
          Showing {{paginatedSelectedAlerts.length}} of
          {{selectedAlerts.length}} {{if (gt selectedAlerts.length 1) 'alerts' 'alert'}}
        </span>
      </section>
    {{/if}}
    {{#if isLoading}}
      <div class="spinner-wrapper">
        {{ember-spinner}}
      </div>
    {{/if}}
      {{#each paginatedSelectedAlerts as |alert|}}
        <section class="te-search-results">
          <div class="te-search-results__header">
            <div class="te-search-results__title-group">
              <div class="te-search-results__title">
                <span class="te-search-results__tag te-search-results__tag--list {{if alert.isActive "te-search-results__tag--active"}}">
                  {{if alert.isActive "Active" "Inactive"}}
                </span>
                {{#if testMode}}
                  {{#link-to "manage.alert.explore" alert.id}}
                    <div class="te-search-results__title-name" title={{alert.functionName}}>{{alert.functionName}}</div>
                  {{/link-to}}
                {{else}}
                  <span title={{alert.functionName}}>{{alert.functionName}}</span>
                {{/if}}
              </div>
            </div>
            {{!-- TODO: remove delete option when enabling new edit/tune flow --}}
              <div class="te-search-results__edit-button">
                {{#if testMode}}
                  <a href="#" {{action "removeThirdEyeFunction" alert.id}}><span class="glyphicon glyphicon-trash"></span></a>
                {{else}}
                  {{#link-to "manage.alerts.edit" alert.id}}<span class="glyphicon glyphicon-pencil"></span>{{/link-to}}
                {{/if}}
              </div>
          </div>
          <ul class="te-search-results__list te-search-results__list--details-block row">
            <div class="col-xs-12 col-sm-5">
              <li class="te-search-results__row">
                {{!-- TODO: Dry this out --}}
                <div class="te-search-results__option te-search-results__option--list">Metric</div>
                <div class="te-search-results__value" title={{alert.metric}}>{{alert.metric}}</div>
              </li>
              <li class="te-search-results__row">
                <div class="te-search-results__option te-search-results__option--list">Dataset</div>
                <div class="te-search-results__value" title={{alert.collection}}>
                  <span class="{{unless alert.collection 'te-search-results__prop--missing' 'te-search-results__prop'}}">
                    {{if alert.collection alert.collection 'N/A'}}
                  </span>
                </div>
              </li>
              <li class="te-search-results__row">
                <div class="te-search-results__option te-search-results__option--list">Application</div>
                <div class="te-search-results__value" title={{alert.application}}>
                  <span class="{{unless alert.application 'te-search-results__prop--missing' 'te-search-results__prop'}}">
                    {{if alert.application alert.application 'N/A'}}
                  </span>
                </div>
              </li>
              <li class="te-search-results__row">
                <div class="te-search-results__option te-search-results__option--list">Watchers</div>
                <div class="te-search-results__value" title={{alert.group}}>
                  <span class="{{unless alert.group 'te-search-results__prop--missing' 'te-search-results__prop'}}">
                    {{if alert.group alert.group 'N/A'}}
                  </span>
                </div>
              </li>
            </div>
            <div class="col-xs-12 col-sm-7">
              <li class="te-search-results__row">
                <div class="te-search-results__option te-search-results__option--list">Owner</div>
                <div class="te-search-results__value" title={{alert.createdBy}}>
                  <span class="{{unless alert.createdBy 'te-search-results__prop--missing' 'te-search-results__prop'}}">
                    {{if alert.createdBy alert.createdBy 'N/A'}}
                  </span>
                </div>
              </li>
              <li class="te-search-results__row">
                <div class="te-search-results__option te-search-results__option--list">Type</div>
                <div class="te-search-results__value" title={{alert.type}}>{{alert.type}}</div>
              </li>
              <li class="te-search-results__row">
                <div class="te-search-results__option te-search-results__option--list">Data Filter</div>
                <div class="te-search-results__value" title={{alert.filters}}>
                  <span class="{{unless alert.filters 'te-search-results__prop--missing' 'te-search-results__prop'}}">
                    {{if alert.filters alert.filters 'N/A'}}
                  </span>
                </div>
              </li>
              <li class="te-search-results__row">
                <div class="te-search-results__option te-search-results__option--list">Dimensions</div>
                <div class="te-search-results__value" title={{alert.exploreDimensions}}>
                  <span class="{{unless alert.exploreDimensions 'te-search-results__prop--missing' 'te-search-results__prop'}}">
                    {{if alert.exploreDimensions alert.exploreDimensions 'N/A'}}
                  </span>
                </div>
              </li>
            </div>
          </ul>
        </section>
      {{/each}}
  </div>

{{!--pagination--}}
  {{#if (gt pagesNum 1)}}
    <nav class="text-center" aria-label="Page navigation">
      <ul class="pagination">
        <li class={{if (eq currentPage 1) 'active disabled'}} >
          <a href="#" {{action "onPaginationClick" 1}} aria-label="First">
            <span aria-hidden="true">First</span>
          </a>
        </li>
        <li class={{if (eq currentPage 1) 'active disabled'}}>
          <a href="#" {{action "onPaginationClick" "previous"}} aria-label="Previous">
            <span aria-hidden="true">Previous</span>
          </a>
        </li>
        {{#each viewPages as |page|}}
          <li class={{if (eq page currentPage) 'active'}}><a href="#" {{action "onPaginationClick" page}}>{{page}}</a></li>
        {{/each}}
        <li class={{if (eq currentPage pagesNum) 'disabled'}} >
          <a href="#" {{action "onPaginationClick" "next"}} aria-label="Next">
            <span aria-hidden="true">Next</span>
          </a>
        </li>
        <li class={{if (eq currentPage pagesNum) 'disabled'}} >
          <a href="#" {{action "onPaginationClick" pagesNum}} aria-label="Last">
            <span aria-hidden="true">Last</span>
          </a>
        </li>
      </ul>
    </nav>
  {{/if}}
</main>
