<div class="col-xs-12">
  <legend class="te-form__section-title">{{alertSettingsTitle}}</legend>
</div>
<div class="col-xs-4">
  <label class="te-label te-label--small">Add this alert to a subscription group</label>

  {{!--  subscription group --}}
  {{#power-select
    placeholder="Create a new subscription group"
    options=subscriptionGroupNamesDisplay
    selected=selectedGroup
    searchField="name"
    onchange=(action 'onSubscriptionGroupSelectionAction')
    as |selectedGroup|
  }}
    {{selectedGroup.name}} ({{selectedGroup.id}})
  {{/power-select}}
</div>
<div class="col-xs-12">
  <label for="select-metric" class="control-label te-label te-label--taller required">Can't find your team? Contact
    <a class="thirdeye-link-secondary" target="_blank" href="mailto:ask_thirdeye@linkedin.com">ask_thirdeye@linkedin.com</a>
  </label>
  <div class="pull-right">
    {{bs-button
      defaultText="Reset"
      type="outline-primary"
      buttonType="reset"
      onClick=(action "resetYAML")
      class="te-button te-button--link"
    }}
    {{bs-button
      defaultText="View Docs & Examples"
      type="outline-primary"
      buttonType="link"
      onClick=(action "triggerDoc" "subscription")
      class="te-button te-button--cancel"
    }}
  </div>
</div>
<div class="col-xs-12">
  {{!-- subscription settings editor --}}
  {{ember-ace
    lines=25
    value=subscriptionYaml
    update=(action "onEditingSubscriptionYamlAction")
    mode="ace/mode/yaml"
  }}
</div>
