<p class="te-anomaly-table__current-baseline">
  {{record.current}}/{{record.baseline}}
  {{partial 'partials/si-tooltip'}}
</p>
<p class="te-anomaly-table__value-label te-anomaly-table__value-label--dash te-anomaly-table__value-label--{{calculate-direction record.change}}">
  ({{record.humanizedChangeDisplay}})
</p>
