{{#te-modal
  headerText=headerText
  cancelButtonText="Back"
  submitButtonText="Reload Analysis"
  submitTooltip="Unsaved changes will be lost."
  isShowingModal=showEntityMappingModal
  cancelAction=(action "onExit")
  hasFooter=false
}}
  <div class="row te-modal__settings">
    <p class="col-md-2">
      <span class="te-label te-label--bold te-label--dark">When Analyzing</span>
    </p>
    <p class="col-md-10">{{metric.label}}</p>
  </div>
  <div class="row te-modal__settings">
    <p class="col-md-2">
      <span class="te-label te-label--bold te-label--dark">Set mapping to</span>
    </p>
    <p class="col-md-10 te-modal__filters">
      <div id="select-mapping-type">
        {{#power-select
          triggerClass="te-modal__filter-select"
          placeholder="Choose a type"
          selected=selectedMappingType
          options=mappingTypes
          renderInPlace=true
          onchange=(action "onEntityMappingChange")
          searchEnabled=false
          as |type|
        }}
          {{type}}
        {{/power-select}}
      </div>

      {{#if showAdvancedInput}}
        <div class="te-modal__dropdown--expand">
          {{#power-select
            triggerClass="te-modal__filter-select te-modal__filter-select--flushed"
            selected=selectedEntity
            renderInPlace=true
            triggerId="advanced-entity-selection"
            search=(action "onSearch")
            onchange=(action "onEntitySelection")
            placeholder=(concat "Search for a " selectedMappingType)
            as |entity|
          }}
            {{extract-dropdown-value entity "alias"}}
          {{/power-select}}
        </div>
      {{else}}
        {{input
          type="text"
          id="simple-entity-selection"
          class="ember-power-select-trigger te-modal__filter-select te-modal__filter-select--flushed te-modal__input"
          value=urn
          key-press="onKeyPress"
        }}
      {{/if}}

      <a class="thirdeye-link thirdeye-link--secondary" class={{unless canAddMapping 'thirdeye-link--disabled'}} {{action "onAddFilter"}}>
        Add Mapping
        {{#tooltip-on-element
          class="te-modal__tooltip"
          isShown=showTooltip}}

          {{#if mappingExists}}
            This mapping already exists
          {{else}}
            Click to create mapping
          {{/if}}

        {{/tooltip-on-element}}
      </a>
    </p>
  </div>
  <div class="te-modal__table">
    {{models-table
      data=relatedEntities
      customClasses=classes
      columns=entityColumns
      filteringIgnoreCase=true
      showColumnsDropdown=false
      sortFilterOptions=true
      pageSize=5
      showGlobalFilter=false
      delete="onDeleteEntity"}}
  </div>
{{/te-modal}}
