{{#if isUserReported}}
  {{!-- Delete anomaly modal --}}
  {{#te-modal
    cancelButtonText="Cancel"
    submitButtonText="Delete"
    submitAction=(action "onDelete")
    cancelAction=(action "onCancelDelete")
    isShowingModal=openDeleteModal
    headerText=headerText
  }}
    {{#if isDeleteSuccess}}
      {{#bs-alert type="success" class="te-form__banner te-form__banner--success"}}
        <strong>Success:</strong> Anomaly reported.  Refresh page to see new anomalies...
      {{/bs-alert}}
    {{/if}}

    {{#if isDeleteFailure}}
      {{#bs-alert type="danger" class="te-form__banner te-form__banner--failure"}}
        <strong>Error:</strong> Failed to delete anomaly. Please refresh page to try again.
      {{/bs-alert}}
    {{/if}}
  {{/te-modal}}
  <p class="anomalies-table__text anomalies-table__text">
    <label class="te-label te-label--small">
      User Reported
    </label>
  </p>
  <a role="button" class="te-button--link" {{action "onClickDeleteAnomaly" record.id}}>
    Delete anomaly
  </a>
{{else}}
  <div class="anomalies-table__column-cell">
      <div class="te-anomaly-table__icon-wrapper">
        {{#if renderStatusIcon}}
          {{#if showResponseSaved}}
            <i class="te-anomaly-table__icon--status-no-margin glyphicon glyphicon-ok-circle"></i>
          {{/if}}
          {{#if showResponseFailed}}
            <i class="te-anomaly-table__icon--status-no-margin te-anomaly-table__icon--error glyphicon glyphicon-remove-circle"></i>
          {{/if}}
        {{/if}}
      </div>

      {{#if (eq record.anomalyFeedback "True anomaly")}}
        <div class="te-anomaly-table__value-label--down">
          {{#power-select
            triggerId=record.anomalyId
            triggerClass="te-anomaly-table__select te-anomaly-table__select--margin-left"
            options=anomalyResponseNames
            searchEnabled=false
            selected=record.anomalyFeedback
            onchange=(action "onChangeAnomalyResponse" record)
            as |response|
          }}
            {{response}}
          {{/power-select}}
        </div>
      {{else}}
        <div>
          {{#power-select
            triggerId=record.anomalyId
            triggerClass="te-anomaly-table__select te-anomaly-table__select--margin-left"
            options=anomalyResponseNames
            searchEnabled=false
            selected=record.anomalyFeedback
            onchange=(action "onChangeAnomalyResponse" record)
            as |response|
          }}
            {{response}}
          {{/power-select}}
        </div>
      {{/if}}
    {{#if hasComment}}
      <div class="te-anomaly-table__comment">
        <i class="glyphicon glyphicon-th-list"></i>
        {{#tooltip-on-element class="te-anomaly-table__tooltip"}}
          {{record.anomaly.comment}}
        {{/tooltip-on-element}}
      </div>
    {{/if}}
  </div>
{{/if}}
