<div class="anomalies-table__column-cell">
  {{#if showResponseSaved}}
    <i class="{{if showResponseSaved "te-anomaly-table__icon--status-no-margin" "te-anomaly-table__icon--hidden"}} glyphicon glyphicon-ok-circle" ></i>
  {{else}}
    <i class="{{if showResponseFailed "te-anomaly-table__icon--status-no-margin" "te-anomaly-table__icon--hidden"}} glyphicon glyphicon-remove-circle" ></i>
  {{/if}}

  {{#if record.isUserReported}}
    <span class="te-anomaly-table__text">User Reported</span>
  {{else}}
    {{#power-select
      triggerId=record.anomalyId
      triggerClass="te-anomaly-table__select te-anomaly-table__select--margin-left"
      options=anomalyResponseNames
      searchEnabled=false
      selected=record.anomalyFeedback
      onchange=(action "onChangeAnomalyResponse" record)
      as |response|
    }}
      {{response}}
    {{/power-select}}
  {{/if}}
</div>
{{#if record.anomaly.comment}}
  <div class="te-anomaly-table__comment">
    comment: {{markdown-to-html record.anomaly.comment}}
  </div>
{{/if}}
