<section class="te-page__middle">
  <section class="container">
    <section class="te-content-block__date-picker-section {{unless rootLevel "te-content-block__date-picker-section--disabled"}}">   
      <span class="te-content-block__date-picker-label">Showing</span>
      {{date-range-picker
        class="te-range-picker"
        timePicker=datePicker.TIME_PICKER
        timePicker24Hour=datePicker.TIME_PICKER_24_HOUR
        timePickerIncrement=datePicker.TIME_PICKER_INCREMENT
        start=datePicker.RANGE_START
        end=datePicker.RANGE_END
        ranges=datePicker.PREDEFINED_RANGES
        showCustomRangeLabel=datePicker.SHOW_CUSTOM_RANGE_LABEL
        format=datePicker.UI_DATE_FORMAT
        serverFormat=datePicker.SERVER_FORMAT
        applyAction=(action "onRangeSelection")
      }}
    </section>
  
    <section class="te-content-block__performance-health-wrapper">
      {{detection-health
        health=model.detectionHealth
      }}       
    </section>
  </section>
</section>

<section class="te-page__bottom">
  <section class="container">
   {{#if fetchAnomaliesTask.isRunning }}
      <div class="spinner-wrapper spinner-wrapper--card">
        {{ember-spinner lines=30 radius=20 length=0 width=10 opacity=0 trail=75 color='blue'}}
      </div>
    {{else}}  
      {{composite-anomalies
        anomalies=anomalies
        alertId=model.alertId
        onBreadcrumbClick=(action "onBreadcrumbClick")
      }}
    {{/if}}
  </section>  
</section>  

{{outlet}}