{{#te-modal
  headerText="Manage Subscription Groups"
  footerText=footerText
  isShowingModal=showManageGroupsModal
  isInvalid=isInvalid
  cancelAction=(action "onCancel")
  submitAction=(action "onSubmit")
  hasFooter=true
}}

  {{#if hasFunction}}
    <div class="row te-modal__settings">
      <div class="col-md-2">
        <span class="te-label te-label--bold te-label--dark">Group shortcuts</span>
      </div>
      <div class="col-md-10">
        {{#each groupShortcuts as |group index| }}
          {{#if index}}, {{/if}}
          <a {{action "onGroup" group}}>{{group.name}}</a>
        {{/each}}
      </div>
    </div>

    <hr/>
  {{/if}}

  <div class="row te-modal__settings">
    <div class="col-md-2">
      <span class="te-label te-label--bold te-label--dark">Find Group</span>
    </div>
    <div class="col-md-3">
      {{#power-select
        class="te-modal__input"
        triggerClass="te-modal__filter-select te-modal__filter-select--flushed"
        selected=applicationOptionSelected
        options=applicationOptions
        renderInPlace=true
        searchField="name"
        triggerId="application-selection"
        placeholder="Select application"
        onchange=(action "onApplication")
      as |option|
      }}
        {{option.name}}
      {{/power-select}}
    </div>

    <div class="col-md-5">
      {{#power-select
        triggerClass="te-modal__filter-select te-modal__filter-select--flushed"
        selected=group
        options=groupOptions
        searchField="name"
        renderInPlace=true
        triggerId="group-selection"
        placeholder="Search subscription group"
        disabled=cannotSelect
        onchange=(action "onGroup")
      as |group|
      }}
        {{group.name}}
      {{/power-select}}
    </div>
    <div class="col-md-2">
      <button id="button-new" onclick={{action "onCopy"}} disabled={{cannotEdit}}>Create copy</button>
    </div>
  </div>

  <hr/>

  <div class="row te-modal__settings">
    <div class="col-md-2">
      <span class="te-label te-label--bold te-label--dark">Group name</span>
    </div>
    <div class="col-md-10">
      {{input
        type="text"
        id="name"
        value=group.name
        class="te-modal__input te-modal__input--fullwidth"
        disabled=cannotEdit
        key-up=(action "onName")
     }}
      {{#if groupNameMessage}}
        ({{groupNameMessage}})
      {{/if}}
    </div>
  </div>

  <div class="row te-modal__settings">
    <div class="col-md-2">
      <span class="te-label te-label--bold te-label--dark">Alerts</span>
    </div>
    <div class="col-md-10">
      {{#power-select-multiple
        triggerClass="te-modal__filter-select te-modal__filter-select--flushed"
        selected=functionOptionsSelected
        options=functionOptions
        renderInPlace=true
        searchField="name"
        triggerId="function-selection"
        disabled=cannotEdit
        onchange=(action "onFunctionIds")
      as |option|
      }}
        {{option.name}}
      {{/power-select-multiple}}
      {{#if hasFunctionShortcut}}
        (add <a {{action "onFunctionShortcut"}}>{{functionName}}</a> to alerts)
      {{/if}}
    </div>
  </div>

  <div class="row te-modal__settings">
    <div class="col-md-2">
      <span class="te-label te-label--bold te-label--dark">Schedule</span>
    </div>
    <div class="col-md-8">
      {{#power-select
        triggerClass="te-modal__filter-select te-modal__filter-select--flushed"
        selected=cronOptionSelected
        options=cronOptions
        renderInPlace=true
        searchEnabled=false
        triggerId="cron-selection"
        disabled=cannotEdit
        onchange=(action "onCron")
      as |option|
      }}
        {{option.name}}
      {{/power-select}}
    </div>
    <div class="col-md-2">
      <input
        type="checkbox"
        id="active"
        checked={{group.active}}
          disabled={{cannotEdit}}
      />
      <label for="active">Enabled</label>
    </div>
  </div>

  <div class="row te-modal__settings">
    <div class="col-md-2">
      <span class="te-label te-label--bold te-label--dark">Email subject</span>
    </div>
    <div class="col-md-10">
      {{#power-select
        triggerClass="te-modal__filter-select te-modal__filter-select--flushed"
        selected=subjectTypeOptionSelected
        options=subjectTypeOptions
        renderInPlace=true
        searchEnabled=false
        triggerId="subject-type-selection"
        disabled=cannotEdit
        onchange=(action "onSubjectType")
      as |option|
      }}
        {{option.name}}
      {{/power-select}}
    </div>
  </div>

  <div class="row te-modal__settings">
    <div class="col-md-2">
      <span class="te-label te-label--bold te-label--dark">Sender</span>
    </div>
    <div class="col-md-10">
      {{input
        type="text"
        id="from-address"
        value=group.fromAddress
        class="te-modal__input te-modal__input--fullwidth"
        disabled=cannotEdit
      }}
    </div>
  </div>

  <div class="row te-modal__settings">
    <div class="col-md-2">
      <span class="te-label te-label--bold te-label--dark">To</span>
    </div>
    <div class="col-md-10">
      {{textarea-autosize
        cols=80
        rows=3
        placeholder="Enter recipients (comma separated). E.g., user1@linkedin.com, user2@linkedin.com"
        type="text"
        id="to-addresses"
        value=toAddresses
        class="te-modal__input te-modal__input--fullwidth"
        disabled=cannotEdit
        key-up=(action "onToAddresses")
      }}
      {{#if toAddrWarning}}
        ({{toAddrWarning}})
      {{/if}}
    </div>
  </div>

  <div class="row te-modal__settings">
    <div class="col-md-2">
      <span class="te-label te-label--bold te-label--dark">Cc</span>
    </div>
    <div class="col-md-10">
      {{textarea-autosize
        cols=80
        rows=1
        placeholder="Enter recipients (comma separated). E.g., user1@linkedin.com, user2@linkedin.com"
        type="text"
        id="cc-addresses"
        value=ccAddresses
        class="te-modal__input te-modal__input--fullwidth"
        disabled=cannotEdit
        change=(action "onCcAddresses")
      }}
    </div>
  </div>

  <div class="row te-modal__settings">
    <div class="col-md-2">
      <span class="te-label te-label--bold te-label--dark">Bcc</span>
    </div>
    <div class="col-md-10">
      {{textarea-autosize
        cols=80
        rows=1
        placeholder="Enter recipients (comma separated). E.g., user1@linkedin.com, user2@linkedin.com"
        type="text"
        id="bcc-addresses"
        value=bccAddresses
        class="te-modal__input te-modal__input--fullwidth"
        disabled=cannotEdit
        change=(action "onBccAddresses")
      }}
    </div>
  </div>
{{/te-modal}}
