{{#if anomaly}}
  <div class="card-container card-container--box-shadow">
    <div class="card-container__body">
      <h3 class="rootcause-anomaly__title">
        <span>Is this a true anomaly?</span>
        <a href="https://iwww.corp.linkedin.com/wiki/cf/display/ENGS/Anomaly+Labeling+on+ThirdEye#AnomalyLabelingonThirdEye-WhataretheLabels?" target="_blank">Learn more about each option</a>
      </h3>
      <div class="rootcause-anomaly__dropdown">
        {{#power-select
          options=options
          selected=status
          onchange=(action "onFeedback")
          as |option|}}
          {{option}}
        {{/power-select}}
      </div>
      <div class="rootcause-anomaly__comment">
        <label for="feedback-comment">
          <span>Comment</span> (optional)
        </label>
        {{textarea
          placeholder="Enter a comment"
          id="feedback-comment"
          class="rootcause-anomaly__form"
          value=comment}}
      </div>
      <p class="rootcause-anomaly__note--italicize">Your feedback improves the accuracy of future alerts.</p>
    </div>
  </div>

  <div class="card-container card-container--box-shadow">
    <div class="card-container__body">
      <div class="rootcause-anomaly__info">
        <label>Anomaly: </label>
        <span>{{functionName}}</span>
      </div>
      <div class="rootcause-anomaly__info">
        <label>Anomaly Id: </label>
        <span>#{{anomalyId}}</span>
      </div>
      <div class="rootcause-anomaly__info">
        <label>Metric: </label>
        <span>{{metric}} ({{dimensions}})</span>
      </div>
      <div class="rootcause-anomaly__info">
        <label>Dataset: </label>
        <span>{{dataset}}</span>
      </div>
      <div class="row">
        <div class="col-xs-3 rootcause-anomaly__stats">
          <label class="rootcause-anomaly__stats-label">Start</label>
          <span class="rootcause-anomaly__stats__value">{{start}}</span>
        </div>
        <div class="col-xs-3 rootcause-anomaly__stats">
          <label class="rootcause-anomaly__stats-label">End</label>
          <span class="rootcause-anomaly__stats__value">{{end}}</span>
        </div>
        <div class="col-xs-2 rootcause-anomaly__stats">
          <label class="rootcause-anomaly__stats-label">Duration</label>
          <span class="rootcause-anomaly__stats__value">{{duration}}</span>
        </div>
        <div class="col-xs-2 rootcause-anomaly__stats">
          <label class="rootcause-anomaly__stats-label">Current Avg</label>
          <span class="rootcause-anomaly__stats__value">{{current}}</span>
        </div>
        <div class="col-xs-2 rootcause-anomaly__stats">
          <label class="rootcause-anomaly__stats-label">Baseline Avg</label>
          <span class="rootcause-anomaly__stats__value">{{baseline}}</span>
        </div>
        <div class="col-xs-2 rootcause-anomaly__stats">
          <label class="rootcause-anomaly__stats-label">Change</label>
          <span class="rootcause-anomaly__stats__value">{{change}}</span>
        </div>
        <div class="col-xs-2 rootcause-anomaly__stats">
          <label class="rootcause-anomaly__stats-label">Status</label>
          <span class="rootcause-anomaly__stats__value">{{status}}</span>
        </div>
        {{#if issueType}}
          <div class="col-xs-2">
            <label class="rootcause-anomaly__stats-label">Issue Type</label>
            <span class="rootcause-anomaly__stats__value">{{issueType}}</span>
          </div>
        {{/if}}
      </div>
    </div>
  </div>

{{else}}
  <div>Loading anomaly info ...</div>

{{/if}}
