{{#if anomaly}}
  <div class="card-container card-container--box-shadow">
    <div class="card-container__body">
      <div class="row">
        <div class="col-xs-12">
          <label>Anomaly</label>
          <span>{{functionName}} #{{anomalyId}}</span>
          <label>on metric </label>
          <span>{{metricFormatted}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2 rootcause-anomaly__stats">
          <label class="rootcause-anomaly__stats-label">Duration</label>
          <span class="rootcause-anomaly__stats__value">{{duration}}</span>
        </div>
        <div class="col-xs-2 rootcause-anomaly__stats">
          <label class="rootcause-anomaly__stats-label">Current Avg</label>
          <span class="rootcause-anomaly__stats__value">{{current}}</span>
        </div>
        <div class="col-xs-2 rootcause-anomaly__stats">
          <label class="rootcause-anomaly__stats-label">Baseline Avg</label>
          <span class="rootcause-anomaly__stats__value">{{baseline}}</span>
        </div>
        <div class="col-xs-2 rootcause-anomaly__stats">
          <label class="rootcause-anomaly__stats-label">Change</label>
          <span class="rootcause-anomaly__stats__value">{{changeFormatted}}</span>
        </div>
        <div class="col-xs-2 rootcause-anomaly__stats">
          <label class="rootcause-anomaly__stats-label">Status</label>
          <span class="rootcause-anomaly__stats__value">{{status}}</span>
        </div>
        {{#if issueType}}
          <div class="col-xs-2">
            <label class="rootcause-anomaly__stats-label">Issue Type</label>
            <span class="rootcause-anomaly__stats__value">{{issueType}}</span>
          </div>
        {{/if}}
      </div>
    </div>
  </div>

{{else}}
  <div>Loading anomaly info ...</div>

{{/if}}
