{{#if anomaly}}
  <div class="card-container card-container--box-shadow">
    <div class="card-container__body">
      <h3 class="rootcause-anomaly__title">
        <span>Is this a true anomaly?</span>
        <a href="https://iwww.corp.linkedin.com/wiki/cf/display/ENGS/Anomaly+Labeling+on+ThirdEye#AnomalyLabelingonThirdEye-WhataretheLabels?" target="_blank">Learn more about each option</a>
      </h3>
      <div class="rootcause-anomaly__dropdown">
        {{#power-select
          options=options
          selected=status
          onchange=(action "onFeedback")
          as |option|}}
          {{option}}
        {{/power-select}}
      </div>
      <div class="rootcause-anomaly__comment">
        <label for="feedback-comment">
          <span>Comment</span> (optional)
        </label>
        {{textarea
          placeholder="Enter a comment"
          id="feedback-comment"
          class="rootcause-anomaly__form"
          value=comment}}
      </div>
      <p class="rootcause-anomaly__note--italicize">Your feedback improves the accuracy of future alerts.</p>
    </div>
  </div>

  <div class="card-container card-container--box-shadow">
    <div class="card-container__body">
      <div class="row">
        <span>
          <div>{{functionName}}: Anomaly #{{anomalyId}}</div>
          <div>{{metric}} ({{dimensions}})</div>
          <div>{{dataset}}</div>
        </span>
      </div>

      <div class="row">
        <div class="col-xs-2">
          <label class="te-label">Duration</label>
          <span>{{duration}}</span>
        </div>
        <div class="col-xs-2">
          <label class="te-label">Current Avg</label>
          <span>{{current}}</span>
        </div>
        <div class="col-xs-2">
          <label class="te-label">Baseline Avg</label>
          <span>{{baseline}}</span>
        </div>
        <div class="col-xs-2">
          <label class="te-label">Change</label>
          <span>{{change}}</span>
        </div>
        <div class="col-xs-2">
          <label class="te-label">Status</label>
          <span>{{status}}</span>
        </div>
        {{#if issueType}}
          <div class="col-xs-2">
            <label class="te-label">Issue Type</label>
            <span>{{issueType}}</span>
          </div>
        {{/if}}
      </div>
    </div>
  </div>

{{else}}
  <div>Loading anomaly info ...</div>

{{/if}}
