{{#if anomaly}}
  <div class="row card-container card-container--md card-container--box-shadow">
    <div class="rootcause-anomaly__header">
      {{#if detectionConfigId}}
        <span class="rootcause-anomaly__title">
          Anomaly #{{anomalyId}} {{#link-to "manage.explore" detectionConfigId}}{{functionName}}{{/link-to}}
        </span>
      {{else}}
        <span class="rootcause-anomaly__title">Anomaly #{{anomalyId}} {{functionName}}</span>
      {{/if}}
      {{#each-in anomalyLinks as |type url|}}
        <span class="rootcause-anomaly__link">
          <a target="_blank" href="{{url}}">{{type}}</a>
        </span>
      {{/each-in}}
      <div class="rootcause-anomaly__icon">
        <a class="thirdeye-link thirdeye-link--tertiary thirdeye-link--muted" {{action "toggleHidden"}}>
          <span><i class="glyphicon glyphicon-menu-{{if isHidden "down" "up"}}"></i></span>
          {{#tooltip-on-element class="te-tooltip"}}
            {{#if isHidden}} Expand {{else}} Hide {{/if}}
          {{/tooltip-on-element}}
        </a>
      </div>
    </div>

    {{#unless isHidden}}
      <div class="rootcause-anomaly__body">
        <div class="row">
          <div class="col-xs-2">
            <span class="rootcause-anomaly__props-label">Metric</span>
          </div>
          <div class="col-xs-10">
            <span class="rootcause-anomaly__props-value">
              <span class="rootcause-anomaly__props-value">{{metricLabel}}</span>
            </span>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-2 rootcause-anomaly__props-label">
            <span>Time &amp; Duration</span>
          </div>
          <div class="col-xs-10">
            <span class="rootcause-anomaly__props-value">{{startFormatted}} - {{endFormatted}} ({{durationFormatted}})</span>
          </div>
        </div>

        <div class="rootcause-anomaly__stats-wrapper">
          {{#each availableOffsets as |offset|}}
            <div class="rootcause-anomaly__stats">
              <span class="rootcause-anomaly__stats-label">{{offset}}</span>
              <span class="rootcause-anomaly__stats-value">
                <span class="rootcause-anomaly__stats-number">{{get anomalyInfo (concat offset ".value")}}</span>
                  <span class="rootcause-anomaly__stats-change {{if (eq offset 'current') 'rootcause-anomaly__stats-change--hidden'}} rootcause-anomaly__stats-change--{{get anomalyInfo (concat offset ".direction")}}">
                    ({{get anomalyInfo (concat offset ".change")}})
                  </span>
              </span>
            </div>
          {{/each}}
        </div>
      </div>
      {{#if warningValue}}
      <div class="diffcurrent-alert alert alert-warning fade in">
        <h4><i class="glyphicon glyphicon-exclamation-sign"></i> Data has been changed since anomaly detected</h4>
        At the time when anomaly was detected, the data has changed from <strong>{{humanizedAnomalyCurrent}}</strong> to <strong>{{warningChangedTo}}</strong>.<br>
        No action is needed.  Anomaly will be labeled as <strong>Inconsistent Data</strong>.
      </div>
      {{/if}}
    {{/unless}}

    {{#unless warningValue}}
      <div class="rootcause-anomaly__body">
        <div class="row">
          <div class="col-xs-2 rootcause-anomaly__title rootcause-anomaly__title--small">
            Is this an anomaly?
            <span>
              <i class="glyphicon glyphicon-question-sign"></i>
              {{#tooltip-on-element side='right' class="te-tooltip te-tooltip--large te-tooltip--cover" as |popover|}}
                <div class="te-tooltip__header">
                  <span class="te-tooltip__title">What do the options mean?</span>
                </div>
                <div class="te-tooltip__body te-tooltip__body--large">
                  <div>
                    <span class="te-tooltip__title te-tooltip__title--small">Yes, its unexpected</span>
                  </div>
                  <p>Similar anomalies should continue to be detected.</p>
                  <div>
                    <span class="te-tooltip__title te-tooltip__title--small">Its an expected temporary change</span>
                  </div>
                  <p>Anomaly is caused by predictable events, such as holidays. Similar anomalies will continue to be detected.</p>
                  <div>
                    <span class="te-tooltip__title te-tooltip__title--small">Its an expected permanent change</span>
                  </div>
                  <p>Metric is experiencing a non-temporary change. Algorithm should adapt to new pattern.</p>
                  <div>
                    <span class="te-tooltip__title te-tooltip__title--small">No significant change observed</span>
                  </div>
                  <p>Similar anomalies should not be detected.</p>
                  <div>
                    <span class="te-tooltip__title">Why is this important?</span>
                  </div>
                  <p>This will help us improve detection performance and reduce false alarms.</p>
                </div>
              {{/tooltip-on-element}}
            </span>
          </div>
          {{#each options as |option|}}
            <div class="rootcause-anomaly__radio-button-item">
              {{#radio-button value=option groupValue=status changed=(action "onFeedback")}}
                <span class="te-radio__option">{{get optionsMapping option}}</span>
              {{/radio-button}}
            </div>
          {{/each}}
        </div>
      </div>
    {{/unless}}

    <div class="rootcause-anomaly__body">
      {{partial 'partials/si-note'}}
    </div>
  </div>

{{else}}
  <div>Loading anomaly info ...</div>

{{/if}}
