<div class="container">
  <div class="row">
    <div class="col-xs-12">
      ({{metricUrn}})
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 preview-chart">
      {{timeseries-chart
        series=series
        colorMapping=colorMapping
        axis=axis
        zoom=zoom
        legend=legend
      }}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <label>diagnostics path</label>
      {{#power-select
        selected=diagnosticsPath
        options=diagnosticsPathOptions
        searchEnabled=false
        triggerId="select-diagnostics-path"
        onchange=(action "onDiagnosticsPath")
      as |path|
      }}
        {{path}}
      {{/power-select}}
    </div>
    <div class="col-xs-4">
      <label>value key</label>
      {{#power-select-multiple
        selected=diagnosticsValues
        options=diagnosticsValueOptions
        triggerId="select-diagnostics-values"
        onchange=(action "onDiagnosticsValues")
      as |value|
      }}
        {{value}}
      {{/power-select-multiple}}
    </div>

  </div>
  <div class="row">
    <div class="col-xs-6">
      <label>Name</label>{{input value=detectionConfigName}}
      <label>Cron</label>{{input value=detectionConfigCron}}
      <button onClick={{action "onSave"}}>save</button>
    </div>
    <div class="col-xs-6">
      {{output}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      {{textarea-autosize
        placeholder="Enter detection config here ..."
        value=detectionConfig
        cols=70
        rows=16
      }}
      <button onClick={{action "onPreview"}}>preview</button>
    </div>
    <div class="col-xs-6">
      <p>{{errorTimeseries}}</p>
      <p>{{errorBaseline}}</p>
      <p>{{errorAnomalies}}</p>
      {{#each anomalyMetricEntities as | baseMetric |}}
        <p>
          <a {{action "onMetricLink" baseMetric.urn}}>{{baseMetric.label}}{{get-safe anomalyMetricUrnDimensionLabels baseMetric.urn}}</a>
          <ol>
          {{#each (get-safe anomalyMetricUrnDimensions baseMetric.urn) as | metric |}}
            <li><a {{action "onMetricLink" metric}}>{{get-safe anomalyMetricUrnDimensionLabels metric}}</a></li>
          {{/each}}
          </ol>
        </p>
      {{/each}}
    </div>
  </div>
</div>