<section class="card-container__body">
  {{#containers/dimensions-container as |dimensions|}}
    <div class="row rca-header">
      <div class="col-xs-9">
          <h3 class="te-sub-title te-sub-title--flush">Dimensions Analysis</h3> 
          {{#if dimensions.loaded}}
            <span>(Investigation Period: {{moment-format dimensions.regionStart dateFormat}} -
              {{moment-format dimensions.regionEnd dateFormat}})</span>
          {{/if}}
      </div>
      <div class="col-xs-3 pull-right">
        <label class="te-label" for="select-dimension">Break Dimensions by: </label>
          {{#power-select 
            triggerId="select-dimension"
            selected=dimension
            options=dimensions.keys
            onchange=(action (mut dimension))
            as |dimension|}}
            {{dimension}}
          {{/power-select}}
      </div>
    </div>

    <div class="rca-body">
      {{#containers/primary-metric-container as |summary actions|}}

        {{#if (or dimensions.loading (not (and summary.loaded dimensions.heatmapLoaded)))}}
          <div class="spinner-wrapper spinner-wrapper__border">
            {{ember-spinner}}
          </div>
        {{else}}
          {{anomaly-graph
            componentId='correlated-dimensions'
            showGraphLegend=false
            showLegend=true
            showSubchart=true
            primaryMetric=summary.primaryMetric 
            dimensions=dimensions.subdimensions
            selectedDimensions=summary.selectedDimensions
            analysisStart=dimensions.regionStart
            analysisEnd=dimensions.regionEnd
            minDate=displayStart
            maxDate=displayEnd
            onPrimaryClick=(action actions.onPrimaryClick)
            onSubchartChange=(action "setDateParams")
            onSelection=(action actions.onSelection)
            showDimensions=true}}
        {{/if}}
        
          <div class="contribution-table card-container">
            <div class="contribution-table__header">
              <div class="contribution-table__subnav">
                <a class="thirdeye-link thirdeye-link--nav {{if (eq selectedTab "change") "thirdeye-link--active"}}" href="#" {{action "onTabChange" "change"}}>Trend Analysis</a>
              </div>
              <div class="contribution-table__subnav">
                <a class="thirdeye-link thirdeye-link--nav {{if (eq selectedTab "details") "thirdeye-link--active"}}"  href="#" {{action "onTabChange" "details"}}>Contribution Analysis</a>
              </div> 
            </div>
            <div class="contribution-table__body card-container__body">
              {{#if (or dimensions.loading (not summary.loaded))}}
                <div class="spinner-wrapper">
                  {{ember-spinner}}
                </div>
              {{else if (eq selectedTab "details")}}
                {{#if dimensions.heatmapLoaded}}
                  {{outlet}}
                {{else}} 
                  <div class="spinner-wrapper">
                    {{ember-spinner}}
                  </div>
                {{/if}}
              {{else}}
                {{#if tableIsLoading}}
                  <div class="spinner-wrapper spinner-wrapper--absolute">
                    {{ember-spinner}}
                  </div>
                {{/if}}
                <div class="row rca-header">
                  <div class="col-xs-9"></div>
                  <div class="col-xs-3 pull-right">
                    {{#x-toggle 
                      value=showDetails 
                      classNames="te-toggle pull-right"
                      theme='ios'
                      showLabels=true
                      name="splitViewToggle"
                      onToggle=(action "onToggle")
                      as |toggle|}}
                        {{#toggle.label splitView=(not showDetails)}}
                          <span class="te-label">{{if showDetails 'Hide Details' 'Show Details'}}</span>
                        {{/toggle.label}}
                        {{toggle.switch theme='ios' onLabel='diff on' offLabel='diff off'}}
                    {{/x-toggle}} 
                  </div>
                </div>
                {{contribution-table
                  primaryMetric=summary.primaryMetric
                  dates=summary.primaryMetric.timeBucketsCurrent
                  granularity=summary.granularity
                  start=dimensionsStart
                  end=dimensionsEnd
                  dimensions=dimensions.subdimensions
                  showDetails=showDetails
                  stopLoading=(action "onRendering")
                }} 
              {{/if}}
            </div>
          </div>

      {{/containers/primary-metric-container}}
    </div>
  {{/containers/dimensions-container}}
 </section>